<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Редактировать объявление.</h4>

{error}

<form method="post">
<input type="hidden" name="frmEditForm" value="true">
<input type="hidden" name="intRecordId" value="{intRecordId}">
<table class="cms-box">
  <tr>
    <td>
      <table cellpadding=2 cellspacing=1 width=600>
        <tr valign="bottom">
          <td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>КАРТОЧКА ОБЪЯВЛЕНИЯ</b></span></td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Раздел объявления:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <select name="intChapterId" class="plane" style="width:90%;{brdError_Chapters}">
              <option value="">выберите...</option>
<loop list.of.ads.chapters>
              <option value="{paac_id}"{sel}>{paac_name}</option>
</loop list.of.ads.chapters>
            </select>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Заголовок объявления:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <input type="text" name="strName" class="plane" value="{strName}" maxlength=255 style="width:90%;{brdError_Name}">
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Текст объявления:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <textarea name="strDesc" style="width:90%;height:176px;overflow-y:visible;word-wrap:break-word;{brdError_Desc}" class="plane">{strDesc}</textarea>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Контактная информация:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <textarea name="strContacts" style="width:90%;height:46px;overflow-y:visible;word-wrap:break-word;{brdError_Contacts}" class="plane">{strContacts}</textarea>
          </td>
        </tr>
        <tr>
          <td colspan=2 class="tdL">
            <table cellpadding=0 cellspacing=0>
              <tr>
              	<td><input type="checkbox" name="cbxStatus"{cbxStatus} id="cbxStatus"></td>
              	<td><label for="cbxStatus"><span class="tab-gb finger" style="font:9px">- статус активности</span></label></td>
              </tr>
              <tr>
              	<td><input type="checkbox" name="cbxReturn"{cbxReturn} id="cbxReturn"></td>
              	<td><label for="cbxReturn"><span class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="right" height="30">
<if is.edit>
            <input type="button" id="del_ad" name="del_ad" value="удалить объявление" class="plane-reset" onClick="confirmDelete('{module.parent}?stPage={stPage}&id={intRecordId}&act=del');">
</if is.edit>
            <input type="submit" name="submit" value="сохранить" class="plane-save">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>

<tpl footer>
