<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Объявления раздела Недвижимость и Участки</h4>

{error}


{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
  <tr bgcolor="{cFirstColor}">
    <td class="tab-head-w" width="5%">ID</td>
    <td class="tab-head-w">Название</td>
    <td class="tab-head-w" width="86">Опции</td>
  </tr>
<loop list>
  <tr {bg}>
    <td><b>{pael_id}</b></td>
    <td>{pael_name}</td>
    <td align="center">
      <img src="{strAdminImg}status_{pael_status}.gif" border="0" hspace="5">
      <a href="{module.child}?id={pael_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
      <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={pael_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
    </td>
  </tr>
</loop list>
</table>

<tpl footer>
