<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Редактирование объявления</h4>

{error}

<form method="post">
<input type="hidden" name="frmEditEstateLands" value="true">
<input type="hidden" name="intRecordId" value="{intRecordId}">
<table class="cms-box">
  <tr>
    <td>
      <table cellpadding=2 cellspacing=1>
        <tr valign="bottom">
          <td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>КАРТОЧКА ОБЪЯВЛЕНИЯ РАЗДЕЛА "НЕДВИЖИМОСТЬ/УЧАСТКИ"</b></span></td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Раздел объявления:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <select name="intChapterId" class="plane" style="{brdError_intChapterId}">
              <option value="">выберите...</option>
<loop list>
              <option value="{paec_id}" {sel}>{paec_name}</option>
</loop list>
            </select>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Объект:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <input type="text" name="strName" class="plane" value="{strName}" maxlength=80 style="width: 90%;{brdError_strName}" />
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Адрес:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <textarea name="strAddress" style="width:90%;height:46px;overflow-y:visible;word-wrap:break-word;{brdError_strAddress}" class="plane">{strAddress}</textarea>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Организация:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <textarea name="strOrgName" style="width:90%;height:46px;overflow-y:visible;word-wrap:break-word;{brdError_strOrgName}" class="plane">{strOrgName}</textarea>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Телефон:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <input type="text" name="strPhone" class="plane" value="{strPhone}" maxlength=80 style="width: 90%;{brdError_strPhone}" />
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Контактное лицо:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <input type="text" name="strContact" class="plane" value="{strContact}" maxlength=80 style="width: 90%;{brdError_strContact}" />
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Полезная информация:&nbsp;</span></td>
          <td width="75%" class="tdR">
            <textarea name="strInfo" style="width:90%;height:40px;overflow-y:visible; word-wrap:break-word;" class="plane">{strInfo}</textarea>
          </td>
        </tr>
        <tr>
          <td colspan=2 class="tdL">
            <table cellpadding=0 cellspacing=0>
              <tr>
              	<td><input type="checkbox" name="cbxStatus"{cbxStatus} id="cbxStatus"></td>
              	<td><label for="cbxStatus"><span class="tab-gb finger" style="font:9px">- статус активности</span></label></td>
              </tr>
              <tr>
              	<td><input type="checkbox" name="cbxReturn"{cbxReturn} id="cbxReturn"></td>
              	<td><label for="cbxReturn"><span class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="right" height="30">
            <input type="submit" name="submit" value="сохранить" class="plane-save">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>

<tpl footer>
