<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Список объявлений на разные тематики.</h4>

{error}

{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
  <tr bgcolor="{cFirstColor}">
    <td class="tab-head-w" width="5%">ID</td>
    <td class="tab-head-w">Название</td>
    <td class="tab-head-w">Раздел</td>
    <td class="tab-head-w" width="86">Опции</td>
  </tr>
<loop list>
  <tr {bg}>
    <td><b>{paa_id}</b></td>
    <td>{paa_name}</td>
    <td>{paac_name}</td>
    <td align="center">
      <img src="{strAdminImg}status_{paa_status}.gif" border="0" hspace="5">
      <a href="{module.child}?id={paa_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
      <a href="javaScript: void(0)" onClick="confirmDelete('{module.name}?stPage={stPage}&id={paa_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
    </td>
  </tr>
</loop list>
</table>


<tpl footer>
