<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Раздел добавления/редактирования статей Аналитики.</h4>

{error}

<span >поля, отмеченные звёздочкой (<font color="red">*</font>), обязательны для заполнения</span><br />

<form method="post" enctype="multipart/form-data">
<input type="hidden" name="frmEditArticle" value="true">
<input type="hidden" name="intRecordId" value="{intRecordId}">
<table class="cms-box">
  <tr>
    <td>
      <table cellpadding='2' cellspacing='1'>
        <tr valign="bottom">
          <td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О СТАТЬЕ</b></span></td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Заголовок:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength=255 style="width:400px">
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Анонс статьи:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <textarea name="strAnonsBody" style="width:400px;height:50px;overflow-y:visible; word-wrap:break-word;" class="plane">{strAnonsBody}</textarea>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Тело статьи:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <textarea name="strTextBody" style="width:400px;height:80px;overflow-y:visible; word-wrap:break-word;" class="plane">{strTextBody}</textarea>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Дата публикации:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <select name="intDay" class="plane">
            <loop days>
              <option value="{intDay}"{selDay}>{strDay}</option>
            </loop days>
            </select>
            <select name="intMonth" class="plane">
            <loop months>
              <option value="{intMonth}"{selMonth}>{strMonth}</option>
            </loop months>
            </select>
            <select name="intYear" class="plane">
            <loop years>
              <option value="{intYear}"{selYear}>{strYear}</option>
            </loop years>
            </select>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top" style="padding-top:6px"><span class="txt-9-b">Файл в формате MSWord:&nbsp;</span><br>
<span class="txt-page-ob-desc">расширения DOC / RTF <br />а также PDF </span></td>
          <td width="75%" class="tdR">
<if exist.files>
<loop list.files>
<p><img src="{strAdminImg}li_right.gif" border="0"> <span class="tab-gb">{paf_title} [{paf_filename}]</span> | <a href="{cfgFilesUrl}analitics/{paf_filename}" target="_blank" class="link-green">посмотреть файл</a>  | <a href="#" class="link-red" onClick="confirmDelete('{module.name}?stPage={stPage}&paf_id={paf_id}&id={intRecordId}&act=del');">удалить</a></p>
</loop list.files>
</if exist.files>
            <p>Наименование документа: <input type="text" name="strFileName" class="plane" value="{strFileName}" maxlength=255 style="width:200px" /></p>
            <input type="file" name="flPhoto" class="plane" style="width:400px">
          </td>
        </tr>
        <tr>
          <td colspan=2 class="tdL">

          <table cellpadding=0 cellspacing=0>
          <tr>
          	<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus}></td>
          	<td><span class="tab-gb" style="font:9px">- <label for="cbxStatus" class="finger">статус активности</label></span></td>
          </tr>
          <tr>
          	<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn}></td>
          	<td><span class="tab-gb" style="font:9px">- <label for="cbxReturn" class="finger">вернуться к редактированию после сохранения</label></span></td>
          </tr>
          </table>

          </td>
        </tr>
        <tr>
          <td colspan="2" align="right" height="40">
            <input type="submit" name="submit" value="сохранить" class="plane-save">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>

<br>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться к списку статей</a>

<tpl footer>
