<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Редактировать информацию анонса.</h4>

{error}


<form method="post">
<input type="hidden" name="frmEditAnonsM" value="true">
<input type="hidden" name="intRecordId" value="{intRecordId}">
<table class="cms-box">
  <tr>
    <td>
      <table cellpadding="2" cellspacing="1">
        <tr valign="bottom">
          <td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ ОБ АНОНСЕ МЕРОПРИЯТИЯ</b></span></td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Название анонса:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <input type="text" name="strAnonsName" class="plane" value="{strAnonsName}" maxlength=80 style="width: 90%;{brdErrorAName}" />
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Организатор, контактное лицо:&nbsp;</span></td>
          <td width="75%" class="tdR">
            <textarea name="strAnonsContacts" style="width:90%" class="plane">{strAnonsContacts}</textarea>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Место проведения:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <textarea name="strAnonsAddress" style="width:90%;{brdErrorAAddress}" class="plane">{strAnonsAddress}</textarea>
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right"><span class="txt-9-b">Дата, время проведения:&nbsp;</span><span class=tab-10-r>*</span></td>
          <td width="75%" class="tdR">
            <input type="text" name="strAnonsDate" class="plane" value="{strAnonsDate}" maxlength=80 style="width: 90%;{brdErrorADate}" />
          </td>
        </tr>
        <tr>
          <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Полезная информация:&nbsp;</span></td>
          <td width="75%" class="tdR">
            <textarea name="strAnonsInfo" style="width:90%" class="plane">{strAnonsInfo}</textarea>
          </td>
        </tr>
        <tr>
          <td colspan=2 class="tdL">
            <table cellpadding=0 cellspacing=0>
              <tr>
              	<td><input type="checkbox" name="cbxStatus"{cbxStatus} id="cbxStatus"></td>
              	<td><label for="cbxStatus"><span class="tab-gb finger" style="font:9px">- статус активности</span></label></td>
              </tr>
              <tr>
              	<td><input type="checkbox" name="cbxReturn"{cbxReturn} id="cbxReturn"></td>
              	<td><label for="cbxReturn"><span class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="right" height="30">
            <input type="submit" name="submit" value="сохранить" class="plane-save">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>

<tpl footer>
