<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Раздел для работы с {module.title}.</h4>

{error}


{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Название</td>
		<td class="tab-head-w" width="54">Опции</td>
	</tr>
	<loop list>
		<tr {bg}>
		<td><b>{sa_id}</b></td>
		<td><a href="{module.child}?id={sa_id}&stPage={stPage}" class="l">{sa_author}</a></td>
		<td>
			<a href="{module.child}?id={sa_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0></a>
			<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={sa_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0></a>
		</td>
		</tr>
	</loop list>
</table>

<tpl footer>
