<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Раздел для работы с баннерами, картинками.</h4>

{error}

<if showlist>
	<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3> <a href="{module.name}?action=add&stPage={stPage}" class="link-orange">добавить баннер...</a>
	<if records>
		{blockPaginator}
		<table cellpadding="3" cellspacing="1" width="98%">
			<tr bgcolor="{cFirstColor}">
				<td class="tab-head-w" width="5%">ID</td>
				<td class="tab-head-w">Название файла</td>
				<td class="tab-head-w">Расположение баннера</td>
				<td class="tab-head-w">Описание</td>
				<td class="tab-head-w" width="46">Статус</td>
				<td class="tab-head-w" width="54">Опции</td>
			</tr>
			<loop list>
				<tr {bg}>
				<td><b>{si_id}</b></td>
				<td><a href="{module.name}?id={si_id}&stPage={stPage}" class="l">{si_filename}</a></td>
				<td>{strRasp}</td>
				<td>{si_desc}</td>
				<td align="center"><input type="checkbox" id="cbxStatus{si_id}" name="cbxStatus" {cbxStatus} disabled/><label for="cbxStatus{si_id}"></label></td>
				<td align="center">
					<a href="{module.name}?id={si_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
					<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id_del={si_id}');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
				</td>
				</tr>
			</loop list>
		</table>
	</if records>
	<if norecords>
		<p><b class="error">Нет записей для просмотра</b></p>
	</if norecords>
</if showlist>

<if editrecord>
	<form method="post" enctype="multipart/form-data">
		<input type="hidden" name="frmEditForm" value="true">
		<input type="hidden" name="intRecordId" value="{intRecordId}">
		<table class="cms-box">
			<tr>
				<td>
					<table cellpadding=2 cellspacing=1 width=600>
						<tr valign="bottom">
							<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ФАЙЛЕ БАННЕРА</b></span></td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Описание:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
								<input type="text" name="strFileDesc" class="plane" value="{strFileDesc}" maxlength=255 style="width:400px">
							</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Файл:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
								<if is.image>
									<p><a href="javascript:void(0);" onClick="jsShowModal('{cfgAllImg}banners/{strFileName}', 400, 300, 'no', 'no', 'img{intRecordId}');" class="link-blue">смотреть фото...</a></p>
								</if is.image>
								<input type="file" name="flPhoto" class="file" style="width:400px">
								<div style="margin-top:7px;">или заполните содержимое Flash-баннера</div>
								<div>
									<textarea name="strBannerContent" style="width:400px;height:40px;overflow-y:visible; word-wrap:break-word;" class="plane">{strBannerContent}</textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Ссылка на http://:&nbsp;</span></td>
							<td width="75%" class="tdR">
								<input type="text" name="strFileUrlTo" class="plane" value="{strFileUrlTo}" maxlength=255 style="width:400px">
							</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Установить ...:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
								<div>
									<input type="radio" name="rbWhere" value="left" id="rb1" checked /><label for="rb1"> - в левом меню</label>
								</div>
								<div>
									<input type="radio" name="rbWhere" value="top_l" id="rb5" {ch_top_l} /><label for="rb5"> - верхний баннер, левый</label>
								</div>
								<div>
									<input type="radio" name="rbWhere" value="top" id="rb2" {ch_top} /><label for="rb2"> - верхний баннер, центральный</label>
								</div>
								<div>
									<input type="radio" name="rbWhere" value="top_r" id="rb4" {ch_top_r} /><label for="rb4"> - верхний баннер, правый</label>
								</div>
								<div>
									<input type="radio" name="rbWhere" value="right" id="rb3" {ch_right} /><label for="rb3"> - в правое меню</label>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan=2 class="tdL">

								<table cellpadding=0 cellspacing=0>
									<tr>
										<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
										<td><label for="cbxStatus"><span class="tab-gb" style="font:9px">- статус активности</span></label></td>
									</tr>
									<tr>
										<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
										<td><label for="cbxReturn"><span class="tab-gb" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
									</tr>
								</table>

							</td>
						</tr>
						<tr>
							<td colspan="2" align="right" height="40">
								<input type="submit" name="submit" value="сохранить" class="standart">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</form>

	<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.name}?stPage={stPage}" class="link-blue">вернуться к списку баннеров</a>
</if editrecord>

<tpl footer>
