<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Раздел CartoonBaza - карикатуры, шаржы, рисунки</h4>

{error}

<if showlist>
	<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3> <a href="{module.name}?action=add&stPage={stPage}" class="link-orange">добавить изображение ...</a>
	<if records>
		{blockPaginator}
		<table cellpadding="3" cellspacing="1" width="98%">
			<tr bgcolor="{cFirstColor}">
				<td class="tab-head-w" width="5%">ID</td>
				<td class="tab-head-w">Название файла</td>
				<td class="tab-head-w">Имя файла</td>
				<td class="tab-head-w" width="46">Статус</td>
				<td class="tab-head-w" width="54">Опции</td>
			</tr>
			<loop list>
				<tr {bg}>
                    <td><b>{si_id}</b></td>
                    <td><a href="{module.name}?id={si_id}&stPage={stPage}" class="l">{si_title}</a></td>
                    <td>{si_filename}</td>
                    <td align="center"><input type="checkbox" id="cbxStatus{si_id}" name="cbxStatus" {cbxStatus} disabled/><label for="cbxStatus{si_id}"></label></td>
                    <td align="center">
                        <a href="{module.name}?id={si_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
                        <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id_del={si_id}');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
                    </td>
				</tr>
			</loop list>
		</table>
	</if records>
	<if norecords>
		<p><b class="error">Нет записей для просмотра</b></p>
	</if norecords>
</if showlist>

<if editrecord>
<form method="post" enctype="multipart/form-data">
	<input type="hidden" name="frmEditForm" value="true">
	<input type="hidden" name="intRecordId" value="{intRecordId}">
	<table class="cms-box">
		<tr>
			<td>
				<table cellpadding=2 cellspacing=1 width=600>
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ФАЙЛЕ</b></span></td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Наименование:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strFileTitle" name="strFileTitle" class="plane" value="{strFileTitle}" maxlength=255 />
						</td>
					</tr>
					<tr>
						<td class="tdL caption"><span class="txt-9-b">Описание:&nbsp;</span></td>
						<td width="75%" class="tdR"><textarea id="strDesc" name="strDesc" class="plane">{strDesc}</textarea></td>
					</tr>
					<tr>
						<td class="tdL caption"><span class="txt-9-b">Автор:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strReporter" name="strReporter" class="plane" value="{strReporter}" maxlength="255" />
						</td>
					</tr>
					<tr>
						<td class="tdL caption"><span class="txt-9-b">Ключевые слова:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strTags" name="strTags" class="plane" value="{strTags}" maxlength="255" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Файл:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<if is.image>
								<p><a href="{cfgAllImg}fotobank/cartoonbaza/s_m_a_l_l_{strFileName}" id="cartoonbaza-photo"><img src="{cfgAllImg}fotobank/cartoonbaza/t_h_u_m_b_{strFileName}" alt="{strFileTitle}" /></a></p>
                                <input type="hidden" name="isImageUploaded" value="true" />
							</if is.image>
							<input type="file" name="flPhoto" class="file" style="width:400px" />
						</td>
					</tr>
					<tr>
						<td colspan=2 class="tdL">

							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
									<td><label for="cbxStatus"><span class="tab-gb" style="font:9px">- статус активности</span></label></td>
								</tr>
								<tr>
									<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
									<td><label for="cbxReturn"><span class="tab-gb" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td colspan="2" align="right" height="40">
							<input type="submit" name="submit" value="сохранить" class="standart">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>

	<script type="text/javascript">
		//<![CDATA[
		jQuery(document).ready(function ($) {
			$('#cartoonbaza-photo').fancybox();
		});
		//]]>
	</script>

<a href="{module.name}?stPage={stPage}" class="link-blue">&laquo; вернуться к списку</a>
</if editrecord>


<tpl footer>
