<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Выберите компанию из списка существующих и укажите ID объекта</h4>

{error}

<form method="POST">
<input type="hidden" name="frmSearchCompanies" value="true"/>
<input type="hidden" name="intObjID" value="{intObjID}"/>
<table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}" width="460px">
  <tr>
    <td colspan="3">
      Искать компании по...
    </td>
  </tr>
  <tr>
    <td width="20%">...ID:</td>
    <td>
      <input type="text" id="intCmpID" name="intCmpID" class="plane" value="{intCmpID}" maxlength=255 style="width:40px" />
    </td>
    <td rowspan="4" width="15%" valign="bottom" style="padding-bottom:3px">
      <input type="submit" name="submit" class="plane finger" value="искать" />
    </td>
  </tr>
  <tr>
    <td>...названию:</td>
    <td>
      <input type="text" id="strCmp" name="strCmp" class="plane" value="{strCmp}" maxlength=255 style="width:100%" />
    </td>
  </tr>
  <tr>
    <td>...ИНН:</td>
    <td>
      <input type="text" id="strInn" name="strInn" class="plane" value="{strInn}" maxlength=255 style="width:100%" />
    </td>
  </tr>
  <tr>
    <td>...ФИО:</td>
    <td>
      <input type="text" id="strFIO" name="strFIO" class="plane" value="{strFIO}" maxlength=255 style="width:100%" />
    </td>
  </tr>
</table>
</form>

<form method="POST" style="margin-top:10px">
<input type="hidden" name="frmAttachCmp" value="true"/>
<table cellPadding="2" cellSpacing="2">
  <tr>
    <td><b>Объект:</b></td>
    <td>
<if exist.obj>
      <input type="hidden" name="intObjID" value="{intObjID}"/>
      <a href="{module.obj}?id={intObjID}#companies" class="link-blue" style="font-size:11px"><b>{strObject}</b></a> / {strAddress}
</if exist.obj>
<if set.obj>
      <input type="text" id="intObjID" name="intObjID" class="plane" value="{intObjID}" maxlength=7 style="width:60px" /><span style="font-size:9px;color:#939393"> - укажите ID</span>
</if set.obj>
    </td>
  </tr>
</table>

<if need.company.set>
<p class="tab-o">
Чтобы "увязать" <if exist.obj>указанный</if exist.obj> объект с компанией, задайте параметры поиска компании. Нажмите «искать». <br>
<if set.obj>Укажите ID обекта. </if set.obj>В списке найденых компаний отметьте одну или несколько, и нажмите «присоединить».<br>

</p>
</if need.company.set>

<if show.companies>
{blockPaginator}
<table cellPadding="2" cellSpacing="2" class="tbl-list list-rel-companies">
  <tr bgcolor="{cFirstColor}">
    <td class="tab-head-w">&nbsp;</td>
    <td class="tab-head-w">ID</td>
    <td class="tab-head-w">Наименование</td>
    <td class="tab-head-w">ИНН</td>
    <td class="tab-head-w">ФИО</td>
    <!--<td class="tab-head-w">Тип</td>-->
    <td class="tab-head-w">Статус</td>
  </tr>
<loop companies>
  <tr>
    <td><input type="checkbox" id="cmpID_{sec_id}" name="cmpID[{sec_id}]"/></td>
    <td><a href="{module.cmp}?id={sec_id}&id_obj={intObjID}" class="l">{sec_id}</a></td>
    <td><a href="{module.cmp}?id={sec_id}&id_obj={intObjID}" class="link-blue">{sec_company}</a></td>
    <td>{sec_inn}</td>
    <td>{sec_fio}</td>
    <!--<td>{secType}</td>-->
    <td><input type="checkbox" name="cbxStatus" {cbxStatus} disabled /></td>
  </tr>
</loop companies>
  <tr>
    <td colspan="7" align="left" valign="bottom">
      <input type="submit" id="saveAttach" name="saveAttach" class="plane finger" value="присоединить" />
    </td>
  </tr>
</table>
</if show.companies>
</form>


<tpl footer>
