<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Редактировать информацию компании (контакта)</h4>

{error}

<form method="post" enctype="multipart/form-data">
	<input type="hidden" name="frmEditForm" value="true">
	<input type="hidden" name="intRecordId" value="{intRecordId}">
	<table class="cms-box">
		<tr><td><table cellpadding=2 cellspacing=1 width=770>
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25" style="text-align: center"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О КОМПАНИИ</b></span></td>
					</tr>

					<tr><td width="25%" class="tdL" align="right"><span class="txt-9-b">Компания</span> <font color="red">*</font></td>
						<td width="75%" class="tdR"><input type="text" name="strCompany" class="plane" value="{strCompany}" maxlength=255 style="width:350px"></td>
					</tr>
					<tr><td width="25%" class="tdL" align="right"><span class="txt-9-b">ИНН</span></td>
						<td width="75%" class="tdR"><input type="text" name="strCompanyInn" class="plane" value="{strCompanyInn}" maxlength=32 style="width:350px"></td>
					</tr>
					<tr><td width="25%" class="tdL" align="right"><span class="txt-9-b">Тел.</span> <font color="red">**</font></td>
						<td width="75%" class="tdR"><input type="text" name="strFIO" class="plane" value="{strFIO}" maxlength=255 style="width:350px"></td>
					</tr>
					<tr><td width="25%" class="tdL" align="right"><span class="txt-9-b">E-mail</span></td>
						<td width="75%" class="tdR"><input type="text" name="strProff" class="plane" value="{strProff}" maxlength=255 style="width:350px"></td>
					</tr>
					<tr><td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Контактные лица и сотрудники</span></td>
						<td width="75%" class="tdR"><textarea name="strContact" style="width:350px;height:70px;overflow-y:visible; word-wrap:break-word;" class="plane">{strContact}</textarea></td>
					</tr>
					<tr><td width="25%" class="tdL" align="right"><span class="txt-9-b">Привязать к объекту ID</span></td>
						<td width="75%" class="tdR">
							<div style="padding:3px;">
								<div style="float:left;margin-right:5px"><input type="text" id="intObjID" name="intObjID" class="plane" value="{intObjID}" maxlength=255 style="width:60px" /></div>
								<div style="float:left;margin-right:5px;padding-top:3px"><span class="txt-9-b">Тип отношений</span></div>
								<div style="float:left">
									<select id="strTypeSet" name="strTypeSet" class="plane">
										<option value="">выберите...</option>
										<loop types.set>
											<option value="{typeExt}">{strType}</option>
										</loop types.set>
									</select>
								</div>
								<div style="clear:both"></div>
							</div>
						</td>
					</tr>

					<if rel.objects>
						<tr valign="bottom">
							<td colspan="2" class="tdL" style="text-align: center; padding-bottom: 7px"><span class="txt-9-b"><b>КОМПАНИЯ ПРИВЯЗАНА К ОБЪЕКТАМ</b></span></td>
						</tr>

						<tr><td colspan="2" class="tdL">
								<table class="list-items companies">
<loop objects>                      <tr><td bgColor="#F0F0F0">{seo_id}</td>
                                        <td bgColor="#F0F0F0"><a href="estate.object.form?id={seo_id}" class="link-b">{strObject}</a></td>
                                        <td bgColor="#E0E6EE">{seo_address}</td>
                                        <td nowrap valign="top">
                                            <a href="{module.obj}?id={seo_id}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
                                            <a href="javascript:void(0)" onClick="confirmDelete('{module.parent}?id_cmp={intRecordId}&id_obj={socl_id_object}&type={socl_relation}&act=exclude&returnPath={urlReturnPath}');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3 title="Открепить объект от компании"></a>
                                            {strStatus}
                                        </td>
                                        <td align="right"><span class="txt-9-b">Тип отношений</span></td>
                                        <td>
                                            <select id="idRelObjType_{seo_id}" name="arrRelObjTypes[{seo_id}]" class="plane">
                                                <option value="">выберите...</option>
<loop types.{seo_id}>
                                                <option value="{typeExt}"{sel.{seo_id}}>{strType}</option>
</loop types.{seo_id}>
                                            </select>
                                        </td>
                                    </tr>
</loop objects>                 </table>
							</td>
						</tr>
					</if rel.objects>

					<tr><td colspan=2 class="tdL">
							<table cellpadding=0 cellspacing=0>
								<tr><td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus}></td>
									<td><label for="cbxStatus" class="tab-gb finger" style="font:9px">- статус активности</label></td>
								</tr>

								<tr><td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn}></td>
									<td><label for="cbxReturn" class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</label></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr><td colspan=2 class="tdL">
							<table cellpadding=0 cellspacing=0>
								<tr><td><font color="red">*</font></td>
									<td>- поля, обязательные для заполнения</td>
								</tr>

								<tr><td><font color="red">**</font></td>
									<td>- поля, необходимые для альтернативного заполнения</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr><td colspan="2" align="right" height="40">
							<if exist.cmp>
								<input type="button" name="delObj" value="удалить" class="plane-save" onClick="confirmDelete('{module.name}?act=del&id={intRecordId}')" style="background-color:#db9999">
							</if exist.cmp>
							<if new.attach>
								<if exist.object>
									<input type="button" name="attachObj" value="выбрать компанию.." class="plane-save" onClick="window.location.href='{module.ref.cmp}?id_obj={intObjID}'" style="background-color:#77AA77">
								</if exist.object>
							</if new.attach>
							<input type="submit" name="submit" value="сохранить" class="plane-save">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>

<br />

<if exist.object>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.obj}?{returnPath}#companies" class="link-blue">вернуться к объекту...</a><br>
</if exist.object>

<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">к списку компаний...</a>

<tpl footer>
