<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Раздел для работы с компаниями. Заказчики, застройщики и т.д.</h4>

{error}

<form action="?search" method="POST">
	<input type="hidden" name="frmSearchCompanies" value="true"/>
	<table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}; border: 1px solid #BFBFBF;" width="460px">
		<tr>
			<td colspan="3">
				Искать компании по...
			</td>
		</tr>
		<tr>
			<td width="24%">
				...ID:
			</td>
			<td>
				<input type="text" id="intCompanyID2Find" name="intCompanyID2Find" class="plane" value="{intCompanyID2Find}" maxlength=12 style="width:50px" />
			</td>
			<td rowspan="3" width="15%" valign="bottom" style="padding-bottom:3px">
				<input type="submit" name="submit" class="plane-save finger" value="искать" style="margin-bottom: -2px" />
			</td>
		</tr>
		<tr>
			<td>
				...названию:
			</td>
			<td>
				<input type="text" id="strCompanyName2Find" name="strCompanyName2Find" class="plane" value="{strCompanyName2Find}" maxlength=255 style="width:100%" />
			</td>
		</tr>
		<tr>
			<td>
				...ФИО:
			</td>
			<td>
				<input type="text" id="strFIO2Find" name="strFIO2Find" class="plane" value="{strFIO2Find}" maxlength=255 style="width:100%" />
			</td>
		</tr>
	</table>
</form>

{blockPaginator}
<table cellpadding="3" cellspacing="1" width="99%">
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Компания</td>
		<td class="tab-head-w">ИНН</td>
		<td class="tab-head-w">ФИО конт.лица</td>
		<td class="tab-head-w" width="42">Статус</td>
		<td class="tab-head-w" width="54">Опции</td>
	</tr>
	<loop companies>
		<tr {bg}>
		<td><b>{sec_id}</b></td>
		<td><a href="{module.child}?id={sec_id}&stPage={stPage}" class="l">{sec_company}</a></td>
		<td>{sec_inn}</td>
		<td>{sec_fio}</td>
		<td align="center"><input type="checkbox" id="cbxStatus{sec_id}" name="cbxStatus" {cbxStatus} disabled /><label for="cbxStatus{sec_id}"></label></td>
		<td>
			<a href="{module.child}?id={sec_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
			<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={sec_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
		</td>
		</tr>
	</loop companies>
	<if no.companies>
		<tr>
			<td colspan="6">
				<b class="err">Список пуст</b>
			</td>
		</tr>
	</if no.companies>
</table>

<tpl footer>
