<tpl header>
<tpl header.login.true>


<h2>{module.title}</h2>

{error}

<form method="post"><input type="hidden" name="frmEditForm" value="true">
    <table class="cms-box">
        <tr>
            <td>
                <table cellpadding=2 cellspacing=1 width=600>
                    <tr>
                        <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Контактная информация:&nbsp;</span><span class=tab-10-r>*</span></td>
                        <td width="75%" class="tdR">
                            <textarea name="strContacts" style="width:90%;height:46px;overflow-y:visible;word-wrap:break-word;{brdError_Contacts}" class="plane">{strContacts}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" height="30">
                            <input type="submit" name="submit" value="сохранить" class="plane-save">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

<tpl footer>
