<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для добавления дополнительной информации из сторонних источников.</h4>
{error}

<if form>
    <form method="post">
        <input type="hidden" name="intRecordId" value="{id}" />
        <input type="hidden" name="intObjectId" value="{oid}" />
        <table class="cms-box">
            <tr>
                <td>
                    <table cellpadding=2 cellspacing=1 width=600>
                        <tr valign="bottom">
                            <td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ ПО ОБЪЕКТУ: <span class="tab-gr">{objectName}</span></b></span></td>
                        </tr>
                        <tr>
                            <td width="25%" class="tdL" align="right"><span class="txt-9-b">Заголовок:&nbsp;</span><span class=tab-10-r>*</span></td>
                            <td width="75%" class="tdR">
                                <input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength=255 style="width:400px">
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" class="tdL" align="right"><span class="txt-9-b">Источник информации:&nbsp;</span><span class=tab-10-r>*</span></td>
                            <td width="75%" class="tdR">
                                <input type="text" name="strSource" class="plane" value="{strSource}" maxlength=255 style="width:400px">
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Текст статьи:&nbsp;</span><span class=tab-10-r>*</span></td>
                            <td width="75%" class="tdR">
                                <textarea name="strBody" style="width:400px;height:80px;overflow-y:visible; word-wrap:break-word;" class="plane">{strBody}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%" class="tdL" align="right"><span class="txt-9-b">Дата публикации:&nbsp;</span></td>
                            <td width="75%" class="tdR">
                                <input type="text" id="strDate" name="strDate" class="plane datepicker" value="{strDate}" maxlength=10 style="width:70px" />
                                <img src="{cfgSiteImg}calend.gif" border="0" id="btnDate" class="finger">
                            </td>
                        </tr>

                        <tr>
                            <td colspan=2 class="tdL">
                                <table cellpadding=0 cellspacing=0>
                                    <tr>
                                        <td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn}></td>
                                        <td><label for="cbxReturn" class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</label></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right" height="40">
                                <input type="submit" name="submit" value="сохранить" class="plane-save">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>

    <br />

    <img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3 /><a href="{module.name}?oid={oid}&stPage={stPage}" class="link-blue">вернуться к списку</a>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#strDate').datepicker({ dateFormat: "dd.mm.yy" });
            $('#btnDate').click(function(){
                $('#strDate').focus();
            });
        });
    </script>
</if form>





<ifelse form>
    <h3>{objectName} [ID: {oid}]</h3>
    <p><a href="{module.name}?oid={oid}&add=new&stPage={stPage}" class="link-orange"><img src="{strAdminImg}icon_in.gif" alt="Добавить"/> <b>добавить инфо</b></a></p>
    <table cellpadding="3" cellspacing="1">
        <tr bgcolor="{cFirstColor}">
            <td class="tab-head-w" width="50">ID</td>
            <td class="tab-head-w">Название</td>
            <td class="tab-head-w" width="120">Дата</td>
            <td class="tab-head-w" width="100">Опции</td>
        </tr>
        <loop list>
        <tr {bg}>
            <td><b>{id}</b></td>
            <td><a href="{module.name}?oid={oid}&id={id}&stPage={stPage}" class="l">{title}</a></td>
            <td>{strDate}</td>
            <td><a href="{module.name}?oid={oid}&id={id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
                <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&oid={oid}&id={id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
            </td>
        </tr>
        </loop list>
    </table>

    <br />

    <img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3 /><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться к списку объектов</a>
</ifelse form>

<tpl footer>
