<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел редактирования информации объекта недвижимости.</h4>

{error}

<form method="post" id="formEdit" name="formEdit" enctype="multipart/form-data">
<input type="hidden" name="frmEditForm" value="true" />
<input type="hidden" name="intRecordId" value="{intRecordId}" />
<table class="cms-box">
    <tr>
        <td>
            <table cellpadding=2 cellspacing=1 class="base-info">
            <tr valign="bottom">
                <td colspan="2" class="tdL chapterTitle"><span class="field-label"><b>ИНФОРМАЦИЯ ОБ ОБЪЕКТЕ</b></span></td>
            </tr>
            <tr>
                <td width="22%" class="tdL"><span class="field-label">Название:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td class="tdR">
                    <input type="text" name="strObjectName" class="plane" value="{strObjectName}" maxlength=255 style="width:400px"> <span class="italic-url-title">{objUrl}</span>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Раздел недвижимости:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td class="tdR">
                    <select name="intEstTypeId" class="plane">
                        <option value="">выберите ...</option>
                        <loop est.types>
                            <option value="{set_id}"{sel}>{set_name}</option>
                        </loop est.types>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Назначение объекта:&nbsp;</span></td>
                <td class="tdR">
                    <select name="intEstGoalId" class="plane">
                        <option value="">выберите ...</option>
                        <loop est.goals>
                            <option value="{seg_id}"{sel}>{seg_goal}</option>
                        </loop est.goals>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Описание / функции объекта:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strObjFunction" style="width:400px;height:70px;overflow-y:visible; word-wrap:break-word;" class="plane">{strObjFunction}</textarea>
                </td>
            </tr>
            <tr><td class="tdL"><span class="field-label">Регионы страны</span> <span class=tab-10-r>*</span></td>
                <td class="tdR">
                    <loop list.regions>
                        <input type="checkbox" id="cbxRegion{sr_id}" name="cbxRegion[]" value="{sr_id}" {cbxRegionSel} /> <label
                            for="cbxRegion{sr_id}">{sr_name}</label><br>
                    </loop list.regions>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Район региона:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td class="tdR">
                    <select name="intAdmReg" id="intAdmReg" class="plane" disabled></select><br />или впишите
                    <input type="text" name="strAdmRegionOther" id="strAdmRegionOther" class="plane" value="{strAdmRegionOther}" maxlength=255 style="width:410px">

                    <script type="text/javascript">
                        //<![CDATA[
                        var preselectedAdmReg = {preselectedAdmReg};

                        jQuery(document).ready(function ($) {
                            $("input[name='cbxRegion[]']").each(function(){
                                $(this).click(function(){
                                    getAdmRegions();
                                });
                            });

                            getAdmRegions();

                            $("#intAdmReg").change(function(){
                                if( $(this).val() > 0 ) {
                                    $("#strAdmRegionOther").attr('value', '');
                                }
                            });

                            $("#strAdmRegionOther").change(function(){
                                if( $(this).val().length > 0 ) {
                                    $("#intAdmReg").val(0);
                                }
                            });
                        });

                        /**
                         * Send request to get regions
                         */
                        function getAdmRegions() {
                            var urlApi = '/lib/api/check.adm.regions.js';
                            urlApi += '?unique='+getUnique();

                            var selectedRegions = [];
                            $("input[name='cbxRegion[]']:checked").each(function(){
                                selectedRegions.push($(this).val());
                            });

                            //
                            var senData = {
                                'get'   :'admreg'
                                , 'oid' :'{intRecordId}'
                                , 'rid' :selectedRegions
                            };

                            var arrRegs = {1:"СПб:", 2:"ЛО:", 3:"Мск:", 4:"МО:", 5:"СЗ:"};

                            $("#intAdmReg").empty().attr('disabled', true)
                                    .append('<option selected="selected" value="">выберите ...</option>');

                            if(selectedRegions.length>0) {
                                $.post(urlApi, senData, function(json, status){
                                    // get answer here
                                    if (status == 'success') {
                                        if (json.regions && json.regions.length > 0) {
                                            $.each(json.regions, function(key, optionSet) {
                                                $('#intAdmReg')
                                                        .append($("<option></option>")
                                                        .attr("value", optionSet.sra_id)
                                                        .attr("selected", (optionSet.sra_id == preselectedAdmReg))
                                                        .text(arrRegs[optionSet.sra_sr_id] + optionSet.sra_name));
                                            });
                                            $("#intAdmReg").attr('disabled', false);
                                        }
                                    } else {
                                        alert('Ошибка сервера!');
                                    }
                                }, 'json');
                            }
                        }
                        //]]>
                    </script>
                </td>
            <tr>
                <td class="tdL"><span class="field-label">Адрес:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td class="tdR">
                    <input type="text" name="strObjectAddress" class="plane" value="{strObjectAddress}" maxlength=255 style="width:400px">
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Главное Фото:&nbsp;</span></td>
                <td class="tdR">
                    <if photo>
                        <a href="{cfgAllImg}objects/{si_filename_big}" target="_blank"><img src="{cfgAllImg}objects/{si_filename}" border="0"></a>  | <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intPhotoId}&obj={intRecordId}&act=del');">удалить фото</a>
                    </if photo>
                    <if no.photo>
                        <input type="file" name="flPhoto" class="plane" size="60" style="width:400px">
                    </if no.photo>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Фотогалерея:&nbsp;</span><br /></td>
                <td class="tdR">
                    <if fotobank>
                        <p>Фотобанк &mdash; <a href="{module.fotobank}?id={intPhotoBankID}">{strPhotoBankName}</a></p>
                    </if fotobank>

                    <script type="text/javascript">var list_empty = 0;</script>
                    <ul class="fotobank-thumbs" id="attachedFiles">
                        <if list.images.empty>
                            <script type="text/javascript">list_empty = 1;</script>
                            <li>Фотогалерея пуста.</li>
                        </if list.images.empty>
                    </ul>
                    <br>
                    <div id="dropZone"></div>
                </td>
            </tr>

            <tr valign="bottom">
                <td colspan="2" class="tdL chapterTitle"><span class="field-label"><b>ПАРАМЕТРЫ</b></span></td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Вид строительства:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td class="tdR">
                    <select name="intVidId" class="plane">
                        <option value="">выберите ...</option>
                        <loop vid>
                            <option value="{sev_id}"{sel}>{sev_name}</option>
                        </loop vid>
                    </select><!--&nbsp; или впишите
                    <input type="text" name="strVidOther" class="plane" value="{strVidOther}" maxlength=255 style="width:250px">-->
                </td>
            </tr>

            <tr>
                <td class="tdL"><span class="field-label">Дата обновления информации:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" id="strEtapDate" name="strEtapDate" class="plane" value="{strEtapDate}" maxlength=10 style="width:70px" placeholder="дд.мм.гггг"/>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Описание этапа строительства:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td class="tdR">
                    <textarea name="strEtap" style="width:400px;height:40px;overflow-y:visible; word-wrap:break-word;" class="plane">{strEtap}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Площадь земельного участка:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" name="strSqZemUch" class="plane" value="{strSqZemUch}" maxlength=255 style="width:100px">
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Площадь застройки:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" name="strSqZastr" class="plane" value="{strSqZastr}" maxlength=255 style="width:100px">
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Общая площадь:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" name="strSqTotal" class="plane" value="{strSqTotal}" maxlength=255 style="width:100px">
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Этажность:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" name="strEtazh" class="plane" value="{strEtazh}" maxlength=255 style="width:40px">
                </td>
            </tr>

            <tr valign="bottom">
                <td colspan="2" class="tdL chapterTitle"><span class="field-label"><b>КОНСТРУКЦИИ</b></span></td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Каркас:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strKarkas" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strKarkas}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Фундамент:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strFundament" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strFundament}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Стены:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strSteni" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strSteni}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Окна:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strWindows" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strWindows}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Кровля:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strRoof" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strRoof}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Полы:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strFloor" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strFloor}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Двери, ворота:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strDoors" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strDoors}</textarea>
                </td>
            </tr>

            <tr valign="bottom">
                <td colspan="2" class="tdL chapterTitle"><span class="field-label"><b>О ДОКУМЕНТАХ</b></span></td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Правоустанавливающий документ:&nbsp;</span></td>
                <td class="tdR">
                    <textarea name="strPravoDoc" style="width:350px;height:30px;overflow-y:visible; word-wrap:break-word;" class="plane">{strPravoDoc}</textarea>
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Сроки проектирования:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" name="strPeriodProject" class="plane" value="{strPeriodProject}" maxlength=255 style="width:400px">
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Сроки строительства:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" name="strPeriodBuild" class="plane" value="{strPeriodBuild}" maxlength=255 style="width:400px">
                </td>
            </tr>
            <tr>
                <td class="tdL"><span class="field-label">Строительный объём:&nbsp;</span></td>
                <td class="tdR">
                    <input type="text" name="strBuildVolume" class="plane" value="{strBuildVolume}" maxlength=255 style="width:400px">
                </td>
            </tr>

            <tr valign="bottom">
                <td colspan="2" class="tdL chapterTitle"><span class="field-label"><b>КОМПАНИИ, КОНТАКТЫ</b></span></td>
            </tr>

            <tr valign="bottom">
                <td colspan="2" class="tdL" height="25"><a name="companies"></a>
                    <if can.add.companies>
                        <input type="button" name="btnRefContact" value="прикрепить компанию..." class="plane-save" onClick="window.location.href='{module.ref.contact}?id_obj={intRecordId}&stPage={stPage}&returnPath={urlReturnPath}'"/>
                        <input type="button" name="btnAddContact" value="добавить новую компанию..." class="plane-save" onClick="window.location.href='{module.add.contact}?id_obj={intRecordId}&stPage={stPage}&returnPath={urlReturnPath}'"/>
                    </if can.add.companies>

                    <if no.object.info>
                        <span class="err">Информация о компаниях может быть добавлена только после сохранения объекта. Установите галочку "вернуться к редактированию после сохранения" чтобы остаться на этой странице.</span>
                    </if no.object.info>
                </td>
            </tr>

            <loop companies>
                <tr>
                    <td class="tdL list-functions"><span class="field-label">{strCompanyType}:&nbsp;</span><br>
                        <a href="{module.add.contact}?id={sec_id}" class="link-blue" title="Перейти к форме редактирования компании">» редактировать компанию</a><br>
                        <a href="javascript:void(0)" onClick="confirmDelete('{module.companies}?id_cmp={sec_id}&id_obj={intRecordId}&act=unset&type={socl_relation}&returnPath={urlReturnPath}')" class="link-blue" title="Компания при этом не удалиться физически"><font color="red"><b>х</b></font> открепить компанию</a>
                    </td>
                    <td class="tdR">
                        <table cellPadding="1" cellSpacing="1" class="list-rel-companies">
                            <tr>
                                <td valign="top"><span class="txt-page-ob-desc">Компания</span></td>
                                <td><a href="{module.add.contact}?id={sec_id}" class="l"><b>{sec_company}</b></a></td>
                            </tr>
                            <tr>
                                <td valign="top"><span class="txt-page-ob-desc">ИНН</span></td>
                                <td>{sec_inn}</td>
                            </tr>
                            <tr>
                                <td valign="top"><span class="txt-page-ob-desc">ФИО</span></td>
                                <td>{sec_fio}</td>
                            </tr>
                            <tr>
                                <td valign="top"><span class="txt-page-ob-desc">E-mail</span></td>
                                <td>{sec_proff}</td> <!--Должность-->
                            </tr>
                            <tr>
                                <td valign="top"><span class="txt-page-ob-desc">Контакт</span></td>
                                <td>{sec_contact}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </loop companies>

            <tr><td colspan=2 class="tdL">
                <table cellpadding=0 cellspacing=0>
                    <tr><td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus}></td>
                        <td><label for="cbxStatus" class="tab-gb finger">- статус активности</label></td>
                    </tr>
                    <tr><td><input type="checkbox" id="cbxAccess" name="cbxAccess"{cbxAccess}></td>
                        <td><label for="cbxAccess" class="tab-gr finger">- публичный доступ к объекту</label></td>
                    </tr>
                    <tr><td><input type="checkbox" id="cbxAnons" name="cbxAnons"{cbxAnons}></td>
                        <td><label for="cbxAnons" class="tab-o finger">- поместить в блок "Анонсы номера"</label></td>
                    </tr>
                    <tr><td><input type="checkbox" id="cbxSB" name="cbxSB"{cbxSB}></td>
                        <td><label for="cbxSB" class="tab-bl-b finger">- для сайта "Свой Бизнес"</label></td>
                    </tr>
                    <tr><td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn}></td>
                        <td><label for="cbxReturn" class="tab-gb finger">- вернуться к редактированию после сохранения</label></td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr><td colspan="2" align="right" height="40"><input type="submit" name="submit" value="сохранить" class="plane-save"></td></tr>
            </table>
        </td>
    </tr>
</table>
</form>

<div id="propertiesZone"><form  method="post" id="save_property">
    <input type="hidden" id="intImageId" name="intImageId" /><!-- Здесь, уже ID фотографии -->
    <input type="hidden" id="intGroupId" name="intGroupId" value="{intPhotoBankID}" />
    <input type="hidden" id="strFilename" name="strFilename" />

    <p id="data_error" class="error">Необходимо заполнить хотя бы одно поле!</p>
    <table>
        <tr>
            <td>ID изображения</td>
            <td id="intImgValueShow"></td>
        </tr><tr>
        <td>Заголовок</td>
        <td><input type="text" id="strImageTitle" name="strImageTitle" value="" class="plane" maxlength="255"/></td>
    </tr><tr>
        <td>Автор</td>
        <td><input type="text" id="strAuthor" name="strAuthor" value="" class="plane" maxlength="255"/></td>
    </tr><tr>
        <td>Ключевые слова, фразы</td>
        <td><input type="text" id="strTags" name="strTags" value="" class="plane" maxlength="255"/></td>
    </tr><tr>
        <td>Описание картинки</td>
        <td><textarea id="strImageDesc" name="strImageDesc" class="plane"></textarea></td>
    </tr><tr>
        <td>ID объекта</td>
        <td><input type="text" id="intObjectId" name="intObjectId" value="" class="plane small" maxlength="9" /></td>
    </tr><tr>
        <td>Картинка активна</td>
        <td><input type="checkbox" id="cbxImageStatus" name="cbxImageStatus" /></td>
    </tr><tr>
        <td>Картинка группы</td>
        <td><input type="radio" id="rbGroupImage" name="rbGroupImage" /></td>
    </tr><tr>
        <td colspan="2" align="right">
            <input type="submit" value="Сохранить" class="plane-save" />
        </td>
    </tr>
    </table>
</form></div>


<script type="text/javascript">
    (function(){
        var original_gotoToday = $.datepicker._gotoToday;

        $.datepicker._gotoToday = function(id) {
            var target = $(id),
                    inst = this._getInst(target[0]);

            original_gotoToday.call(this, id);
            this._selectDate(id, this._formatDate(inst, inst.selectedDay, inst.drawMonth, inst.drawYear));
        }
    })();

    jQuery(document).ready(function ($) {
        $('#strEtapDate').datepicker({
            dateFormat: "dd.mm.yy"
            , showButtonPanel: true
            , changeMonth: true
            , changeYear: true
            , showOn: "button"
            , buttonImage: "{cfgSiteImg}calend.gif"
            , buttonImageOnly: true
        });
        $('#btnEtapDate').click(function(){
            $('#strEtapDate').focus();
        });
        $("a[rel=pic_group]").fancybox({
            'titleShow'		: true
            , 'titlePosition'	: 'over'
            , 'transitionIn'	: 'fade'
            , 'transitionOut'	: 'elastic'
        });
    });
</script>

<script type="text/javascript">
//<![CDATA[
var filesAttached = {filesAttached},
    filesInfo = {filesInfo},
    boxID = 'attachedFiles',
    fb_id = {intPhotoBankID},
    baseDir = 'fotobank/groups/',
    uploader = 'upload.fotobank.files.php?fb_id='+fb_id+'&eo_id={intRecordId}',
    maxFileSize = 1024 * 2000, // максимальный размер файла
    defaultText = "Для загрузки, перетащите файл на это поле. Максимальный размер 2 Мб";

/**
 * Сделаем основные вещи только после загрузки страницы
 */
jQuery(document).ready(function ($) {
    var dropZone = $('#dropZone');
    var boxFiles = $('#'+boxID);

    dropZone.text(defaultText).fadeIn(800);

    // Build list of files
    buildListOfAttachedFiles();

    if (typeof(window.FileReader) == undefined) {
        dropZone.text('Не поддерживается браузером!');
        dropZone.addClass('error');
    }

    // проверяем поддерживает ли браузер FormData
    if(!window.FormData) {
        /*
         * если не поддерживает, то выводим предупреждение
         */
        dropZone.text('Ваш браузер не поддерживает объект FormData для того чтобы перетащить сюда файл. Рекомендуемые браузеры: Firefox, Google Chrome, Safari');
        dropZone.addClass('error');
    }

    dropZone[0].ondragover = function() {
        dropZone.addClass('hover');
        return false;
    };

    dropZone[0].ondragleave = function() {
        dropZone.removeClass('hover');
        return false;
    };

    dropZone[0].ondrop = function(event) {
        event.preventDefault();
        dropZone.removeClass('hover');
        dropZone.addClass('drop');

        var file = event.dataTransfer.files[0];

        if (file.size > maxFileSize) {
            dropZone.text('Файл слишком большой!');
            dropZone.removeClass('hover').removeClass('drop').addClass('error');
            return false;
        }

        var fd = new FormData();
        fd.append("file", file);

        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener('progress', uploadProgress, false);
        xhr.onreadystatechange = stateChange;
        xhr.open('POST', '/'+uploader);
        xhr.setRequestHeader('X-FILE-NAME', file.name);
        xhr.send(fd);
    };

    function uploadProgress(event) {
        var percent = parseInt(event.loaded / event.total * 100);
        dropZone.text('Загрузка: ' + percent + '%');
    }

    function stateChange(event) {
        var tDelay = 2000;
        if (event.target.readyState == 4) {
            if (event.target.status == 200) {
                if (event.target.responseText.indexOf('OK')==1) {
                    dropZone.text('Загрузка файла успешно завершена!');
                    var insertedImgId = event.target.responseText.substring(4, event.target.responseText.indexOf('|')); // because of 4 chars "-OK-..."
                    var uploadedFileName = event.target.responseText.substring(event.target.responseText.indexOf('|')+1);

                    var fb_id = 0;
                    if (uploadedFileName.indexOf('@')) {
                        fb_id = uploadedFileName.substring(uploadedFileName.indexOf('@') + 1);
                        uploadedFileName = uploadedFileName.substring(0, uploadedFileName.indexOf('@'));
                    }

                    var newEl = {};
                    newEl[insertedImgId] = uploadedFileName;
                    $.extend(filesAttached, newEl);

                    if (fb_id>0 && uploader.indexOf('fb_id=0')) {
                        uploader = uploader.replace('fb_id=0', 'fb_id='+fb_id);
                    }
                    var today = getToday();


                    newEl[insertedImgId] = {'title':(fb_id>0?today:null), 'desc':null, 'tags':null, 'author':null, 'oid':null, 'active':true, 'main':false};
                    $.extend(filesInfo, newEl);

                    addImageToList( boxFiles, fb_id, uploadedFileName );

                } else {
                    dropZone.text('Произошла ошибка: '+event.target.responseText);
                    dropZone.removeClass('hover').removeClass('drop').addClass('error');
                    tDelay = 25000;
                }
            } else {
                dropZone.text('Произошла ошибка! '+event.target.responseText);
                dropZone.removeClass('hover').removeClass('drop').addClass('error');
                tDelay = 30000;
            }
            setTimeout(function(){
                dropZone.removeClass('hover').removeClass('error').removeClass('drop').text(defaultText);
            }, tDelay);
        }
    }

    $("#save_property").bind("submit", function() {
        // проверим наличие введённых данных
        if ($("#strAuthor").val().length < 1 && $("#strTags").val().length < 1 && $("#strImageDesc").val().length < 1) {
            $("#data_error").show();
            $.fancybox.resize();
            return false;
        }

        $.fancybox.showActivity(); // show loader

        $.ajax({
            type	: "POST",
            cache	: false,
            url		: "/upload.fotobank.files.php?act=idesc",
            data	: $(this).serialize(),
            success: function(data) {
                /**
                 * Действия после факта сохранения
                 */
                $.fancybox( $('<div>').addClass('ok').html(data) );
                $.fancybox.hideActivity();

                var currentImgId = $('#intImageId').val();

                filesInfo[currentImgId].tags = $("#strTags").val();
                filesInfo[currentImgId].author = $("#strAuthor").val();
                filesInfo[currentImgId].title = $("#strImageTitle").val();
                filesInfo[currentImgId].desc = $("#strImageDesc").val();
                filesInfo[currentImgId].oid = $("#intObjectId").val();
                filesInfo[currentImgId].active = $("#cbxImageStatus").is(':checked');
                filesInfo[currentImgId].main = $("#rbGroupImage").is(':checked');
                /**
                 * Все остальные не могут быть главными
                 */
                if (filesInfo[currentImgId].main) {
                    for (var img in filesInfo) {
                        if (currentImgId!=img) {
                            filesInfo[img].main = false;
                            $('#cell'+img).removeClass('main');
                        }
                    }
                    $('#cell'+currentImgId).addClass('main');
                    if (!filesInfo[currentImgId].active) {
                        filesInfo[currentImgId].active = true;
                    }
                }
                if (!filesInfo[currentImgId].active) {
                    $('#cell'+currentImgId).removeClass('active');
                } else {
                    if (!$('#cell'+currentImgId).hasClass('active'))
                        $('#cell'+currentImgId).addClass('active');
                }
            }
        });

        return false;
    });
});

function getToday() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {
        dd='0'+dd
    }

    if(mm<10) {
        mm='0'+mm
    }

    return dd+'-'+mm+'-'+yyyy;
}

function addImageToList( box, fb_id, filename ) {
    var path = "{cfgAllImg}"+baseDir+fb_id+"/"+filename,
        thumb = "{cfgAllImg}"+baseDir+fb_id+"/t_h_u_m_b_"+filename,
        siteIcons = "{strAdminImg}",
        currentImgId;

    if (list_empty) {
        list_empty=0;
        box.empty();
    }

    for(var key in filesAttached) {
        if (filesAttached[key]==filename)
            currentImgId = key;
    }

    box.append(
            $('<li>').append(
                    $('<div>').append(
                            $('<a>').attr('href', path).attr('rel','pic_group').append(
                                    $('<img>').attr('src', thumb).attr('title', filename).addClass('thumb')
                            )
                    )
            ).append(
                    $('<ul>').addClass('control-fotodata').append(
                            $('<li>').append(
                                    $('<a>').attr('href','#save_property').append(
                                            $('<img>').attr('src', siteIcons+'icon_edit.gif').attr('title', 'Редактировать описание картинки')
                                    ).fancybox({'autoDimensions'	: false
                                        ,'scrolling'		: 'no'
                                        ,'width'         	: 550
                                        ,'height'        	: 'auto'
                                        ,'showCloseButton' 	: true
                                        ,'modal'			: false
                                        /**
                                         * Заполнение формы картинки
                                         */
                                        ,'onComplete'		: function() {
                                            $("#intImageId").val( currentImgId );
                                            $("#strFilename").val( filename );
                                            $("#intImgValueShow").html( currentImgId );
                                            $("#strTags").val( filesInfo[currentImgId].tags );
                                            $("#strImageTitle").val( filesInfo[currentImgId].title );
                                            $("#strImageDesc").val( filesInfo[currentImgId].desc );
                                            $("#strAuthor").val( filesInfo[currentImgId].author );
                                            $("#intObjectId").val( filesInfo[currentImgId].oid );
                                            $("#cbxImageStatus").attr('checked', filesInfo[currentImgId].active );
                                            $("#rbGroupImage").attr('checked', filesInfo[currentImgId].main );
                                        }
                                        /**
                                         * Действия при закрытии формы редактирования картинки
                                         * Скидываем в дефолтные значения
                                         */
                                        ,'onClosed'			: function() {
                                            $("#data_error").hide();
                                            $("#strTags").val('');
                                            $("#strImageTitle").val('');
                                            $("#strImageDesc").val('');
                                            $("#strAuthor").val('');
                                            $("#intObjectId").val('');
                                            $("#cbxImageStatus").attr('checked', false );
                                            $("#rbGroupImage").attr('checked', false );
                                        }
                                    })
                            )
                    ).append(
                            $('<li>').append(
                                    $('<a>').attr('href','javascript:deleteAttachment(\''+filename+'\', '+currentImgId+')').append(
                                            $('<img>').attr('src', siteIcons+'icon_trash.gif').attr('title', 'Удалить файл')
                                    )
                            )
                    )
            ).addClass('cell'+ (filesInfo[currentImgId].main?' main':'')+(filesInfo[currentImgId].active?' active':''))
                    .attr('id','cell'+currentImgId)
    );
    if (box.is(':hidden')) {
        box.show(800);
    }
    $("a[rel=pic_group]").fancybox({
        'titleShow'		: true
        , 'titlePosition'	: 'over'
        , 'transitionIn'	: 'fade'
        , 'transitionOut'	: 'elastic'
    });
}

function deleteAttachment(filename, iid) {
    var msg = 'Действительно удалить?';
    if (filesInfo[iid].main) {
        msg = "Вы пытаетесь удалить главное изображение группы!\nЖелательно сначала назначить новое, иначе группа перестанет отображаться на сайте.\nУдалить?";
    }
    if (confirm(msg)) {
        $.get('{cfgSiteUrl}'+uploader+'&act=del&filename='+encodeURI(filename)+'&iid='+iid, function(){
            filesAttached = removeFromJson(filesAttached, filename);
            buildListOfAttachedFiles();
        });
    }
}

function buildListOfAttachedFiles() {
    var box = $('#'+boxID),
        fb_id = {intPhotoBankID};

    if (!list_empty)
        box.empty();

    if (typeof(filesAttached)=='object') {
        for (var a in filesAttached) {
            addImageToList( box, fb_id ,filesAttached[a] );
        }
        box.fadeIn(800);
    }
}
//]]>
</script>
<br /><img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>
<tpl footer>
