<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Раздел для работы с разделами недвижимости. Добавление, редактирование и удаление.</h4>

{error}

{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Название</td>
		<td class="tab-head-w" width="10%">Альяс</td>
		<td class="tab-head-w" width="42">Статус</td>
		<td class="tab-head-w" width="54">Опции</td>
	</tr>
	<loop list>
		<tr {bg}>
		<td><b>{set_id}</b></td>
		<td>{set_name}</td>
		<td>{set_alias}</td>
		<td align="center"><input type="checkbox" id="cbxStatus{set_id}" name="cbxStatus" {cbxStatus} disabled /><label for="cbxStatus{set_id}"></label></td>
		<td>
			<a href="{module.child}?id={set_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace="3"></a>
			<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={set_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace="3"></a>
		</td>
		</tr>
	</loop list>
</table>


<tpl footer>
