<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для работы с объектами недвижимости.</h4>

{error}

<form method="POST">
	<input type="hidden" name="frmSearchObjects" value="true"/>
	<table cellPadding="2" cellSpacing="1" style="background-color:#{cThirdColor}; border: 1px solid #BFBFBF; margin-bottom: 10px" width="500px">
		<tr><td colspan="3">Искать объекты по...</td></tr>
		<tr>
			<td width="30%">...ID объекта:</td>
			<td><input type="text" id="intObjectID2Find" name="intObjectID2Find" class="plane" value="{intObjectID2Find}" maxlength=255 style="width:40px" /></td>
			<td rowspan="4" width="15%" valign="bottom">
				<input type="submit" name="submit" class="plane-save finger" value="искать" style="margin-bottom: -2px" />
			</td>
		</tr>
		<tr>
			<td>...названию:</td>
			<td><input type="text" id="strObjectName2Find" name="strObjectName2Find" class="plane" value="{strObjectName2Find}" maxlength=255 style="width:100%" /></td>
		</tr>
		<tr>
			<td>...разделу:</td>
			<td>
                <select name="intEstTypeId" id="intEstTypeId">
                    <option value=""></option>
                    <loop est.types>
                    <option value="{set_id}"{sel}>{set_name}</option>
                    </loop est.types>
                </select>
            </td>
		</tr>
		<tr>
			<td>...адресу:</td>
			<td><input type="text" id="strObjectAddress2Find" name="strObjectAddress2Find" class="plane" value="{strObjectAddress2Find}" maxlength=255 style="width:100%" /></td>
		</tr>
        <tr>
			<td colspan="2">
                <input type="checkbox" id="strObjectComments2Find" name="strObjectComments2Find"{strObjectComments2Find} value="Y" class="plane"/>
                <label for="strObjectComments2Find">&mdash; только с комментариями</label>
            </td>
		</tr>
        <tr>
			<td colspan="2">
                <input type="checkbox" id="strPublicObjects2Find" name="strPublicObjects2Find"{strPublicObjects2Find} value="Y" class="plane"/>
                <label for="strPublicObjects2Find">&mdash; только публичные</label>
            </td>
		</tr>
	</table>
</form>

{blockPaginator}
<table cellpadding="3" cellspacing="1" class="rel">
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Название</td>
		<td class="tab-head-w" width="300">Раздел</td>
		<td class="tab-head-w" width="80">Комм-рии</td>
		<td class="tab-head-w" width="36">Публ.</td>
		<td class="tab-head-w" width="36">Фото</td>
		<td class="tab-head-w" width="44">Анонс</td>
		<td class="tab-head-w" width="44">Статус</td>
		<td class="tab-head-w" width="100">Опции</td>
	</tr>
	<loop list>
		<tr {bg}>
		<td><b>{seo_id}</b></td>
		<td><a href="{module.child}?id={seo_id}&stPage={stPage}" class="l">{seo_name}</a> <span class="tab-bl-b" style="margin-left: 30px"><b>{strSB}</b></span>
			<p style="margin:0;font-size:9px;color:#9F9F9F">{seo_address}</p>
		</td>
		<td>{set_name}</td>
		<td align="center"><if is.comments.{seo_id}><a href="{module.comments}?id={seo_id}&stPage={stPage}" class="l"><b></if is.comments.{seo_id}>{intCountComments}<if is.comments.{seo_id}></b></a></if is.comments.{seo_id}></td>
        <td align="center"><input type="checkbox" id="cbxAccess{seo_id}" name="cbxAccess" {cbxAccess} disabled /><label for="cbxAccess{seo_id}"></label></td>
		<td align="center"><if photo.{seo_id}><a href="#" onClick="jsShowModal('{cfgAllImg}objects/object.photo.{seo_id}.b.jpg', 420, 380, 'no', 'yes', 'image{seo_id}')"><img src="{strAdminImg}attach.gif" border="0"></a></if photo.{seo_id}>&nbsp;</td>
		<td align="center"><input type="checkbox" id="cbxAnons{seo_id}" name="cbxAnons" {cbxAnons} disabled /><label for="cbxAnons{seo_id}"></label></td>
		<td align="center"><input type="checkbox" id="cbxStatus{seo_id}" name="cbxStatus" {cbxStatus} disabled /><label for="cbxStatus{seo_id}"></label></td>
		<td>
			<a href="{module.info}?oid={seo_id}&stPage={stPage}" class="link-red"><img src="{strAdminImg}info.gif" border=0 hspace=3><span class="over-layer">{intCountExtraInfo}</span></a>
			<a href="{module.child}?id={seo_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
			<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={seo_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
		</td>
		</tr>
	</loop list>
</table>
{blockPaginator}

<tpl footer>
