<tpl header>
<tpl header.login.true>

    <h2>{module.title}</h2>
    <h4>Здесь можно добавить/редактировать раздел недвижимости.</h4>

{error}


<form method="post">
	<input type="hidden" name="frmEstateType" value="true">
	<input type="hidden" name="intRecordId" value="{intRecordId}">
	<table class="cms-box">
		<tr>
			<td>
				<table cellpadding=2 cellspacing=1 width=600>
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О РАЗДЕЛЕ НЕДВИЖИМОСТИ</b></span></td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Наименование:&nbsp;</span><b><span class=tab-10-r>*</span></b></td>
						<td width="75%" class="tdR">
							<input type="text" name="strEstateTypeName" class="plane" value="{strEstateTypeName}" maxlength=80 style="width:340px">
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Альяс раздела:&nbsp;</span><br>
							<span class="txt-page-ob-desc">Только англ.символы</span>
						</td>
						<td width="75%" class="tdR">
							<input type="text" name="strEstateTypeAlias" class="plane" value="{strEstateTypeAlias}" maxlength=80 style="width:340px">
						</td>
					</tr>
					<tr>
						<td colspan=2 class="tdL">

							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" name="cbxStatus"{cbxStatus}></td>
									<td><span class="tab-gb" style="font:9px">- статус активности</span></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="cbxReturn"{cbxReturn}></td>
									<td><span class="tab-gb" style="font:9px">- вернуться к редактированию после сохранения</span></td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td colspan="2" align="right" height="40">
							<input type="submit" name="submit" value="сохранить" class="plane-save">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>

<br>

<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>


<tpl footer>
