<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для работы с фотокартинками.</h4>

{error}

<if showlist>
	<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3> <a href="{module.name}?action=add&stPage={stPage}" class="link-orange">добавить группу ...</a>
	<if records>
		{blockPaginator}
		<table cellpadding="3" cellspacing="1" width="98%">
			<tr bgcolor="{cFirstColor}">
				<td class="tab-head-w" width="5%">ID</td>
				<td class="tab-head-w">Название группы фотокартинок</td>
				<td class="tab-head-w" width="46">Статус</td>
				<td class="tab-head-w" width="54">Опции</td>
			</tr>
			<loop list>
			<tr {bg}>
				<td><b>{sig_id}</b></td>
				<td><a href="{module.name}?id={sig_id}&stPage={stPage}" class="l">{sig_name}</a></td>
				<td align="center"><input type="checkbox" id="cbxStatus{sig_id}" name="cbxStatus" {cbxStatus} disabled /><label for="cbxStatus{sig_id}"></label></td>
				<td align="center">
					<a href="{module.name}?id={sig_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
					<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id_del={sig_id}');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
				</td>
			</tr>
			</loop list>
		</table>
	</if records>
	<if norecords>
		<p><b class="error">Нет записей для просмотра</b></p>
	</if norecords>
</if showlist>

<if editrecord>
	<h3>ИНФОРМАЦИЯ О ГРУППЕ ФОТОКАРТИНОК</h3>
	<form method="post" enctype="multipart/form-data">
		<input type="hidden" name="frmEditForm" value="true">
		<input type="hidden" name="intRecordId" value="{intRecordId}">
		<table class="cms-box">
			<tr>
				<td>
					<table cellpadding=2 cellspacing=1 width=600>
						<tr>
							<td class="tdL caption"><span class="txt-9-b">Наименование:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
								<input type="text" name="strName" class="plane" value="{strName}" maxlength="255" style="width:400px">
							</td>
						</tr>
						<tr>
							<td class="tdL caption"><span class="txt-9-b">Описание:&nbsp;</span></td>
							<td width="75%" class="tdR">
								<textarea id="strDesc" name="strDesc"
										  style="width:400px;height:50px;overflow-y:auto;word-wrap:break-word"
										  class="plane">{strDesc}</textarea>
							</td>
						</tr>
						<tr>
							<td colspan=2 class="tdL">
								<table cellpadding=0 cellspacing=0>
									<tr>
										<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus} /></td>
										<td><label for="cbxStatus"><span class="tab-gb" style="font:9px">- статус активности</span></label></td>
									</tr>
									<tr>
										<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
										<td><label for="cbxReturn"><span class="tab-gb" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" align="right" height="40">
								<input type="submit" name="submit" value="сохранить" class="standart">
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</form>

	<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.name}?stPage={stPage}" class="link-blue">вернуться к списку</a>

	<if can.upload.images>
		<h3>СПИСОК ФОТОКАРТИНОК</h3>
		<script type="text/javascript">var list_empty = 0;</script>
		<ul class="fotobank-thumbs" id="attachedFiles">
			<if list.images.empty>
				<script type="text/javascript">list_empty = 1;</script>
				<li>Список пуст. Добавляя фотографии незабудьте отметить ту, которая будет главной для фотогруппы.</li>
			</if list.images.empty>
		</ul>
		<form  method="post" enctype="multipart/form-data">
		<div id="dropZone"></div>
		</form>


		<div id="propertiesZone"><form  method="post" id="save_property">
			<input type="hidden" id="intImageId" name="intImageId" /><!-- Здесь, уже ID фотографии -->
			<input type="hidden" id="intGroupId" name="intGroupId" value="{intRecordId}" />
			<input type="hidden" id="strFilename" name="strFilename" />

			<p id="data_error" class="error">Необходимо заполнить хотя бы одно поле!</p>
			<table>
				<tr>
					<td>ID изображения</td>
					<td id="intImgValueShow"></td>
				</tr><tr>
					<td>Заголовок</td>
					<td><input type="text" id="strImageTitle" name="strImageTitle" value="" class="plane" maxlength="255"/></td>
				</tr><tr>
					<td>Автор</td>
					<td><input type="text" id="strAuthor" name="strAuthor" value="" class="plane" maxlength="255"/></td>
				</tr><tr>
					<td>Ключевые слова, фразы</td>
					<td><input type="text" id="strTags" name="strTags" value="" class="plane" maxlength="255"/></td>
				</tr><tr>
					<td>Описание картинки</td>
					<td><textarea id="strImageDesc" name="strImageDesc" class="plane"></textarea></td>
				</tr><tr>
					<td>ID объекта</td>
					<td><input type="text" id="intObjectId" name="intObjectId" value="" class="plane small" maxlength="9" /></td>
				</tr><tr>
					<td>Картинка активна</td>
					<td><input type="checkbox" id="cbxImageStatus" name="cbxImageStatus" /></td>
				</tr><tr>
					<td>Картинка группы</td>
					<td><input type="radio" id="rbGroupImage" name="rbGroupImage" /></td>
				</tr><tr>
					<td colspan="2" align="right">
						<input type="submit" value="Сохранить" class="plane-save" />
					</td>
				</tr>
			</table>
		</form></div>

		<script type="text/javascript">
			//<![CDATA[
			var filesAttached = {filesAttached},
				filesInfo = {filesInfo},
			    boxID = 'attachedFiles',
				baseDir = 'fotobank/groups/',
				uploader = 'upload.fotobank.files.php?fb_id={intRecordId}',
				maxFileSize = 2000000, // максимальный размер файла
				defaultText = "Для загрузки, перетащите файл на это поле. Максимальный размер 2 Мб";

			/**
			 * Сделаем основные вещи только после загрузки страницы
			 */
			jQuery(document).ready(function ($) {
				var dropZone = $('#dropZone');
				var boxFiles = $('#'+boxID);

				dropZone.text(defaultText).fadeIn(800);

				// Build list of files
				buildListOfAttachedFiles();

				if (typeof(window.FileReader) == undefined) {
					dropZone.text('Не поддерживается браузером!');
					dropZone.addClass('error');
				}

				// проверяем поддерживает ли браузер FormData
				if(!window.FormData) {
					/*
					 * если не поддерживает, то выводим предупреждение
					 */
					dropZone.text('Ваш браузер не поддерживает объект FormData для того чтобы перетащить сюда файл. Рекомендуемые браузеры: Firefox, Google Chrome, Safari');
					dropZone.addClass('error');
				}

				dropZone[0].ondragover = function() {
					dropZone.addClass('hover');
					return false;
				};

				dropZone[0].ondragleave = function() {
					dropZone.removeClass('hover');
					return false;
				};

				dropZone[0].ondrop = function(event) {
					event.preventDefault();
					dropZone.removeClass('hover');
					dropZone.addClass('drop');

					var file = event.dataTransfer.files[0];

					if (file.size > maxFileSize) {
						dropZone.text('Файл слишком большой!');
						dropZone.removeClass('hover').removeClass('drop').addClass('error');
						return false;
					}

					var fd = new FormData();
					fd.append("file", file);

					var xhr = new XMLHttpRequest();
					xhr.upload.addEventListener('progress', uploadProgress, false);
					xhr.onreadystatechange = stateChange;
					xhr.open('POST', '/'+uploader);
					xhr.setRequestHeader('X-FILE-NAME', file.name);
					xhr.send(fd);
				};

				function uploadProgress(event) {
					var percent = parseInt(event.loaded / event.total * 100);
					dropZone.text('Загрузка: ' + percent + '%');
				}

				function stateChange(event) {
					var tDelay = 2000;
					if (event.target.readyState == 4) {
						if (event.target.status == 200) {
//							console.log('index of OK=' + event.target.responseText.indexOf('OK'));
							if (event.target.responseText.indexOf('OK')==1) {
								dropZone.text('Загрузка файла успешно завершена!');
								var insertedImgId = event.target.responseText.substring(4, event.target.responseText.indexOf('|')); // because of 4 chars "-OK-..."
								var uploadedFileName = event.target.responseText.substring(event.target.responseText.indexOf('|')+1);

								var newEl = {};
								newEl[insertedImgId] = uploadedFileName;
								$.extend(filesAttached, newEl);
								newEl[insertedImgId] = {'title':null, 'desc':null, 'tags':null, 'author':null, 'oid':null, 'active':true, 'main':false};
								$.extend(filesInfo, newEl);

								addImageToList( boxFiles, uploadedFileName );

							} else {
								dropZone.text('Произошла ошибка: '+event.target.responseText);
								dropZone.removeClass('hover').removeClass('drop').addClass('error');
								tDelay = 25000;
							}
						} else {
							dropZone.text('Произошла ошибка! '+event.target.responseText);
							dropZone.removeClass('hover').removeClass('drop').addClass('error');
							tDelay = 30000;
						}
						setTimeout(function(){
							dropZone.removeClass('hover').removeClass('error').removeClass('drop').text(defaultText);
						}, tDelay);
					}
				}

				$("#save_property").bind("submit", function() {
					// проверим наличие введённых данных
					if ($("#strAuthor").val().length < 1 && $("#strTags").val().length < 1 && $("#strImageDesc").val().length < 1) {
						$("#data_error").show();
						$.fancybox.resize();
						return false;
					}

					$.fancybox.showActivity(); // show loader

					$.ajax({
						type	: "POST",
						cache	: false,
						url		: "/upload.fotobank.files.php?act=idesc",
						data	: $(this).serialize(),
						success: function(data) {
							/**
							 * Действия после факта сохранения
							 */
							$.fancybox( $('<div>').addClass('ok').html(data) );
							$.fancybox.hideActivity();

							var currentImgId = $('#intImageId').val();

							filesInfo[currentImgId].tags = $("#strTags").val();
							filesInfo[currentImgId].author = $("#strAuthor").val();
							filesInfo[currentImgId].title = $("#strImageTitle").val();
							filesInfo[currentImgId].desc = $("#strImageDesc").val();
							filesInfo[currentImgId].oid = $("#intObjectId").val();
							filesInfo[currentImgId].active = $("#cbxImageStatus").is(':checked');
							filesInfo[currentImgId].main = $("#rbGroupImage").is(':checked');
							/**
							 * Все остальные не могут быть главными
							 */
							if (filesInfo[currentImgId].main) {
								for (var img in filesInfo) {
									if (currentImgId!=img) {
										filesInfo[img].main = false;
										$('#cell'+img).removeClass('main');
									}
								}
								$('#cell'+currentImgId).addClass('main');
								if (!filesInfo[currentImgId].active) {
									filesInfo[currentImgId].active = true;
								}
							}
							if (!filesInfo[currentImgId].active) {
								$('#cell'+currentImgId).removeClass('active');
							} else {
								if (!$('#cell'+currentImgId).hasClass('active'))
									$('#cell'+currentImgId).addClass('active');
							}
						}
					});

					return false;
				});
			});

			function addImageToList( box, filename ) {
				var path = "{cfgAllImg}"+baseDir+"{intRecordId}/"+filename,
					thumb = "{cfgAllImg}"+baseDir+"{intRecordId}/t_h_u_m_b_"+filename,
					siteIcons = "{strAdminImg}",
					currentImgId;
//					console.log(Object.keys(filesAttached).length); // длинна объекта
//					console.log(filesAttached);

				if (list_empty) {
					list_empty=0;
					box.empty();
				}

				for(var key in filesAttached) {
					if (filesAttached[key]==filename)
						currentImgId = key;
				}

//				console.log('currentImgId='+currentImgId);

				box.append(
					$('<li>').append(
						$('<div>').append(
							$('<a>').attr('href', path).attr('rel','pic_group').append(
								$('<img>').attr('src', thumb).attr('title', filename).addClass('thumb')
							)
						)
					).append(
						$('<ul>').addClass('control-fotodata').append(
							$('<li>').append(
								$('<a>').attr('href','#save_property').append(
									$('<img>').attr('src', siteIcons+'icon_edit.gif').attr('title', 'Редактировать описание картинки')
								).fancybox({'autoDimensions'	: false
											,'scrolling'		: 'no'
											,'width'         	: 550
											,'height'        	: 'auto'
											,'showCloseButton' 	: true
											,'modal'				: false
											/**
											 * Заполнение формы картинки
											 */
											,'onComplete'		: function() {
												$("#intImageId").val( currentImgId );
												$("#strFilename").val( filename );
												$("#intImgValueShow").html( currentImgId );
												$("#strTags").val( filesInfo[currentImgId].tags );
												$("#strImageTitle").val( filesInfo[currentImgId].title );
												$("#strImageDesc").val( filesInfo[currentImgId].desc );
												$("#strAuthor").val( filesInfo[currentImgId].author );
												$("#intObjectId").val( filesInfo[currentImgId].oid );
												$("#cbxImageStatus").attr('checked', filesInfo[currentImgId].active );
												$("#rbGroupImage").attr('checked', filesInfo[currentImgId].main );
											}
											/**
											 * Действия при закрытии формы редактирования картинки
											 * Скидываем в дефолтные значения
											 */
											,'onClosed'			: function() {
												$("#data_error").hide();
												$("#strTags").val('');
												$("#strImageTitle").val('');
												$("#strImageDesc").val('');
												$("#strAuthor").val('');
												$("#intObjectId").val('');
												$("#cbxImageStatus").attr('checked', false );
												$("#rbGroupImage").attr('checked', false );
											}
										})
							)
						).append(
							$('<li>').append(
								$('<a>').attr('href','javascript:deleteAttachment(\''+filename+'\', '+currentImgId+')').append(
									$('<img>').attr('src', siteIcons+'icon_trash.gif').attr('title', 'Удалить файл')
								)
							)
						)
					).addClass('cell'+ (filesInfo[currentImgId].main?' main':'')+(filesInfo[currentImgId].active?' active':''))
							.attr('id','cell'+currentImgId)
				);
				if (box.is(':hidden')) {
					box.show(800);
				}
				$("a[rel=pic_group]").fancybox({
					'titleShow'		: true
					, 'titlePosition'	: 'over'
					, 'transitionIn'	: 'fade'
					, 'transitionOut'	: 'elastic'
				});
			}

			function deleteAttachment(filename, iid) {
				var msg = 'Действительно удалить?';
				if (filesInfo[iid].main) {
					msg = "Вы пытаетесь удалить главное изображение группы!\nЖелательно сначала назначить новое, иначе группа перестанет отображаться на сайте.\nУдалить?";
				}
				if (confirm(msg)) {
					$.get('{cfgSiteUrl}'+uploader+'&act=del&filename='+encodeURI(filename)+'&iid='+iid, function(){
						filesAttached = removeFromJson(filesAttached, filename);
						buildListOfAttachedFiles();
					});
				}
			}

			function buildListOfAttachedFiles() {
				var box = $('#'+boxID);

				if (!list_empty)
					box.empty();

				if (typeof(filesAttached)=='object') {
					for (var a in filesAttached) {
						addImageToList( box, filesAttached[a] );
					}
					box.fadeIn(800);
				}
			}
			//]]>
		</script>
	</if can.upload.images>

</if editrecord>

<tpl footer>
