<tpl header>
<tpl header.login.true>

<h2>Работа с фрагментами страниц</h2>
<h4>Информация о фрагментах страниц проектов.</h4>

<img src="{strAdminImg}break.gif" width="1" height="3"><br>

<span style="font-size: 10px;">Всего фрагментов: <b>{strQuantAllRecords}</b></span><br>

<br>
<table cellpadding=0 cellspacing=0 width=90%>
	<tr>
		<td><span class=txt-page-ob><b>Каталог фрагментов</b></span><br><span class=txt-page-ob-desc>Для просмотра фрагмента выберите каталог в котором расположен нужный вам фрагмент.</span>{dot1px}</td>
	</tr>
</table>
{error}
<img src="{strAdminImg}break.gif" width="1" height="3"><br>

<if block.catalogue.empty>
	<span class="tab-10-r"><b>Для выбранного проекта нет групп фрагментов (Управление разделом -> Группы фрагментов)</b></span>
</if block.catalogue.empty>

<table>
	<loop lst.item>
		<tr>
			<td><img src="{strAdminImg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{module.name}?idItem={intIdItem}" class="link-b"{strHrefStyle}><b>{strNameItem}</b></a></td>
		</tr>

		<if block.{intIdItem}>

		<loop lst.subitem.{intIdItem}>
		<tr>
			<td>&nbsp;&nbsp;<img src="{strAdminImg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{module.name}?idItem={intIdSubItem}" class="link-b"{strSubHrefStyle}><b>{strNameSubItem}</b></a></td>
		</tr>
	</loop lst.subitem.{intIdItem}>

	</if block.{intIdItem}>

	</loop lst.item>
</table>
<br>

<if block.show.fragments>
	<table cellpadding=0 cellspacing=0 width=90%>
		<tr>
			<td><span class=txt-page-ob><b>Список фрагментов в выбранном каталоге</b></span><br><span class=txt-page-ob-desc>Для редактирования фрагмента страниц сайта воспользуйтесь "Опции->Редактировать фрагмент".</span>{dot1px}</td>
		</tr>
	</table>

	<img src="{strAdminImg}break.gif" width="1" height="3"><br>

	<if block.lst.yes>
		<table cellpadding=2 cellspacing=1>
			<tr bgcolor="#{cFirstColor}">
				<td width="300"><span class="tab-w" style="font-size: 10px;"><b>Название фрагмента</b></span></td>
				<td width="150"><span class="tab-w" style="font-size: 10px;"><b>UID имя фрагмента</b></span></td>
				<td width="100"><span class="tab-w" style="font-size: 10px;"><b>Опции</b></span></td>
			</tr>
			<loop lst.fragments>
				<tr {bg}>
				<td>{strNameFrg}</td>
				<td>{strUNameFrg}</td>
				<td align=center>
					<a href="{module.name.child}?idItem={intIdItem}&frg={intIdFrg}"><img src="{strAdminImg}icon_edit.gif" border=0 alt="Редактировать фрагмент"></a>&nbsp;
					<a href="{module.name.child}?idItem={intIdItem}&frg={intIdFrg}&action=delete"><img src="{strAdminImg}icon_delete.gif" border=0 alt="Удалить фрагмент"></a>
					<if difference.in.content.{intIdFrg}>
					<a href="#"><img src="{strAdminImg}icon_compare.gif" border=0 title="Несовпадение контента в {intDiffs} символов" hspace="2"></a>
	</if difference.in.content.{intIdFrg}>
	</td>
	</tr>
	</loop lst.fragments>
	</table>
</if block.lst.yes>

<if block.lst.no>
	<span class="tab-10-r"><b>Нет доступных фрагментов в выбранном каталоге...</b></span>
</if block.lst.no>

</if block.show.fragments>


<tpl footer>
