<tpl header>
<tpl header.login.true>

<div class="block-go-out"><a href="{module.parent}?idItem={intIdItem}"><img src="{strAdminImg}go_out.gif" border="0"></a> <a href="{module.parent}?idItem={intIdItem}" class="go-out">вернуться к списку</a></div>

<if block.fragment.add>
    <h2>Создание фрагмента</h2>
    <h4>Задайте свойства фрагмента для использования в страницах и шаблонах сайта</h4>
</if block.fragment.add>
<if block.fragment.edit>
    <h2>Редактирование фрагмента</h2>
    <h4>Измените свойства фрагмента для использования в страницах и шаблонах сайта</h4>
</if block.fragment.edit>

<span class="tab-r" style="font-size: 10px;">* - поля обязательны для заполнения.</span>

{error}

<if message.noPublish.yes>
	<span class="tab-10-r" align="center"><b>(!) {strNoPublishMessage}</b></span><br><img src="{strAdminImg}break.gif" width="1" height="5"><br>
</if message.noPublish.yes>

<table cellpadding="0" cellspacing="0">
	<form method="post">
		<input type="hidden" name="frmFragmentAddEdit" value="true">
		<input type="hidden" name="intIdFragment" value="{intIdFragment}">
		<input type="hidden" name="strUNameFrgSafed" value="{strUNameFrgSafed}">
		<tr>
			<td>

				<table cellpadding="2" cellspacing="1">
					<tr>
						<td class="tdL" align="right" width="25%"><span>Название фрагмента:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width="75%" class="tdR"><input type="text" name="strNameFrg" value="{strNameFrg}" class="plane" style="width: 400 px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="25%"><span>Уникальное имя фрагмента:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width="75%" class="tdR"><input type="text" name="strUNameFrg" value="{strUNameFrg}" class="plane" style="width: 400 px;"></td>
					</tr>

					<if difference.in.content>
						<tr>
							<td class="tdL" colspan="2">
								<script language="JavaScript">
									<!--

									function is_accept(but) {
										if(document.all.cbxReadNotice.checked) {
											document.all.smbSaveDoc.disabled=false;
										} else {
											document.all.smbSaveDoc.disabled=true;
										}
										return true;
									}

									//-->
								</script>

								<table>
									<tr>
										<td>
											<input type="hidden" name="strFileBody" value="{strBodyFileFrg}">

											<span class="tab-10-r"><b>Внимание! Фрагмент существующий на сайте не совпадает с оригиналом.&nbsp;</b></span><br><br>
											<span class="tab-gb" style="font-size: 10px; width: 800px;">Для замены оригинала фрагмента фрагментом хранимым на сайте нажмите "Заменить фрагмент" после чего сохраните фрагмент с опцией "применить изменения во фрагменте к сайту". Если же Вы хотите чтобы фрагмент оригинал (тот фрагмент, который вы видите в поле "Тело фрагмента") был применен к сайту, просто просто сохраните фрагмент с параметром "применить изменения во фрагменте к сайту".</span>
											<br><img src="{strAdminImg}break.gif" width="1" height="5"><br><img src="{strAdminImg}li_item_page_{cId}.gif" width=4 height=11> <a href="javascript:void(0)" onclick="document.all.strBodyFrg.value=document.all.strFileBody.value; document.all.cbxReadNotice.checked=true; is_accept(); alert('Тело оригинального фрагмента заменено!')" id="1" class="link-red">Заменить фрагмент</a><br><img src="{strAdminImg}break.gif" width="1" height="5"><br>

											<table cellpadding="0" cellspacing="0">
												<tr>
													<td><input type="checkbox" name="cbxReadNotice" onClick="is_accept()"></td>
													<td><span class="tab-10-r">- я ознакомился, и принимаю этот факт при сохранении фрагмента</span></td>
												</tr>
											</table>

										</td>
									</tr>
								</table>

							</td>
						</tr>
					</if difference.in.content>
					<tr valign="top">
						<td class="tdL" align="right" width="25%"><span>Тело фрагмента:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width="80%" class="tdR"><textarea name="strBodyFrg" style="width: 600px; height: 250px; overflow-y:visible; word-wrap:break-word;" class="plane-b">{strBodyFrg}</textarea></td>
					</tr>
					<tr valign="top">
						<td class="tdL" align="right" width="25%"><span>Описание фрагмента:&nbsp;</span></td>
						<td width="75%" class="tdR"><textarea name="strDescFrg" style="width: 600px; height: 50px; overflow-y:visible; word-wrap:break-word;" class="plane-b">{strDescFrg}</textarea></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="20%"><span>Фрагмент доступен:&nbsp;</span></td>
						<td width="80%" class="tdR"><input type="checkbox" name="cbxStatusFrg"{cbxStatusFrg_checked}></td>
					</tr>
					<if block.fragment.edit>
						<tr>
							<td class="tdL" align="right" width="20%"><span>Последняя публикация:&nbsp;</span></td>
							<td width="80%" class="tdR">{strLastPublishDate}</td>
						</tr>
					</if block.fragment.edit>
					<tr>
						<td class="tdL" align="right" width="25%"><span>Группа фрагмента:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width="75%" class="tdR">
							<select name="intFrgGroup" class="plane" style="width: 300px;">
								<option value="" style="color: #5A5A5A">--------- Выберите группу фрагмента ----------</option>
								<loop lst.fragment.group>
									<option value="{intIdGroup}"{intIdGroup_selected}>{strNameGroup}</option>
								</loop lst.fragment.group>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="tdL">

							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" name="cbxPublish" {cbxPublish_checked} /></td>
									<td>- применить изменения во фрагменте к сайту</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="cbxReturn" {cbxReturn_checked} /></td>
									<td>- вернуться к редактированию после сохранения</td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<if block.fragment.add>
							<td colspan=2 align=right><input type="submit" value="создать фрагмент" class="plane-enter"></td>
						</if block.fragment.add>
						<if block.fragment.edit>
							<td colspan=2 align=right><input type="submit" value="сохранить изменения" class="plane-save" name="smbSaveDoc"></td>
						</if block.fragment.edit>
					</tr>
				</table>

			</td>
	</form>
	</tr>
</table>


<if difference.in.content>
	<script language="JavaScript">
		<!--
		document.all.smbSaveDoc.disabled=true;
		//-->
	</script>
</if difference.in.content>

<img src="{strAdminImg}li_menu_item_{cId}.gif" width=4 height=6>&nbsp;<a href="{module.parent}?idItem={intIdItem}" class=link-b>вернуться к списку фрагментов</a>

<tpl footer>
