<tpl header>
<tpl header.login.true>

<h2>Поиск фрагментов</h2>
<h4></h4>

{error}<br />

<table cellPadding="2" cellSpacing="1" border="0">
	<tr><form method="POST">
		<input type="hidden" name="frmSearchFrg" value="true"/>
		<td class="tdL">Альяс фрагмента : <br>
			<span class="txt-page-ob-desc">Допустимо неполное название</span>
		</td>
		<td align="left" class="tdR">
			<input type="text" name="strFrgSearch" value="{strFrgSearch}" class="plane-b" size="40"/><br>
			<input type="checkbox" name="cbxOtherProjects"{cbxOtherProjects}> - искать в других проектах
		</td>
	</tr>
	<tr>
		<td class="tdL">Фрагмент во фрагменте : <br>
			<span class="txt-page-ob-desc">Допустимо <b>только</b> полное название альяса</span>
		</td>
		<td align="left" class="tdR">
			<input type="text" name="strFrgInFrg" value="{strFrgInFrg}" class="plane-b" size="40"/>
		</td>
	</tr>
	<tr valign=top>
		<td align="right" style="padding: 7px 0 0 0" colspan="2">
			<input type="submit" name="submitSearch" value="поиск" class="plane-enter"/>
		</td></form>
	</tr>
</table>

<br />

<table cellPadding="2" cellSpacing="1" border="0" width="580">
	<if alias.not.found>
		<tr valign=top>
			<td width=25% class=tdL align=right>Результаты поиска &nbsp;</td>
			<td width=75% class=tdR><b>Ничего не найдено.</b> Вероятно фрагмент с таким названием находиться в другом проекте. &nbsp;</td>
		</tr>
	</if alias.not.found>
	<if alias.searched>
		<tr valign=top>
			<td width=25% class=tdL align=right>Результаты поиска &nbsp;</td>
			<td width=75% class=tdR>&nbsp;
				<loop lst.searched.frgs>
					<table border="0" cellpadding="3" cellspacing="1" width="100%">
						<tr>
							<td>
								<table cellPadding="1" cellSpacing="1" border="0" width="100%">
									<tr>
										<td width="40%"><span class="txt-10-g">алиас фрагмента</span> </td>
										<td><span class="txt-10-b"><b>{sf_id_name}</b></span></td>
									</tr>
									<tr>
										<td width="40%"><span class="txt-10-gray">имя файла фрагмента</span> </td>
										<td><span class="txt-10-b">{sf_id_name}.frg</span></td>
									</tr>
									<tr>
										<td width="40%"><span class="txt-10-gray">название фрагмента</span> </td>
										<td><span class="txt-10-b">{sf_name}</span></td>
									</tr>
									<tr>
										<td width="40%"><span class="txt-10-gray">фрагмент из раздела</span> </td>
										<td><a href="{hrefChapter}#" class="link-green">{pChapterName}</a> &nbsp;</td>
									</tr>
									<tr>
										<td class=tdL><span class="txt-10-gray">фрагмент из проекта</span> </td>
										<td class=tdR><a href="{hrefProject}#" class="link-red">{pProjectName}</a> &nbsp;</td>
									</tr>
								</table>
							</td>
							<td>
								<if this.project.{sf_id}>
								<a href="{module.child}?idItem={pChapterID}&frg={sf_id}"><img src="{strAdminImg}icon_edit.gif" border=0 alt="Редактировать фрагмент"></a>
	</if this.project.{sf_id}>
	</td>
	</tr>
</table>


</loop lst.searched.frgs>
</td>
</tr>
</if alias.searched>
</table>

<tpl footer>
