<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для работы с файлами "Свежего номера".</h4>

{error}

<if showlist>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3> <a href="{module.name}?action=add&stPage={stPage}" class="link-orange">добавить файл...</a>
<if records>
{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
  <tr bgcolor="{cFirstColor}">
    <td class="tab-head-w" width="5%">ID</td>
    <td class="tab-head-w">Название файла</td>
    <td class="tab-head-w">Описание</td>
    <td class="tab-head-w" width="46">Статус</td>
    <td class="tab-head-w" width="54">Опции</td>
  </tr>
<loop list>
  <tr {bg}>
    <td><b>{sr_id}</b></td>
    <td><a href="{module.name}?id={sr_id}&stPage={stPage}" class="l">{sr_filename}</a></td>
    <td>{sr_title}</td>
    <td align="center"><input type="checkbox" id="cbxStatus{sr_id}" name="cbxStatus" {cbxStatus} disabled/><label for="cbxStatus{sr_id}"></label></td>
    <td align="center">
      <a href="{module.name}?id={sr_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
      <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id_del={sr_id}');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
    </td>
  </tr>
</loop list>
</table>
</if records>
<if norecords>
<p><b class="error">Нет записей для просмотра</b></p>
</if norecords>
</if showlist>






<if editrecord>
<form method="post" enctype="multipart/form-data">
<input type="hidden" name="frmEditForm" value="true" />
<input type="hidden" name="intRecordId" value="{intRecordId}" />
<table class="cms-box">
  <tr>
    <td>
        <table cellpadding=2 cellspacing=1 width=600>
            <tr valign="bottom">
                <td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ФАЙЛЕ</b></span></td>
            </tr>
            <tr>
                <td width="25%" class="tdL" align="right"><span class="txt-9-b">Наименование:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td width="75%" class="tdR">
                    <input type="text" name="strFileTitle" class="plane" value="{strFileTitle}" maxlength=255 style="width:400px">
                </td>
            </tr>
            <tr>
                <td width="25%" class="tdL" align="right"><span class="txt-9-b">Файл:&nbsp;</span><span class=tab-10-r>*</span></td>
                <td width="75%" class="tdR">
<if is.file>
                    <p><a href="javascript:void(0)" onClick="jsShowModal('{strAdminUrl}freshnum?download={intRecordId}', 800, 600, 'no', 'no', 'file{intRecordId}')" class="link-blue document">смотреть документ...</a></p>
</if is.file>
                    <input type="file" name="flPhoto" class="file" style="width:400px">
                </td>
            </tr>
            <tr>
                <td width="25%" class="tdL" align="right"><span class="txt-9-b">Доступ по регионам:&nbsp;</span></td>
                <td width="75%" class="tdR">
                    <table>
                      <loop list.regions.access>
                          <tr>
                              <td><input type="checkbox" id="cbxAccess{srat_id}" name="cbxAccess[]" value="{srat_id}" class="plane" {cbxAccess}/></td>
                              <td>- <label for="cbxAccess{srat_id}">{srat_name}</label></td>
                          </tr>
                      </loop list.regions.access>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan=2 class="tdL">

                    <table cellpadding=0 cellspacing=0>
                        <tr>
                            <td><input type="checkbox" name="cbxStatus"{cbxStatus} id="cbxStatus"></td>
                            <td><label for="cbxStatus"><span class="tab-gb" style="font:9px">- статус активности</span></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="cbxReturn"{cbxReturn} id="cbxReturn"></td>
                            <td><label for="cbxReturn"><span class="tab-gb" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
                        </tr>
                    </table>

                </td>
            </tr>
          <tr>
              <td colspan="2" align="right" height="40">
                  <input type="submit" name="submit" value="сохранить" class="plane-save">
              </td>
          </tr>
      </table>
    </td>
  </tr>
</table>
</form>

<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.name}?stPage={stPage}" class="link-blue">вернуться к списку файлов</a>
</if editrecord>

<tpl footer>
