<tpl header.helper>

<table cellpadding="4" width="100%">
	<tr>
		<td align="right">
			<span class="base-10-r"><b>Помощь в работе по разделу:</b></span> <b>"{strHelpModuleName}"</b>
			<if block.beta>
				<span class="base-9">(в стадии написания)</span>
			</if block.beta>
		</td>
	</tr>
</table>

<table width="100%">
	<tr>
		<td>
			{strBodyHelp}
		</td>
	</tr>
</table>


<if close.window>
	<script language="JavaScript">
		<!--
		window.close();
		//-->
	</script>
</if close.window>

<script language="JavaScript">
	<!--
	window.focus();
	//-->
</script>

<tpl footer.helper>
