<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
{error}

<form method="post" enctype="multipart/form-data" id="form_edit">
<input type="hidden" name="frmEdit" value="true" />
<input type="hidden" name="intRecordId" value="{intRecordId}" />
<table class="tbl">
    <tr><td class="tdL">Заголовок письма:&nbsp;<span class=tab-10-r>*</span></td>
        <td class="tdR"><input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength="255" /></td>
    </tr>
    <tr><td class="tdL">Тело письма в HTML формате:&nbsp;<span class=tab-10-r>*</span>
            <p class="txt-10-gray">Не является обязательным.</p>
            <p class="txt-10-gray">Для того чтобы вставить подгруженное изображение в текст письма,<br />необходимо добавить в любое место текста письма следующий ключ:<br /><b>{%BANNER%}</b></p>
            <p class="txt-10-gray"><span class="txt-10-red">Внимание</span>: фотография больше чем 660 пикс. будет автоматически обрезана<br />чтобы правильно быть встроенной в шаблон письма.</p>
        </td>
        <td class="tdR">{strBodyHtml}</td>
    </tr>
    <tr><td class="tdL">Дата публикации:</td>
        <td class="tdR">{strDateCreate}</td>
    </tr>
    <tr><td class="tdL">Дата обновления:</td>
        <td class="tdR">{strDateUpdate}</td>
    </tr>
    <tr><td class="tdL">Изображение:&nbsp;<br /><span class="txt-page-ob-desc">в формате JPEG (JPG)</span><p class="txt-10-gray">Не более 1Мб</p></td>
        <td class="tdR">
        <if exist.image>
        <a href="{cfgFilesUrl}email_attachments/pic.{intRecordId}.b.{picExt}" id="picMain" target="_blank"><img src="{cfgFilesUrl}email_attachments/pic.{intRecordId}.{picExt}" /></a> &mdash; <a href="#" onClick="confirmDelete('{module.name}?id={intRecordId}&act=delimg', 'Не забудьте удалить ключ из текста!');"><img src="{cfgAdminImg}icon_trash.gif" title="удалить"/></a>
        </if exist.image>
        <if no.image><input type="file" name="flPhoto" class="plane" /></if no.image>
        </td>
    </tr>
    <tr><td class="tdL">Документ:&nbsp;<br /><span class="txt-page-ob-desc">в формате DOC (DOCX) или XLS (XLSX) или PDF</span><p class="txt-10-gray">Не более 2Мб</p></td>
        <td class="tdR">
        <if exist.file>
        <a href="{cfgFilesUrl}email_attachments/document.{intRecordId}.{fileExt}" target="_blank"><img src="{cfgAdminImg}attach.gif" title="посмотреть документ" /></a> &mdash; <a href="#" onClick="confirmDelete('{module.name}?id={intRecordId}&act=delfile');"><img src="{cfgAdminImg}icon_trash.gif" title="удалить"/></a>
        </if exist.file>
        <if no.file><input type="file" name="flDoc" class="plane" /></if no.file>
        </td>
    </tr>
    <tr><td colspan=2 class="tdD">
            <table class="fl">
                <tr><td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn} /></td>
                    <td class="tab-gb"><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
                </tr>
            </table>

            <table class="fr">
                <tr><td><input type="submit" name="submit" value="сохранить" class="plane-save" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td colspan="2" class="tdDR" align="right">
            <div class="tab-r">* - поля обязательные для заполнения.</div>
        </td>
    </tr>
</table>
</form>

<p>&laquo; <a href="{module.parent}" class="link-blue">к списку шаблонов</a></p>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    $("a#picMain").fancybox({
        'titleShow': true
        , 'titlePosition': 'over'
        , 'transitionIn': 'fade'
        , 'transitionOut': 'elastic'
    });
});
//]]>
</script>

<tpl footer>
