<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
{error}

{blockPaginator}
<table class="tbl list-items">
    <thead>
        <th width="20">ID</th>
        <th>Тема письма</th>
        <th width="10%">Дата созд.</th>
        <th width="10%">Дата изм.</th>
        <th width="26%">Статус</th>
        <th width="6%">Прикр.</th>
        <th width="100">Опции</th>
    </thead>
    <loop email.templates>
        <tr>
            <td class="tr"><b>{ste_id}</b></td>
            <td><a href="{module.child}?id={ste_id}&stPage={stPage}" class="l">{ste_title}</a></td>
            <td>{strDateCreate}</td>
            <td>{strDateUpdate}</td>
            <td align="center">{strStatus}</td>
            <td align="center">
                <if attach.{ste_id}>
                    <img src="{strAdminImg}attach.gif" border="0"/>
                </if attach.{ste_id}>
            </td>
            <td>
                <a href="{module.child}?id={ste_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=5></a>
                <if is.started.{ste_id}>
                    <if is.paused.{ste_id}>
                        <a href="{module.name}?cid={intCronId}&stPage={stPage}&action=play"><img src="{strAdminImg}icon_play.png" border=0 hspace=5 title="Возобновить рассылку"></a>
                    </if is.paused.{ste_id}>
                    <ifelse is.paused.{ste_id}>
                        <a href="{module.name}?cid={intCronId}&stPage={stPage}&action=pause"><img src="{strAdminImg}icon_pause.png" border=0 hspace=5 title="Приостановить рассылку"></a>
                    </ifelse is.paused.{ste_id}>
                    <a href="{module.name}?cid={intCronId}&stPage={stPage}&action=stop"><img src="{strAdminImg}icon_finish.png" border=0 hspace=5 title="Завершить рассылку"></a>
                </if is.started.{ste_id}>
                <ifelse is.started.{ste_id}>
                    <a href="#select_subscribers" class="fb" data="{ste_id}"><img src="{strAdminImg}icon_start.png" border=0 hspace=5 title="Запустить рассылку"></a>
                </ifelse is.started.{ste_id}>

                <!--<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={ste_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>-->
            </td>
        </tr>
    </loop email.templates>
</table>

<div style="display: none">
    <div id="select_subscribers" class="popup_block">
        <h2>Отправить письмо группе подписчиков</h2>
        <form id="select_subscribers_form" method="post">
            <input type="hidden" name="frmSelectGroup" value="true"/>
            <input type="hidden" name="intTemplateId" id="intTemplateId" />
            <p>Выберите название группы:</p>
            <select name="intGroupId" id="subscribers_group">
                <option value="0">выберите...</option>
                <loop subscribers.groups.list>
                    <option value="{intGroupId}">{strGroupName}</option>
                </loop subscribers.groups.list>
            </select>
            <input type="submit" value="Начать рассылку" class="plane-save"/>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.list-items td .fb').click(function () {
            var id = $(this).attr("data");
            $('#intTemplateId').val( id );
            $('#select_subscribers_form').attr("action", "{module.name}?stPage={stPage}&action=start");
        });
    });
</script>


<tpl footer>
