<tpl header>
<tpl header.login.true>

<h2>Поиск модуля</h2>
<h4>Раздел для работы с модулями.</h4>

<br><img src="{strAdminImg}break.gif" width=1 height=3><br>
{error}

<form method="POST">
	<input type="hidden" name="frmModuleSearch" value="true">
	<table border="0" cellpadding="3" cellspacing="1" width="500">
		<tr>
			<td class="tdL" width="40%" align="right">Название модуля : </td>
			<td class="tdR" width="60%"><input type="text" name="strModuleName" value="{strModuleName}" class="plane" style="width:270"></td>
		</tr>
		<tr>
			<td class="tdL" align="right">Алиас : </td>
			<td class="tdR"><input type="text" name="strModuleAlias" value="{strModuleAlias}" class="plane" style="width:270"></td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<input type="submit" name="submit" value="поиск" class="plane-enter">
			</td>
		</tr>
	</table>
</form>


<if is.searched>
	<table cellpadding="3" cellspacing="1" width="90%">
		<tr bgcolor="{cFirstColor}">
			<td class="tab-head-w" width="5%">ID</span></td>
			<td class="tab-head-w">Название</td>
			<td class="tab-head-w">Алиас</td>
			<td class="tab-head-w" width="54">Опции</td>
		</tr>
		<loop list.modules>
			<tr>
				<td>{cm_id}</td>
				<td>{cm_name}</td>
				<td>{cm_link}</td>
				<td><a href="javascript:void(0);" onClick="jsShowModal('{module.child}?moduleID={cm_id}', 630, 440, 'no', 'no', 'editModule{cm_id}')"><img src="{strAdminImg}icon_edit.gif" border="0"></a></td>
			</tr>
		</loop list.modules>
	</table>
</if is.searched>

<if no.result>
	<table border="0" cellpadding="3" cellspacing="1" width="500">
		<tr>
			<td class="tdL" width="50%" align="right"> <b>Результаты поиска</b>: </td>
			<td class="tdR" width="50%"> По Вашему запросу ничего не найдено.</td>
		</tr>
		<tr>
			<td class="tdL" width="50%" align="right"> <b>Желаете создать модуль</b>? </td>
			<td class="tdR" width="50%">
				<a href="javascript:void(0);" onClick="jsShowModal('{module.child}?moduleALIAS={strModuleAlias}', 630, 440, 'no', 'no', 'editModule_{strModuleAlias}')" class="link-blue">{strModuleAlias}</a>
			</td>
		</tr>
	</table>
</if no.result>

<tpl footer>
