<tpl popup.header>

<table cellpadding=0 cellspacing=0 width="100%">
	<tr>
		<td align="right"><a href="javascript:void(0);" onclick="doClose();" class="link-red"><b>закрыть окно [x]</b></a></td>
	</tr>
</table>

<h2>{module.title}</h2>
<h4>Раздел назначения доступа к модулю.</h4>

{error}

<form method="post">
	<input type="hidden" name="frmEditForm" value="true">
	<input type="hidden" name="intRecordId" value="{intRecordId}">
	<table class="cms-box">
		<tr>
			<td>
				<table cellpadding=2 cellspacing=1 width="100%">
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ДОСТУПЕ К МОДУЛЮ [<span class="tab-gr">{strModuleName}</span>]</b></span></td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top" style="padding-top:8px"><span class="txt-9-b">Доступ получат:&nbsp;</span><b><span class=tab-10-r>*</span></b></td>
						<td width="75%" class="tdR">
							<table cellPadding="2" cellSpacing="0">
								<tr>
									<td class="tdLT" width="26">
										<input type="radio" name="intModuleAccess" value="1" {rbChecked1} />
									</td>
									<td class="tdRT">
										Все пользователи
									</td>
								</tr>
								<tr>
									<td class="tdL">
										<input type="radio" name="intModuleAccess" value="2" {rbChecked2} />
									</td>
									<td class="tdR">
										<select name="intGroupID" class="plane">
											<loop list.user.groups>
												<option value="{intGroupID}"{intGroupID_sel}>{strGroupName}</option>
											</loop list.user.groups>
										</select>
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td colspan="2" align="right" height="40">
							<input type="submit" name="submit" value="сохранить" class="plane-save">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>

<tpl popup.footer>
