<tpl popup.header>

<h2>Добавить/Редактировать модуль</h2>
<h4>Раздел для редактирования модуля административной части сайта. <br />
    Добавление модуля влечёт за собой создание файлов обработчика и шаблона.</h4>

<br><img src="{strAdminImg}break.gif" width="1" height="3"><br>
{error}

<table cellpadding="0" cellspacing="0" width="98%">
	<form method="post">
		<input type="hidden" name="frmModuleForm" value="true">
		<input type="hidden" name="intModuleID" value="{intModuleID}">
		<tr>
			<td>

				<table cellpadding="2" cellspacing="0" width="600">
					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Название модуля:</span><b><span class="tab-r">*</span></b></td>
						<td width="75%" class="tdR">
							<input type="text" name="strModuleName" class="plane" style="width: 250 px;{styleModuleName}" value="{strModuleName}">
						</td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Алиас модуля:</span><b><span class="tab-r">*</span></b></td>
						<td width="75%" class="tdR">
							<input type="text" name="strModuleAlias" class="plane" style="width: 250 px;{styleModuleAlias}" value="{strModuleAlias}">
						</td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Родительский модуль:</span></td>
						<td width="75%" class="tdR">
							<select name="intParentModuleID" class="plane" style="width: 250 px;">
								<option value="">-- нет отношения</option>
								<loop list.parent.modules>
									<option value="{cm_id}"{cm_selected}>{cm_name}</option>
								</loop list.parent.modules>
							</select> <span>или если другой, ID</span> <input type="text" name="intParentModuleID_other" class="plane" style="width:40px" value="{intParentModuleID_other}">
						</td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">К проекту :</span></td>
						<td width="75%" class="tdR">
							<table cellpadding="0" cellspacing="0">
								<loop list.projects>
									<tr>
										<td valign="middle"><input type="checkbox" name="chProject[{fp_id}]" {chProject} style="margin: 0 2px 0 2px"></td>
										<td valign="middle"><span>- {fp_name}</span></td>
									</tr>
								</loop list.projects>
							</table>
						</td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Модуль в блок ... :</span></td>
						<td width="75%" class="tdR">
							<select name="enumModulePosition" class="plane" style="width: 250 px;">
								<option value="N"{enumModulePosition_N}>Управление сайтом</option>
								<option value="Y"{enumModulePosition_Y}>Управление разделом</option>
							</select>
						</td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Номер сортировки:</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="intModuleOrder" class="plane" style="width: 25px;" value="{intModuleOrder}"> <span>по умолчанию помещается в конец списка</span>
						</td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Номер версии:</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strModuleVersion" class="plane" style="width: 45px;" value="{strModuleVersion}"> <span>по умолчанию - 1.0</span>
						</td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Альяс обработчика ошибок:</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strErrorAlias" class="plane" style="width: 130px;" value="{strErrorAlias}">
						</td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Pop-up window:</span></td>
						<td width="75%" class="tdR"><input type="checkbox" name="cbxPopup"{cbxPopup}></td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Разделитель меню:</span></td>
						<td width="75%" class="tdR"><input type="checkbox" name="cbxSepModule"{cbxSepModule}></td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Скрытый:</span></td>
						<td width="75%" class="tdR"><input type="checkbox" name="cbxHideModule"{cbxHideModule}></td>
					</tr>

					<tr>
						<td class="tdL" align="right" width="25%"><span class="tab-gb" style="font-size: 9px;">Статус:</span></td>
						<td width="75%" class="tdR"><input type="checkbox" name="cbxStatusModule"{cbxStatusModule}></td>
					</tr>

					<tr>
						<td colspan="2" align="right"><input type="submit" value="сохранить" class="plane-save" style="width: 100 px;"></td>
					</tr>
				</table>

			</td>
		</tr>
</table>

<if edit.true>
	<script language="JavaScript" type="text/javascript">
		obj = window.opener;
		doClose( 1500, obj );
	</script>
</if edit.true>

<tpl popup.footer>
