<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для работы с модулями.</h4>

{error}

<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="#" onClick="jsShowModal('{module.child}', 630, 440, 'no', 'no', 'editModule')" class="link-orange"><b>добавить модуль...</b></a>

{blockPaginator}
<table cellpadding="3" cellspacing="1" width="80%">
	<tr bgcolor="{cFirstColor}">
		<td><span class="tab-w" style="font-size: 10px;"><b>ID</b></span></td>
		<td><span class="tab-w" style="font-size: 10px;"><b>Наименование модуля</b></span></td>
		<td><span class="tab-w" style="font-size: 10px;"><b>Алиас</b></span></td>
		<td width="9%"><span class="tab-w" style="font-size: 10px;"><b>Опции</b></span></td>
	</tr>
	<loop list.modules>
		<tr {bg}>
		<td align="right"><b>{moduleID}</b></td>
		<td>{moduleName}</td>
		<td>{moduleAlias}</td>
		<td>
			<a href="#" onClick="jsShowModal('{module.child}?moduleID={moduleID}', 630, 440, 'no', 'no', 'editModule{moduleID}')"><img src="{strAdminImg}icon_edit.gif" border="0" hspace="2"></a>
			<a href="#" onClick="jsShowModal('{module.access}?moduleID={moduleID}', 600, 400, 1, 1, 'editModuleAccess')"><img src="{strAdminImg}icon_access.gif" border="0" hspace="2"></a>
		</td>
		</tr>
	</loop list.modules>
</table>

<tpl footer>
