<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел добавления/редактирования Новости.</h4>

{error}

<script type="text/javascript">
function addToListName( box, name ){
	var path = "{cfgFilesUrl}news_attachments/{intRecordId}/"+name;
	box.append(
		$('<p>').append(
			$('<a>').attr('href', 'javascript:jsShowModal(\''+path+'\', 800, 580)').text(name)
		).append(
			$('<nobr>&nbsp;&nbsp;</nobr>')
		).append(
			$('<a>').attr('href', 'javascript:deleteAttachment(\''+name+'\')').text('x').addClass('link-red').attr('title', 'Удалить файл')
		)
	);
	if (box.is(':hidden')) {
		box.show(800);
	}
}
function addToJson(name){
	var n = 0;
	if (typeof(filesAttached)=='object') {
		for (var a in filesAttached) {
			n = (a > n) ? a : n;
		}
		var newEl = {};
		n++;
		newEl[n] = name;
		$.extend(filesAttached, newEl);
	}
}
function buildListOfAttachedFiles() {
	var box = $('#attachedFiles');
	box.text("");
	if (typeof(filesAttached)=='object') {
		for (var a in filesAttached) {
			addToListName( box, filesAttached[a] );
		}
		box.fadeIn(800);
	}
}

function deleteAttachment(name) {
	if (confirm('Действительно удалить?')) {
		$.get('{cfgSiteUrl}upload.news.files.php?nid={intRecordId}&a=del&filename='+encodeURI(name), function(){
			filesAttached = removeFromJson(filesAttached, name);
			buildListOfAttachedFiles();
		});
	}
}
var uploadedFileName;
$(document).ready(function() {
	$("a#picMain").fancybox({
		'titleShow'		: true
		, 'titlePosition'	: 'over'
		, 'transitionIn'	: 'fade'
		,	'transitionOut'	: 'elastic'
	});

	var boxFiles = $('#attachedFiles');

	// Build list of files
	buildListOfAttachedFiles();

	<if is.news.id>
	var dropZone = $('#dropZone'),
		maxFileSize = 2000000, // максимальный размер файла
		defaultText = "Для загрузки, перетащите файл на это поле. Максимальный размер 2 Мб";

	dropZone.text(defaultText).fadeIn(800);

	if (typeof(window.FileReader) == 'undefined') {
		dropZone.text('Не поддерживается браузером!');
		dropZone.addClass('error');
	}

	// проверяем поддерживает ли браузер FormData
	if(!window.FormData) {

		/*
		 * если не поддерживает,
		 * то выводим предупреждение вместо формы
		 */

		dropZone.text('Ваш браузер не поддерживает объект FormData для того чтобы перетащить сюда файл. Рекомендуемые браузеры: Firefox, Google Chrome, Safari');
		dropZone.addClass('error');
	}

	dropZone[0].ondragover = function() {
		dropZone.addClass('hover');
		return false;
	};

	dropZone[0].ondragleave = function() {
		dropZone.removeClass('hover');
		return false;
	};

	dropZone[0].ondrop = function(event) {
		event.preventDefault();
		dropZone.removeClass('hover');
		dropZone.addClass('drop');

		var file = event.dataTransfer.files[0];

		if (file.size > maxFileSize) {
			dropZone.text('Файл слишком большой!');
			dropZone.removeClass('hover').removeClass('drop').addClass('error');
			return false;
		}

		var fd = new FormData();
		fd.append("file", file);
		uploadedFileName = file.name;

		var xhr = new XMLHttpRequest();
		xhr.upload.addEventListener('progress', uploadProgress, false);
		xhr.onreadystatechange = stateChange;
		xhr.open('POST', '/upload.news.files.php?nid={intRecordId}');
		xhr.setRequestHeader('X-FILE-NAME', file.name);
		xhr.send(fd);
	};

	function uploadProgress(event) {
		var percent = parseInt(event.loaded / event.total * 100);
		dropZone.text('Загрузка: ' + percent + '%');
	}

	function stateChange(event) {
		var tDelay = 2000;
		if (event.target.readyState == 4) {
			if (event.target.status == 200) {
				if (event.target.responseText == 'OK') {
					dropZone.text('Загрузка успешно завершена! '+event.target.responseText);
					addToListName( boxFiles, uploadedFileName );
					addToJson(uploadedFileName);
				} else {
					dropZone.text('Произошла ошибка: '+event.target.responseText);
					dropZone.removeClass('hover').removeClass('drop').addClass('error');
					tDelay = 5000;
				}
			} else {
				dropZone.text('Произошла ошибка! '+event.target.responseText);
				dropZone.removeClass('hover').removeClass('drop').addClass('error');
				tDelay = 3000;
			}
			setTimeout(function(){
				dropZone.removeClass('hover').removeClass('error').removeClass('drop').text(defaultText);
			}, tDelay);
		}
	}
	</if is.news.id>


	<loop all.images.js>
	$("a#pic{si_id}").fancybox({
		'titleShow'		: true
		, 'titlePosition'	: 'over'
		, 'transitionIn'	: 'fade'
		,	'transitionOut'	: 'elastic'
	});
	</loop all.images.js>
});

<if is.attached.files>
// Create list of files
var filesAttached = {filesAttached};
</if is.attached.files>
</script>

<form method="post" enctype="multipart/form-data">
<input type="hidden" name="frmEditNews" value="true" />
<input type="hidden" name="intRecordId" value="{intRecordId}" />
<table class="cms-box">
	<tr>
		<td>
			<table cellpadding=2 cellspacing=1 width=600>
				<tr valign="bottom">
					<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О НОВОСТИ</b></span></td>
				</tr>
				<tr>
					<td width="25%" class="tdL" align="right"><span class="txt-9-b">Заголовок:&nbsp;</span><span class=tab-10-r>*</span></td>
					<td width="75%" class="tdR">
						<input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength=255 style="width:400px">
					</td>
				</tr>
				<tr>
					<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Новость:&nbsp;</span><span class=tab-10-r>*</span></td>
					<td width="75%" class="tdR">
						<textarea name="strNewsBody" style="width:400px;height:80px;overflow-y:visible; word-wrap:break-word;" class="plane">{strNewsBody}</textarea>
					</td>
				</tr>
				<tr>
					<td width="25%" class="tdL" align="right"><span class="txt-9-b">Дата новости:&nbsp;</span><span class=tab-10-r>*</span></td>
					<td width="75%" class="tdR">
						<select name="intDay" class="plane">
							<loop days>
								<option value="{intDay}"{selDay}>{strDay}</option>
							</loop days>
						</select>
						<select name="intMonth" class="plane">
							<loop months>
								<option value="{intMonth}"{selMonth}>{strMonth}</option>
							</loop months>
						</select>
						<select name="intYear" class="plane">
							<loop years>
								<option value="{intYear}"{selYear}>{strYear}</option>
							</loop years>
						</select>
					</td>
				</tr>
				<if is.news.id>
				<tr>
					<td width="25%" class="tdL" align="right" valign="top" style="padding-top:6px"><span class="txt-9-b">Изображение:&nbsp;</span><br />
						<span class="txt-page-ob-desc">в формате JPEG (JPG)</span><br /><br /><if is.main.image><br /><br /><br /><br /><br /><br /></if is.main.image><span class="txt-9-b">Краткое описание фото:&nbsp;</span><br />
						<span class="txt-page-ob-desc">max 256 симв.</span></td>
					<td width="75%" class="tdR">
						<table cellPadding="1" cellSpacing="1">
							<tr>
								<if is.main.image>
									<td class="is-main-image">
										<input type="hidden" name="loadMorePics" value="1"/>
										<a href="{cfgAllImg}news/news.photo.{intRecordId}.b.jpg" id="picMain"><img src="{cfgAllImg}news/news.photo.{intRecordId}.jpg" border="0" alt="{strMainPicDesc}" title="{strMainPicDesc}" width="100" style="border: 1px solid #ffeeff;"></a> <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=del');" onMouseOver="Tip('Удалить фото')" onMouseOut="UnTip()" style="color:red">x</a></td>
								</if is.main.image>
								<loop all.images>
									<td class="other-images">
										<a href="{cfgAllImg}news/{si_filename}" id="pic{si_id}"><img src="{cfgAllImg}news/{si_filename_small}" border="0" alt="{si_desc}"></a> <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=delimg&pic={si_id}');" onMouseOver="Tip('Удалить фото')" onMouseOut="UnTip()" style="color:red">x</a></td>{strTableRows}
								</loop all.images>
							</tr>
						</table>
						<if can.upload>
							<input type="file" name="flPhoto" class="plane" style="width:400px;margin:5px 0 3px 0"><br />
							<textarea id="strImgDesc" name="strImgDesc" style="width:400px;height:50px;overflow-y:visible;word-wrap:break-word;" class="plane">{strImgDesc}</textarea>
						</if can.upload>
						<ifelse can.upload>
							Загружать больше нельзя.. :(
						</ifelse can.upload>
					</td>
				</tr>
				<tr>
					<td width="25%" class="tdL" align="right" valign="top" style="padding-top:6px"><span class="txt-9-b">Дополнительные файлы:&nbsp;</span><br />
					<td width="75%" class="tdR">
						<div id="attachedFiles"></div>
						<div id="dropZone"></div>
					</td>
				</tr>
				</if is.news.id>
				<tr>
					<td colspan=2 class="tdL">

						<table cellpadding=0 cellspacing=0>
							<tr>
								<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus}></td>
								<td><label for="cbxStatus" class="tab-gb finger" style="font:9px">- статус активности</label></td>
							</tr>
							<tr>
								<td><input type="checkbox" id="cbxMain" name="cbxMain"{cbxMain}></td>
								<td><label for="cbxMain" class="tab-gb finger" style="font:9px; color:#db2828">- главная новость сайта</label></td>
							</tr>
							<tr>
								<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn}></td>
								<td><label for="cbxReturn" class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</label></td>
							</tr>
						</table>

					</td>
				</tr>
				<tr>
					<td colspan="2" align="right" height="40">
						<input type="submit" name="submit" value="сохранить" class="plane-save">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>

<br />

<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3 /><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>

<br />
<br />


<tpl footer>
