<tpl header>
<tpl header.login.true>

<h2>{module.title} «{object.name}»</h2>
<h4>Раздел для работы с комментариями к объекту недвижимости с ID:{objID}.</h4>

{error}

<table cellpadding="3" cellspacing="1">
    <tr bgcolor="{cFirstColor}">
        <td class="tab-head-w" width="50">ID</td>
        <td class="tab-head-w">Комментарий</td>
        <td class="tab-head-w" width="20%">Пользователь</td>
        <td class="tab-head-w" width="20%">Дата</td>
        <td class="tab-head-w" width="6%">Статус</td>
        <td class="tab-head-w" width="60">Опции</td>
    </tr>
    <loop list>
        <tr {bg}>
        <td><b>{suc_id}</b></td>
        <td>{suc_comment}</td>
        <td align="center">{comment.user}</td>
        <td align="center">{comment.date}</td>
        <td align="center"><a href="{module.name}?id={objID}&suc_id={suc_id}&act={act}&stPage={stPage}"><input type="checkbox" id="cbxStatus{suc_id}" name="cbxStatus" {cbxStatus} /><label for="cbxStatus{suc_id}"></label></a></td>
        <td>
            <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={objID}&suc_id={suc_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
        </td>
        </tr>
    </loop list>
</table>

<br /><img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться к списку объектов</a>

<br />
<div style="width: 500px; margin-top: 20px">
    <h3>Оставить комментарий</h3>
    <form method="post">
        <input type="hidden" id="object_id" name="object_id" value="{objID}"/>

        <textarea id="object_comment" name="object_comment"
                  style="width:100%;height:50px;overflow-y:auto;word-wrap:break-word"
                  class="plane">{object_comment}</textarea>

        <input type="submit" value="Отправить" class="plane-save"/>
    </form>
</div>



<tpl footer>
