<tpl header>
<tpl header.login.true>

<if block.page.edit>
    <h2>Редактирование страницы сайта</h2>
    <h4>Редактируйте свойства страницы сайта.</h4>
</if block.page.edit>
<if block.page.add>
    <h2>Создание страницы сайта</h2>
    <h4>Заполните поля свойств добавляемой страницы сайта.</h4>
</if block.page.add>

<span class="tab-r" style="font-size:10px">* - поля обязательны для заполнения.</span>

<br /><img src="{strAdminImg}break.gif" width="1" height="3"><br />

{error}

<if message.noPublish.yes>
	<span class="tab-10-r" align="center"><b>(!) {strNoPublishMessage}</b></span><br /><img src="{strAdminImg}break.gif" width="1" height="5"><br />
</if message.noPublish.yes>

<form method="post">
	<input type="hidden" name="frmPageAddEdit" value="true">
	<input type="hidden" name="intIdEditPage" value="{intIdEditPage}">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<table cellpadding="2" cellspacing="1">
					<tr>
						<td class="tdL" align="right" width="20%"><span>Название страницы:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width="80%" class="tdR"><input type="text" name="strPageName" value="{strPageName}" class="plane" style="width:350px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="20%"><span>Алиас страницы:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width="80%" class="tdR"><input type="text" name="strPageAlias" value="{strPageAlias}" class="plane" style="width:200px;"></td>
					</tr>
					<if difference.in.content>
						<tr>
							<td class="tdL" colspan="2">
								<script language="JavaScript">
									<!--
									function is_accept(but) {
										if(document.getElementById('cbxReadNotice').checked) {
											document.getElementById('smbSaveDoc').disabled=false;
										} else {
											document.getElementById('smbSaveDoc').disabled=true;
										}
										return true;
									}
									//-->
								</script>
								<input type="hidden" name="strFileContent" id="strFileContent" value="{strFileContent}">
								<span class="tab-10-r"><b>Внимание! Страница существующая на сайте не совпадает с оригиналом в БД.&nbsp;</b></span><br /><br />
								<span class="tab-gb" style="font-size: 10px; width: 750;">Для замены оригинала страницы страницей хранимой на сайте, нажмите "Заменить содержимое", после чего сохраните страницу с опцией "опубликовать страницу". Если же Вы хотите чтобы страница оригинал (та страница, которую вы видите в поле "Тело страницы") была применена к сайту, просто сохраните страницу с опцией "опубликовать страницу".</span>
								<br /><img src="{strAdminImg}li_item_page_{cId}.gif" width=4 height=11>
								<if specode>
									<a href="javascript:void(0)" onclick="document.getElementById('strPageBody').value = document.getElementById('strFileContent').value; document.getElementById('cbxReadNotice').checked=true; is_accept(); alert('Тело страницы заменено!')" id="1" class="link-red">
								</if specode>
								<if htmlcode>
									<a href="javascript:void(0)" onclick="document.getElementById('strPageBody').value = document.getElementById('strFileContent').value; document.getElementById('strPageBody___Frame').src = '{cfgSiteUrl}lib/pageditor/editor/fckeditor.html?InstanceName=strPageBody&amp;Toolbar=Default'; document.getElementById('cbxReadNotice').checked=true; is_accept(); alert('Тело страницы заменено!')" id="1" class="link-red">
								</if htmlcode>
								Заменить содержимое</a><br /><img src="{strAdminImg}break.gif" width="1" height="5"><br />
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td><input type="checkbox" name="cbxReadNotice" id="cbxReadNotice" onClick="is_accept()"></td>
										<td><span class="tab-10-r">- я ознакомился, и принимаю этот факт при сохранении страницы</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</if difference.in.content>
					<if specode>
						<tr valign="top"><!-- SpecCode -->
							<td class="tdL" align="right" width="20%"><span>Тело страницы:&nbsp;</span><b><span class="tab-r">*</span></b><br><span class="tab-r">(!!!) страница содержит спец-код, поэтому визуальный редактор выключен</span></td>
							<td width="80%" class="tdR"><textarea id="strPageBody" name="strPageBody" style="width: 600px; height: 250px; overflow-y:visible; word-wrap:break-word;" class="plane-b">{strPageBody}</textarea></td>
						</tr>
					</if specode>
					<if htmlcode>
						<tr valign="top">
							<td class="tdL" align="right" width="20%"><span>Тело страницы:&nbsp;</span><b><span class="tab-r">*</span></b></td>
							<td width="80%" class="tdR">
								<textarea id="strPageBody" name="strPageBody"
										  style="width:100%;height:50px;overflow-y:auto;word-wrap:break-word"
										  class="plane">{strPageBody}</textarea>
                                <script>
                                    tinymce.init({
                                        selector: '#strPageBody',
                                        height: 500,
                                        plugins: [
                                            'advlist autolink lists link image charmap print preview anchor',
                                            'searchreplace visualblocks code fullscreen',
                                            'insertdatetime media table contextmenu paste code'
                                        ],
                                        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                                    });
                                </script>
							</td>
						</tr>
					</if htmlcode>
					<tr>
						<td class="tdL" align="right" width="20%"><span>Шаблон страницы:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width="80%" class="tdR">
							<select name="intPageIdTpl" class="plane" style="width: 300px;">
								<option value="" style="color: #5A5A5A">--------- Выберите шаблон страницы ----------</option>
								<loop lst.templates>
									<option value="{intIdTpl}"{intIdTpl_selected}>{strNameTpl}</option>
								</loop lst.templates>
							</select>
						</td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="20%"><span>TITLE страницы:&nbsp;</span></td>
						<td width="80%" class="tdR"><input type="text" name="strPageTitle" value="{strPageTitle}" class="plane" style="width: 600px;"></td>
					</tr>
					<tr valign="top">
						<td class="tdL" align="right" width="20%"><span>DESCRIPTION страницы:&nbsp;</span></td>
						<td width="80%" class="tdR"><textarea name="strPageDescription" style="width: 600px; height: 45px;" class="plane">{strPageDescription}</textarea></td>
					</tr>
					<tr valign="top">
						<td class="tdL" align="right" width="20%"><span>KEYWORDS страницы:&nbsp;</span></td>
						<td width="80%" class="tdR"><textarea name="strPageKeywords" style="width: 600px; height: 45px;" class="plane">{strPageKeywords}</textarea></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="20%"><span>Страница доступна:&nbsp;</span></td>
						<td width="80%" class="tdR"><input type="checkbox" name="cbxPageStatus"{cbxPageStatus_checked}></td>
					</tr>
					<if block.page.edit>
						<tr>
							<td class="tdL" align="right" width="20%"><span>Последняя публикация:&nbsp;</span></td>
							<td width="80%" class="tdR">{strLastPublishDate}</td>
						</tr>
					</if block.page.edit>
					<tr>
						<td class="tdL" align="right" width="20%"><span>Группа страницы:</span><b><span class="tab-r">*</span></b></td>
						<td width="80%" class="tdR">
							<select name="intPageGroup" class="plane" style="width:300px">
								<option value="" style="color: #5A5A5A">--------- Выберите группу страницы ----------</option>
								<loop lst.group.pages>
									<option value="{intIdGroup}"{intIdGroup_selected}>{strNameGroup}</option>
								</loop lst.group.pages>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan=2 class="tdL">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td><input type="checkbox" id="cbxPublish" name="cbxPublish"{cbxPublish_checked}></td>
									<td><label for="cbxPublish">- опубликовать страницу</label></td>
								</tr>
								<tr>
									<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn_checked}></td>
									<td><label for="cbxReturn">- вернуться к редактированию после сохранения</label></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<if block.page.edit>
							<td colspan="2" height="30" align="right"><input type="submit" value="сохранить изменения" class="plane-save" name="smbSaveDoc" id="smbSaveDoc"></td>
						</if block.page.edit>
						<if block.page.add>
							<td colspan="2" height="30" align="right"><input type="submit" value="создать страницу" class="plane-enter"></td>
						</if block.page.add>
					</tr>
				</table>
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</form>

<if difference.in.content>
	<script language="JavaScript">
		<!--
		document.getElementById('smbSaveDoc').disabled=true;
		//-->
	</script>
</if difference.in.content>

<br /><img src="{strAdminImg}li_menu_item_{cId}.gif" width="4" height="6">&nbsp;<a href="{module.parent}?idItem={intIdItem}" class="link-b">вернуться к списку страниц</a>

<tpl footer>
