<tpl header>
<tpl header.login.true>

<form method="POST" style="margin: 0 0 0 0">
	<input type="hidden" name="frmGroupEdit" value="true">

    <h2>Группы страниц</h2>
    <h4>Для просмотра и редактирования подгрупп ввыберите родительскую группу.</h4>

	<img src="{strAdminImg}break.gif" width="1" height="3"><br>

	<if block.catalogue.empty>
		<span class="tab-10-r"><b>Для выбранного проекта нет групп страниц</b></span>
	</if block.catalogue.empty>

	<table>
		<loop lst.item>
			<tr>
				<td><img src="{strAdminImg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{module.name}?idItem={intIdItem}" class="link-b"><b>{strNameItem}</b></a></td><td width="100" align="center"><input type="checkbox" name="status{intIdItem}" {strStatusItem}></td><td><div id="edit{intIdItem}" name="edit{intIdItem}"><a href="#" onclick="document.getElementById('item{intIdItem}').style.display = 'block'; document.getElementById('noedit{intIdItem}').style.display = 'block'; document.getElementById('edit{intIdItem}').style.display = 'none'; return false;"><img src="{strAdminImg}icon_edit.gif" border="0"></a></div><div id="noedit{intIdItem}" name="noedit{intIdItem}" style="display: none;"><img src="{strAdminImg}icon_edit_inactive.gif"></div></td>
				<td>
					<if delItem{intIdItem}>
					<a href="./{module.name}?delItem={intIdItem}"><img src="{strAdminImg}icon_delete.gif" border=0 width="16" height="14"></a>
					</if delItem{intIdItem}>
				</td>
				<td width=20>&nbsp;</td>
				<td><div id="item{intIdItem}" name="item{intIdItem}" style="display: none;"><input type="text" name="name{intIdItem}" class="plane" value="{strNameItem}" style="width: 200px;"></div></td>

			</tr>
			<if block.{intIdItem}>
			<loop lst.subitem.{intIdItem}>
			<tr>
				<td><img src="{strAdminImg}break.gif" width="7" height="1"><img src="{strAdminImg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{module.name}?idItem={intIdSubItem}" class="link-b"><b>{strNameSubItem}</b></a></td><td width="100" align="center"><input type="checkbox" name="status{intIdSubItem}" {strStatusSubItem}></td><td><div id="edit{intIdSubItem}" name="edit{intIdSubItem}"><a href="#" onclick="document.getElementById('item{intIdSubItem}').style.display = 'block'; document.getElementById('noedit{intIdSubItem}').style.display = 'block'; document.getElementById('edit{intIdSubItem}').style.display = 'none'; return false;"><img src="{strAdminImg}icon_edit.gif" border="0"></a></div><div id="noedit{intIdSubItem}" name="noedit{intIdSubItem}" style="display: none;"><img src="{strAdminImg}icon_edit_inactive.gif"></div></td>
				<td>
					<if delItem{intIdSubItem}>
					<a href="./{module.name}?delItem={intIdSubItem}"><img src="{strAdminImg}icon_delete.gif" border=0 width="16" height="14"></a>
					</if delItem{intIdSubItem}>
				</td>
				<td width=20>&nbsp;</td>
				<td><div id="item{intIdSubItem}" name="item{intIdSubItem}" style="display: none;"><input type="text" name="name{intIdSubItem}" class="plane" value="{strNameSubItem}" style="width: 200px;"></div></td>
			</tr>
		</loop lst.subitem.{intIdItem}>
		</if block.{intIdItem}>
		</loop lst.item>
	</table>

	<p>
		<input type="submit" class="plane-save" value="Сохранить">

</FORM>

<if addChild>
	<FORM method="POST" style="margin: 0 0 0 0">
		<input type="hidden" name="frmSubGroupAdd" value="true">
		<p>
		<table cellpadding=0 cellspacing=0 width=90%>
			<tr>
				<td><span class=txt-page-ob><b>Добавление новой подгруппы</b></span><br><span class=txt-page-ob-desc>Эта подгруппа будет создана в группе <b>{currentParentGroup}</b>.</span>{dot1px}</td>
			</tr>
		</table>
		<img src="{strAdminImg}break.gif" width="1" height="3"><br>

		<table><tr><td><span class="tab-10-r"><b>Имя новой подгруппы: </b></span></td><td><input type="text" name="frmName" class="plane" value="" style="width: 200px;"></td></tr></table>

		<p>
			<input type="submit" class="plane-enter" value="Создать новую подгруппу">

	</FORM>
</if addChild>



<FORM method="POST" style="margin: 0 0 0 0">
	<input type="hidden" name="frmGroupAdd" value="true">
	<p>
	<table cellpadding=0 cellspacing=0 width=90%>
		<tr>
			<td><span class=txt-page-ob><b>Добавление новой группы</b></span><br><span class=txt-page-ob-desc>Здесь вы можете создать новую корневую группу.</span>{dot1px}</td>
		</tr>
	</table>
	<img src="{strAdminImg}break.gif" width="1" height="3"><br>

	<table><tr><td><span class="tab-10-r"><b>Имя новой группы: </b></span></td><td><input type="text" name="frmName" class="plane" value="" style="width: 200px;"></td></tr></table>

	<p>
		<input type="submit" class="plane-enter" value="Создать новую группу">

</FORM>


<tpl footer>
