<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4></h4>

{error}<br>

<table cellPadding="2" cellSpacing="1" border="0">
	<tr><form method="POST">
		<input type="hidden" name="frmSearchPage" value="true"/>
		<td class="tdL">Альяс страницы : </td>
		<td align="left" class="tdR">
			<input type="text" name="strPageSearch" value="{strPageSearch}" class="plane-b" size="40"/>
			<input type="checkbox" name="cbxCorrect"{cbxCorrect}> - <span class="txt-page-ob-desc">точное совпадение</span>
		</td>
	</tr>
	<tr>
		<td class="tdL">ID страницы : </td>
		<td align="left" class="tdR">
			<input type="text" name="intPageID" value="{intPageID}" class="plane-b" size="4"/>
		</td>
	</tr>
	<tr>
		<td class="tdL">Фрагмент в странице : </td>
		<td align="left" class="tdR">
			<input type="text" name="strFrgNameInPage" value="{strFrgNameInPage}" class="plane-b" size="40"/>
		</td>
	</tr>
	<tr valign=top>
		<td align="right" style="padding: 7px 0 0 0" colspan="2">
			<input type="submit" name="submitSearch" value="поиск" class="plane-enter"/>
		</td></form>
	</tr>
</table>

<br />

<table cellPadding="0" cellSpacing="0" border="0" width="530">
	<if alias.not.found>
		<tr valign=top>
			<td width=30% class=tdL align=right>Результаты поиска &nbsp;</td>
			<td width=70% class=tdR><b style="color:#ef3333">Ничего не найдено.</b>
				<br> Вероятно страница с такими параметрами находиться в другом проекте. &nbsp;
				<br> Если Вы ищите фрагмент в теле страницы и ничего не нашли, убедитесь, что содержимое тела страницы в файле совпадает с аналогичной записью в базе. </td>
		</tr>
	</if alias.not.found>
	<if alias.searched>
		<tr valign=top>
			<td width=30% class=tdL align=right>Результаты поиска &nbsp;</td>
			<td width=70% class=tdR>&nbsp;
				<loop lst.searched.pages>
					<table cellpadding="1" cellspacing="1" width="100%">
						<tr>
							<td>

								<table cellPadding="0" cellSpacing="0" width="100%">
									<tr>
										<td width="40%"><span class="txt-10-g">ID страницы</span> </td>
										<td><span class="txt-10-b"><b>{sp_id}</b></span> </td>
									</tr>
									<tr>
										<td><span class="txt-10-gray">алиас страницы</span> </td>
										<td><span class="txt-10-b"><b>{sp_alias}</b></span> </td>
									</tr>
									<tr>
										<td><span class="txt-10-gray">имя файла страницы</span> </td>
										<td><span class="txt-10-b">{sp_alias}.{sp_id}</span> </td>
									</tr>
									<tr>
										<td><span class="txt-10-gray">название страницы</span> </td>
										<td><span class="txt-10-b">{sp_name}</span> </td>
									</tr>
									<tr>
										<td class=tdL><span class="txt-10-gray">страница из раздела</span> </td>
										<td class=tdR><a href="{module.parent}?idItem={pChapterID}" class="link-green">{pChapterName}</a></td>
									</tr>
								</table>

							</td>
							<td width="20"><a href="{module.child}?idItem={pChapterID}&idRec={sp_id}"><img src="{strAdminImg}icon_edit.gif" border="0"></a> </td>
						</tr>
					</table>


				</loop lst.searched.pages>
			</td>
		</tr>
	</if alias.searched>
</table>

<tpl footer>
