<tpl header>
<tpl header.login.true>

<h2>Работа с страницами сайта</h2>
<h4>Информация о страницах сайта.</h4>

<span style="font-size: 10px;">Всего страниц: <b>{strQuantPages}</b></span><br>
<span style="font-size: 10px;">Открытых страниц: <b>{strActiveQuantPages}</b></span><br>
<span style="font-size: 10px;">Закрытых страниц: <b>{strActiveNoQuantPages}</b></span>

<table cellpadding=0 cellspacing=0 width='90%' style="margin: 10px 0 0 0">
	<tr><td><span class='txt-page-ob'><b>Каталог страниц</b></span><br><span class=txt-page-ob-desc>Для просмотра страницы выберите каталог в которой расположена нужная Вам страница.</span>{dot1px}</td></tr></table>

<if block.catalogue.empty>
	<span class="tab-10-r"><b>Для выбранного проекта нет групп страниц (Управление разделом -> Группы страниц)</b></span>
</if block.catalogue.empty>

<table>
	<loop lst.item>
		<tr>
			<td><img src="{strAdminImg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{module.name}?idItem={intIdItem}" class="link-b"{strHrefStyle}><b>{strNameItem}</b></a></td>
		</tr>
		<if block.{intIdItem}>
		<loop lst.subitem.{intIdItem}>
		<tr>
			<td><img src="{strAdminImg}break.gif" width="7" height="1"><img src="{strAdminImg}li_double_arrow_orange.gif" width="10" height="7" border="0" alt="">&nbsp;<a href="{module.name}?idItem={intIdSubItem}" class="link-b"{strSubHrefStyle}><b>{strNameSubItem}</b></a></td>
		</tr>
	</loop lst.subitem.{intIdItem}>
	</if block.{intIdItem}>
	</loop lst.item>
</table>

<if block.pages>
	<br>
	<br>
	<table cellpadding=0 cellspacing=0 width=90%>
		<tr>
			<td><span class=txt-page-ob><b>Список страниц в выбранном каталоге</b></span><br><span class=txt-page-ob-desc>Для редактирования страницы сайта воспользуйтесь "Опции->Редактирование страницы".</span>{dot1px}</td>
		</tr>
	</table>

	{error}
	<img src="{strAdminImg}break.gif" width="1" height="3"><br>
	<if block.lst.pages>
		<table cellpadding="2" cellspacing="1">
			<tr bgcolor="#{cFirstColor}">
				<td><span class="tab-w" style="font-size: 10px;"><b>ID</b></span></td>
				<td width="300"><span class="tab-w" style="font-size: 10px;"><b>Название страницы</b></span></td>
				<td width="100"><span class="tab-w" style="font-size: 10px;"><b>Алиас</b></span></td>
				<td width="100"><span class="tab-w" style="font-size: 10px;"><b>Опции</b></span></td>
			</tr>
			<loop lst.pages>
				<tr {bg}>
				<td align="center"{strStatusPublish}><b>{intIdPage}</b></td>
				<td {strStatusPublish}>{strNamePage}</td>
				<td {strStatusPublish}>{strAliasPage}</td>
				<td align=center>
					<a href="{module.child}?idItem={intIdItem}&idRec={intIdPage}"><img src="{strAdminImg}icon_edit.gif" width="25" height="14" border=0 alt="Редактировать страницу" hspace="2"></a>
					<a href="javascript:void(null);" onclick="confirmDelete('{module.name}?idItem={intIdItem}&idPage={intIdPage}&action=delete');"><img src="{strAdminImg}icon_delete.gif" width="16" height="14" border=0 alt="Удалить страницу" hspace="2"></a>
					<if difference.in.content.{intIdPage}>
					<a href="#"><img src="{strAdminImg}icon_compare.gif" height="14" border=0 alt="Несовпадение контента" hspace="2"></a>
	</if difference.in.content.{intIdPage}>
	</td>
	</tr>
	</loop lst.pages>
	</table>
</if block.lst.pages>

<if block.lst.pages.no>
	<span class="tab-10-r"><b>Нет страниц в выбранном каталоге...</b></span>
</if block.lst.pages.no>

</if block.pages>
<tpl footer>
