<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для работы с каталогом проектов.</h4>

<br>
{error}

<if show.edit.form>
	<form method="post" style="margin:0;">
		<input type="hidden" name="frmAddEdit" value="true">
		<input type="hidden" name="intProjectID" value="{intProjectID}">
		<table cellpadding=0 cellspacing=0>
			<tr>
				<td>
					<table cellpadding=2 cellspacing=1>
						<tr>
							<td width=35% class="tdL" align="right"><span style="font:9px">Краткое наименование :&nbsp;</span><b><span class="tab-r">*</span></b></td>
							<td width=65% class="tdR"><input type="text" name="strProjectName" value="{strProjectName}" class=plane style="width:300px"></td>
						</tr>
						<tr>
							<td class="tdL" align="right"><span style="font:9px">Путь к директории проекта:&nbsp;</span><b><span class="tab-r">*</span></b></td>
							<td class="tdR"><input type="text" name="strProjectPath" value="{strProjectPath}" class=plane style="width:300px"></td>
						</tr>
						<tr>
							<td class="tdL" align="right"><span style="font:9px">URL проекта:&nbsp;</span><b><span class="tab-r">*</span></b></td>
							<td class="tdR"><input type="text" name="strProjectUrl" value="{strProjectUrl}" class=plane style="width:300px"></td>
						</tr>
						<tr>
							<td colspan=2 align="right"><input type="submit" value="сохранить изменения" class="plane-save" name="smbSaveDoc"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</form>
</if show.edit.form>

<if show.list>
	<p style="margin:-14px 0 6px 0"><img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3 />  <a href="{module.name}?action=add" class="link-orange">добавить проект...</a></p>
	<table cellpadding="2" cellspacing="1">
		<tr bgcolor="#{cFirstColor}">
			<td><span class="tab-w" style="font-size: 10px;"><b>ID</b></span></td>
			<td width="300"><span class="tab-w"><b>Директория</b></span></td>
			<td width="200"><span class="tab-w"><b>URL проекта</b></span></td>
			<td width="54"><span class="tab-w"><b>Опции</b></span></td>
		</tr>
		<loop lst.projects>
			<tr {bg}>
			<td align="center"{strStatusPublish}><b>{fp_id}</b></td>
			<td {strStatusPublish}>{fp_path}</td>
			<td {strStatusPublish}>{fp_url}</td>
			<td align=center>
				<a href="{module.name}?idRec={fp_id}&action=edit"><img src="{strAdminImg}icon_edit.gif" width="25" height="14" border=0 alt="Редактировать страницу"></a>&nbsp;
				<a href="{module.name}?idItem={intIdItem}&idPage={intIdPage}&action=delete"><img src="{strAdminImg}icon_delete.gif" width="16" height="14" border=0 alt="Удалить страницу"></a>
			</td>
			</tr>
		</loop lst.projects>
	</table>
</if show.list>

<tpl footer>
