<tpl header>
<tpl header.login.true>


<h2>{module.title}</h2>

{error}

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="frmEditEmailLetter" value="true" />
    <table class="cms-box">
        <tr>
            <td>
                <table cellpadding=2 cellspacing=1 width=600>
                    <tr>
                        <td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Текст файла вложения:&nbsp;</span></td>
                        <td width="75%" class="tdR">
                            <textarea name="strTextBody" style="width:480px;height:280px;overflow-y:visible; word-wrap:break-word;" class="plane">{strTextBody}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdL">дополнительный файл в формате <nobr>MS-Word</nobr>: </td>
                        <td class="tdR"><input type="file" name="fileEmailAttachement" />
                            <if attachment.exist>
                                <p style="margin:10px">Скачать файл <a href="/storage/files/email_attachments/attachment.doc">attachment.doc</a> ({fSize} байт)</p>
                            </if attachment.exist>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right" height="40">
                            <input type="submit" name="submit" value="сохранить" class="plane-save">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

<tpl footer>
