<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4></h4>

{error}

<form method="post">
	<input type="hidden" name="frmEditUser" value="true" />
	<input type="hidden" name="intRecordId" value="{intRecordId}" />
	<table class="cms-box">
		<tr>
			<td>
				<table cellpadding=2 cellspacing=1 width=600>
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ПОЛЬЗОВАТЕЛЕ</b></span></td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Фамилия:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strLName" class="plane" value="{strLName}" maxlength=80 style="width:300px">
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Имя:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strFName" class="plane" value="{strFName}" maxlength=80 style="width:300px">
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Отчество:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strMName" class="plane" value="{strMName}" maxlength=80 style="width:300px">
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Компания:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strCompanyName" class="plane" value="{strCompanyName}" maxlength=80 style="width:300px">
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Электронный адрес:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strEmail" class="plane" value="{strEmail}" maxlength=80 style="width:300px">
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Телефон:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strPhone" class="plane" value="{strPhone}" maxlength=80 style="width:200px">
						</td>
					</tr>

					<if set.login.data>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Логин:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
								<input type="text" name="strLogin" class="plane" value="{strLogin}" maxlength=80 style="width:200px">
								<span class="txt-page-ob-desc">[4..80 символов]</span>
							</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Пароль:&nbsp;</span><span class=tab-10-r>*</span></td>
							<td width="75%" class="tdR">
								<input type="password" name="strPassw" class="plane" maxlength=80 style="width:200px">
								<span class="txt-page-ob-desc">[6..80 символов]</span>
							</td>
						</tr>
					</if set.login.data>
					<if show.login.data>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Логин:&nbsp;</span></td>
							<td width="75%" class="tdR"><span class="tab-gb"><b>{strLogin}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="{cfgSiteUrl}userpage/{autologin}" class="link-blue" target="_blank">войти как пользователь</a></td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">Последний вход:&nbsp;</span></td>
							<td width="75%" class="tdR">{strDateLastVisit}&nbsp;</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-b">IP адрес:&nbsp;</span></td>
							<td width="75%" class="tdR">{strIPLastVisit}&nbsp;</td>
						</tr>
						<tr>
							<td width="25%" class="tdL" align="right"><span class="txt-9-r">Оплата услуг и доступ:&nbsp;</span></td>
							<td width="75%" class="tdR"><input type="text" name="strSumm" class="plane" value="{strSumm}" maxlength=80 style="width: 80px; text-align:right" />&nbsp; рублей, до даты &nbsp;
								<select name="intDay" class="plane">
									<loop days>
										<option value="{intDay}"{selDay}>{strDay}</option>
									</loop days>
								</select>
								<select name="intMonth" class="plane">
									<loop months>
										<option value="{intMonth}"{selMonth}>{strMonth}</option>
									</loop months>
								</select>
								<select name="intYear" class="plane">
									<loop years>
										<option value="{intYear}"{selYear}>{strYear}</option>
									</loop years>
								</select>
                            </td>
						</tr>

                        <tr>
                            <td width="25%" class="tdL" align="right"><span class="txt-9-b">Доступ к объектам:&nbsp;</span></td>
                            <td width="75%" class="tdR">
                                <table>
                                <loop list.regions.access.estate>
                                    <tr>
                                        <td><input type="checkbox" id="cbxAccess{srat_id}" name="cbxAccess[]" value="{srat_id}" class="plane" {cbxAccess}/></td>
                                        <td>- <label for="cbxAccess{srat_id}">{srat_name}</label></td>
                                    </tr>
                                </loop list.regions.access.estate>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td width="25%" class="tdL" align="right"><span class="txt-9-b">Доступ к журналу:&nbsp;</span></td>
                            <td width="75%" class="tdR">
                                <table>
                                    <loop list.regions.access.paper>
                                        <tr>
                                            <td><input type="checkbox" id="cbxPaperAccess{srat_id}" name="cbxPaperAccess[]" value="{srat_id}" class="plane" {cbxPaperAccess}/></td>
                                            <td>- <label for="cbxPaperAccess{srat_id}">{srat_name}</label></td>
                                        </tr>
                                    </loop list.regions.access.paper>
                                </table>
                            </td>
                        </tr>
					</if show.login.data>

					<tr>
						<td colspan=2 class="tdL">

							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus}/></td>
									<td><span class="tab-gb" style="font:9px">- <label for="cbxStatus">статус активности</label></span></td>
								</tr>
								<tr>
									<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn}/></td>
									<td><span class="tab-gb" style="font:9px">- <label for="cbxReturn">вернуться к редактированию после сохранения</label></span></td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td colspan="2" align="right" height="40">
							<input type="submit" name="submit" value="сохранить" class="plane-enter">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>

<br>

<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>

<tpl footer>
