<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4></h4>

{error}

<form action="" method="POST">
	<input type="hidden" name="formFilterSubscribers" value="true" />
	<div style="width:520px;margin-bottom:15px;background-color: #EDF1F5;border: 1px solid #BFBFBF">
		<table cellpadding="5" cellspacing="0" width="100%">
			<tr>
				<td valign="top">
					<fieldset style="border:1px solid #BFBFBF">
						<legend>Поиск по параметрам</legend>
						<table cellpadding="5" cellspacing="0">
							<tr>
								<td>Имя/Email/Логин</td>
								<td><input type="text" name="strFilterUserName" value="{strFilterUserName}" class="plane" maxlength="255" style="width:350px" /></td>
							</tr>
							<tr>
								<td>Название организации</td>
								<td><input type="text" name="strFilterOrgName" value="{strFilterOrgName}" class="plane" maxlength="255" style="width:350px" /></td>
							</tr>
						</table>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="3" align="right">
					<input type="submit" name="searchFilter" value="искать..." class="plane-save finger" />
					<input type="button" name="clearFilter" value="очистить параметры поиска" class="plane-enter finger" onClick="location.href='{module.name}?search=clear&stPage={stPage}'" />
				</td>
			</tr>
		</table>
	</div>
</form>

{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Фамилия Имя Отчество</td>
		<td class="tab-head-w">Организация</td>
		<td class="tab-head-w" width="20%">Email</td>
		<td class="tab-head-w" width="42">Статус</td>
		<td class="tab-head-w" width="58">Опции</td>
	</tr>
	<loop site.users>
		<tr {bg}>
		<td><b>{su_id}</b></td>
		<td><a href="{module.child}?id={su_id}&stPage={stPage}" class="l">{su_lname} {su_fname} {su_mname}</a></td>
		<td><a href="{module.child}?id={su_id}&stPage={stPage}" class="l">{su_company}</a></td>
		<td>{su_email}</td>
		<td align="center"><input type="checkbox" id="cbxStatus{su_id}" name="cbxStatus" {cbxStatus} disabled /><label for="cbxStatus{su_id}"></label></td>
		<td>
			<a href="{module.child}?id={su_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
			<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={su_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
		</td>
		</tr>
	</loop site.users>
</table>


<tpl footer>
