<tpl header>
<tpl header.login.true>

<h2>Статистика не найденых страниц</h2>
<h4></h4>

{error}
{blockPaginator}
<br>
<table cellpadding=3 cellspacing=1 width="100%">
	<tr bgcolor="{cFirstColor}">
		<td width="20"><span class="tab-w" style="font-size: 10px;"><b>#</b></span></td>
		<td width="150" nowrap align="center"><span class="tab-w" style="font-size: 10px;"><b>Дата</b></span></td>
		<td><span class="tab-w" style="font-size: 10px;"><b>Адрес</b></span></td>
		<td width="200"><span class="tab-w" style="font-size: 10px;"><b>Referer</b></span></td>
		<!--<td width=100 align="center"><span class="tab-w" style="font-size: 10px;"><b>Опции</b></span></td>-->
	</tr>
	<loop stat.list>
		<tr {bg}>
		<td width="20" align="center">{strId}</td>
		<td width="150" align="center">{strDate}</td>
		<td>{strAddress}</td>
		<td width="200">{strReferer}</td>
		<!--
		  <td nowrap width="100" align="center">
			<a href="{module.name.child}?action=edit&id={sl_id}" class="link-b"><img src="{strAdminImg}icon_edit.gif" width=25 height=14 border=0 title="Редактировать"></a>&nbsp;&nbsp;
			<a href="{module.name}?action=delete&ID={sl_id}" class="link-b"><img src="{strAdminImg}icon_delete.gif" width=16 height=14 border="0" title="Удалить"></a></td>
			-->
		</tr>
	</loop stat.list>
</table>
{blockPaginator}
<tpl footer>
