<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4></h4>

{error}

{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Название</td>
		<td class="tab-head-w">Дата обновления</td>
		<td class="tab-head-w" width="86">Опции</td>
	</tr>
	<loop technics>
		<tr {bg}>
		<td><b>{pt_id}</b></td>
		<td>{pt_title}</td>
		<td width="20%">{pt_date_update}</td>
		<td align="center">
			<img src="{strAdminImg}status_{pt_status}.gif" border="0" hspace="5">
			<a href="{module.child}?id={pt_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
			<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={pt_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
		</td>
		</tr>
	</loop technics>
</table>


<tpl footer>
