<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4></h4>

{error}

<form method="post">
	<input type="hidden" name="frmEditForm" value="true">
	<input type="hidden" name="intRecordID" value="{intRecordID}">
	<input type="hidden" id="sbxAdType" name="sbxAdType" value="{sbxAdType}"/>
	<input type="hidden" id="intTechTypeID" name="intTechTypeID" value="{intTechTypeID}"/>
	<table class="cms-box">
		<tr>
			<td>
				<table cellpadding="2" cellspacing="1">
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ЕДЕНИЦЕ ТЕХНИКИ</b></span></td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Тип объявления:&nbsp;</span></td>
						<td width="75%" class="tdR">{strAdType}</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Тип техники:&nbsp;</span></td>
						<td width="75%" class="tdR">{strTechType}</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Заголовок объявления:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strTitle" name="strTitle" class="plane" value="{strTitle}" maxlength=255 style="width:100%;{styleTitle}" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Срок аренды:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strRentPeriod" name="strRentPeriod" class="plane" value="{strRentPeriod}" maxlength=64 style="width:100%;{styleRentPeriod}" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Адрес проведения работ:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strAddressWorks" name="strAddressWorks" class="plane" value="{strAddressWorks}" maxlength=64 style="width:100%;{styleAddressWorks}" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Производитель / Марка:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strMarka" name="strMarka" class="plane" value="{strMarka}" maxlength=64 style="width:100%;{styleMarka}" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Модель:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strModel" name="strModel" class="plane" value="{strModel}" maxlength=64 style="width:100%;{styleModel}" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Год выпуска:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<input type="text" id="strYear" name="strYear" class="plane" value="{strYear}" maxlength=4 style="width:100%;{styleYear}" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Доп.инфо:&nbsp;</span></td>
						<td width="75%" class="tdR">
							<textarea name="strDopinfo" style="width:400px;height:40px;overflow-y:visible; word-wrap:break-word;{styleDopinfo}" class="plane">{strDopinfo}</textarea>
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Контакты, координаты:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<textarea name="strContacts" style="width:400px;height:40px;overflow-y:visible; word-wrap:break-word;{styleContacts}" class="plane">{strContacts}</textarea>
						</td>
					</tr>
					<tr>
						<td colspan=2 class="tdL">
							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" name="cbxStatus"{cbxStatus} id="cbxStatus"></td>
									<td><label for="cbxStatus"><span class="tab-gb finger" style="font-size:9px">- статус активности</span></label></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="cbxReturn"{cbxReturn} id="cbxReturn"></td>
									<td><label for="cbxReturn"><span class="tab-gb finger" style="font-size:9px">- вернуться к редактированию после сохранения</span></label></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="right" height="30">
							<input type="submit" name="submit" value="сохранить" class="plane-save">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>


<tpl footer>
