<tpl header>
<tpl header.login.true>

<h2>Работа с шаблоном сайта | <span style="font-size: 10px;">[{strWorkTemplate}]</span></h2>
<h4>Добавление нового и редактирование выбранного шаблона для страниц сайта</h4>

<span class="tab-r" style="font-size: 10px;">* - поля обязательны для заполнения.</span>

<br><img src="{strAdminImg}break.gif" width="1" height="3"><br>

<if message.yes>
	<span class="tab-r">{message}</span><br><br>
</if message.yes>

{error}
<if message.noPublish.yes>
	<span class="tab-r" align="center"><b>(!) {strNoPublishMessage}</b></span><br><img src="{strAdminImg}break.gif" width="1" height="5"><br>
</if message.noPublish.yes>

<table cellpadding=0 cellspacing=0>
	<form method="post">
		<input type="hidden" name="frmAddEditTpl" value="true">
		<input type="hidden" name="intIdTpl" value="{intIdTpl}">
		<tr>
			<td>

				<table cellpadding=2 cellspacing=1>
					<tr>
						<td class="tdL" align="right" width="20%"><span>Название шаблона:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width=80% class="tdR"><input type="text" name="strTplName" value="{strTplName}" class=plane style="width: 300 px;"></td>
					</tr>
					<if difference.in.content>
						<tr>
							<td class="tdL" colspan="2" height="20">
								<script language="JavaScript">
									<!--

									function is_accept(but) {
										if(document.all.cbxReadNotice.checked) {
											document.all.smbSaveDoc.disabled=false;
										} else {
											document.all.smbSaveDoc.disabled=true;
										}
										return true;
									}

									//-->
								</script>

								<input type="hidden" name="strFileBody" value="{strBodyFileFrg}">

								<span class="tab-10-r"><b>Внимание! Шаблон существующий на сайте не совпадает с оригиналом в БД.&nbsp;</b></span><br><br>
								<span class="tab-gb" style="font-size: 10px;">Для замены оригинала шаблона шаблоном хранимым на сайте нажмите "Заменить фрагмент" после чего сохраните шаблон с опцией "применить изменения в шаблоне к сайту". Если же Вы хотите чтобы шаблон оригинал (тот код шаблона, который вы видите в поле "Тело шаблона") был применен к сайту, просто сохраните шаблон с параметром "применить изменения в шаблоне к сайту".</span>
								<br><img src="{strAdminImg}break.gif" width="1" height="5"><br><img src="{strAdminImg}li_item_page_{cId}.gif" width=4 height=11> <a href="javascript:void(0)" onclick="document.all.strTplBody.value=document.all.strFileBody.value; document.all.cbxReadNotice.checked=true; is_accept(); alert('Тело оригинального шаблона заменено!')" id="1" class="link-red">Заменить шаблон</a><br><img src="{strAdminImg}break.gif" width="1" height="5"><br>

								<table cellpadding="0" cellspacing="0">
									<tr>
										<td><input type="checkbox" name="cbxReadNotice" onClick="is_accept()"></td>
										<td><span class="tab-10-r">- я ознакомился, и принимаю этот факт при сохранении шаблона</span></td>
									</tr>
								</table>


							</td>
						</tr>
					</if difference.in.content>
					<tr valign="top">
						<td class="tdL" align="right" width="20%"><span>Тело шаблона:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width=80% class="tdR"><textarea name="strTplBody" style="width: 600px; height: 250px; overflow-y:visible; word-wrap:break-word;" class="plane-b">{strTplBody}</textarea></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="20%"><span>Группа шаблона:&nbsp;</span><b><span class="tab-r">*</span></b></td>
						<td width=80% class="tdR">
							<select name="intTplGroup" class="plane" style="width: 300px;">
								<option value="" style="color: #5A5A5A">--------------- Каталог для шаблона ---------------</option>
								<loop lst.group>
									<option value="{intIdGroup}"{intTplGroup_selected}>{strNameGroup}</option>
								</loop lst.group>
							</select>
						</td>
					</tr>
					<if block.tpl.status>
						<tr>
							<td class="tdL" align="right" width="20%"><span>Шаблон доступен:&nbsp;</span><b><span class="tab-r">*</span></b></td>
							<td width=80% class="tdR"><input type="checkbox" name="bolTplStatus"{bolTplStatus_checked}></td>
						</tr>
						<tr>
							<td class="tdL" align="right" width="20%"><span>Последняя публикация:&nbsp;</span></td>
							<td width=80% class="tdR">{strLastPublishDate}</td>
						</tr>
					</if block.tpl.status>
					<tr>
						<td colspan=2 class="tdL">

							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" name="cbxTplPublish"{cbxTplPublish_checked}></td>
									<td><span class="tab-gb" style="font-size 10px;">- применить изменения в шаблоне к сайту</span></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="cbxTplReturn"{cbxTplReturn_checked}></td>
									<td><span class="tab-gb" style="font-size 10px;">- вернуться к редактированию после сохранения</span></td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td colspan=2 align="right"><input type="submit" value="сохранить изменения" class="plane-save" name="smbSaveDoc"></td>
					</tr>
				</table>

			</td>
			<td>&nbsp;</td>
	</form>
	</tr>
</table>

<if difference.in.content>
	<script language="JavaScript">
		<!--
		document.all.smbSaveDoc.disabled=true;
		//-->
	</script>
</if difference.in.content>

<br><img src="{strAdminImg}li_menu_item_{cId}.gif" width="4" height="6">&nbsp;<a href="{module.parent}" class="link-b">вернуться к списку шаблонов</a>

<tpl footer>
