<tpl header>
<tpl header.login.true>

{help.module}

<h2>Работа с шаблонами сайта</h2>
<h4>Раздел служит для создания, изменения, удаления шаблонов страниц сайта</h4>

{error}
<img src="{strAdminImg}break.gif" width=1 height=3><br>

<if lst.templates>
	<table cellpadding=2 cellspacing=1>
		<tr bgcolor="#{cFirstColor}">
			<td><span class="tab-w" style="font-size: 10px;"><b>ID</b></span></td>
			<td width="300"><span class="tab-w" style="font-size: 10px;"><b>Название шаблона</b></span></td>
			<td width="50"><span class="tab-w" style="font-size: 10px;"><b>Статус</b></span></td>
			<td width="100"><span class="tab-w" style="font-size: 10px;"><b>Опции</b></span></td>
		</tr>
		<loop lst.templates>
			<tr {bg}>
			<td align=center><b>{st_id}</b></td>
			<td>{st_name}</td>
			<td align=center><input type="checkbox" name="arrStatusTemplate[{st_id}]"{status_checked}></td>
			<td align=center>
				<a href="{module.child}?tpl={st_id}"><img src="{strAdminImg}icon_edit.gif" width="25" height="14" border=0 alt="Редактировать шаблон"></a>
				<ifa block.root>
					&nbsp;<a href="{page.child}?tpl={st_id}&action=delete"><img src="{strAdminImg}icon_delete.gif" width="16" height="14" border=0 alt="Удалить шаблон"></a>
				</ifa block.root>
				<if difference.in.content.{st_id}>
				<a href="#"><img src="{strAdminImg}icon_compare.gif" border=0 title="Несовпадение контента в {intDiffs} символов" hspace="2"></a>
</if difference.in.content.{st_id}>
</td>
</tr>
</loop lst.templates>
</table>
</if lst.templates>

<if lst.empty>
	<span class="tab-gb" style="font-size: 10px;"><b>Нет доступных шаблонов страниц...</b></span>
</if lst.empty>

<tpl footer>
