<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Редактирование информации о тендере.</h4>

{error}

<form method="post">
	<input type="hidden" name="frmEditTender" value="true">
	<input type="hidden" name="intRecordId" value="{intRecordId}">
	<table class="cms-box">
		<tr>
			<td>
				<table cellpadding=2 cellspacing=1 width=600>
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ТЕНДЕРЕ</b></span></td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Название объекта:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strName" class="plane" value="{strName}" maxlength=255 style="width: 400px" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Вид работ:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strVidRabot" class="plane" value="{strVidRabot}" maxlength=255 style="width: 400px" />
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Адрес:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<textarea name="strTenderObjectAddress" style="width:400px;height:50px;overflow-y:visible; word-wrap:break-word;" class="plane">{strTenderObjectAddress}</textarea>
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Заказчик:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<textarea name="strTenderCustomer" style="width:400px;height:50px;overflow-y:visible; word-wrap:break-word;" class="plane">{strTenderCustomer}</textarea>
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Координаты:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<textarea name="strTenderCoordinates" style="width:400px;height:50px;overflow-y:visible; word-wrap:break-word;" class="plane">{strTenderCoordinates}</textarea>
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Контактное лицо:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<textarea name="strTenderContacts" style="width:400px;height:50px;overflow-y:visible; word-wrap:break-word;" class="plane">{strTenderContacts}</textarea>
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Полезная информация:&nbsp;</td>
						<td width="75%" class="tdR">
							<textarea name="strTenderUsefullInfo" style="width:400px;height:50px;overflow-y:visible; word-wrap:break-word;" class="plane">{strTenderUsefullInfo}</textarea>
						</td>
					</tr>
					<tr>
						<td colspan=2 class="tdL">

							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" name="cbxStatus"{cbxStatus} id="cbxStatus"></td>
									<td><label for="cbxStatus"><span class="tab-gb finger" style="font:9px">- статус активности</span></label></td>
								</tr>
								<tr>
									<td><input type="checkbox" name="cbxReturn"{cbxReturn} id="cbxReturn"></td>
									<td><label for="cbxReturn"><span class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</span></label></td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td colspan="2" align="right" height="30">
							<input type="submit" name="submit" value="сохранить" class="plane-save">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>

<tpl footer>
