<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для работы с пользователями.</h4>

{error}

<table border="0" cellpadding="3" cellspacing="1" width="450">
	<tr><form method="POST">
		<input type="hidden" name="frmUserSearch" value="true">
		<td class="tdL" width="40%" align="right">ФИО пользователя : </td>
		<td class="tdR" width="60%"><input type="text" name="strUserNameSearch" value="{strUserNameSearch}" class="plane" style="width:250"></td>
	</tr>
	<tr>
		<td class="tdL" align="right">Логин : </td>
		<td class="tdR"><input type="text" name="strUserLoginSearch" value="{strUserLoginSearch}" class="plane"></td>
	</tr>
	<tr>
		<td colspan="2" align="right">
			<input type="submit" name="submit" value="поиск" class="plane-enter"/>
		</td></form>
	</tr>
</table>

<if is.searched>
	<table cellpadding="3" cellspacing="1" width="98%">
		<tr bgcolor="{cFirstColor}">
			<td class="tab-head-w" width="5%">ID</span></td>
			<td class="tab-head-w">ФИО пользователя</td>
			<td class="tab-head-w">Логин</td>
			<td class="tab-head-w">Последний вход</td>
			<td class="tab-head-w" width="54">Опции</td>
		</tr>
		<loop list.users>
			<tr>
				<td>{cu_id}</td>
				<td>{strFIO}</td>
				<td>{cu_login}</td>
				<td>{strLastEnter}</td>
				<td><a href="{module.child}?idManager={cu_id}"><img src="{strAdminImg}icon_edit.gif" border="0"></a></td>
			</tr>
		</loop list.users>
	</table>
</if is.searched>


<tpl footer>
