<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4>Раздел для работы с группами пользователей.</h4>

{error}

<table cellpadding="3" cellspacing="1" >
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Название</td>
		<td class="tab-head-w">Статус</td>
		<td class="tab-head-w" width="15%">Опции</td>
	</tr>
	<loop list.users.group>
		<tr>
			<td>{cug_id}</td>
			<td>{cug_name}</td>
			<td align="center"><input type="checkbox" name="groupStatus"{chStatus}></td>
			<td align="center"><a href="{module.name}?action=edit&groupID={cug_id}"><img src="{strAdminImg}icon_edit.gif" border=0></a></td>
		</tr>
	</loop list.users.group>
</table>

<tpl footer>
