<tpl header>
<tpl header.login.true>

<table cellpadding="0" cellspacing="0" width="100%" align="center">
	<tr valign="top">
		<td>

		<if module.access.error>
			<br><p class="tab-r" align="center"><b>Внимание! У Вас нет прав на доступ к модулю.</b><br>Если вы считаете это неправомерным, обратитесь к разработчику.<br>
			Если у Вас есть доступ к модулю «Пользователи», установите нужные права на доступ к данному модулю.
		</if module.access.error>

		<if module.exists.error>
			<br><p class="tab-r" align="center"><b>Внимание! Модуль не найден.</b><br>Возможно модуль был удален, перемещен и/или переименован
		</if module.exists.error>

		<if block.user>
			<br><p align="center">Уважаем{u_gender} <b>{strUserName}</b>, добро пожаловать в <b>WMBM (Web Manager Building Machine)</b> ver. {strNumVersion}

			<div class="cms-news">
				<h3>Обновления</h3>

				<p><span>17.12.2012</span> - добавлен регион Северо-Запад</p>
				<p><span>01.12.2012</span> - ввод объектов Москвы и МО</p>
				<p><span>03.10.2012</span> - обновлены стили левого меню панели управления</p>
			</div>
		</if block.user>

		</td>
	</tr>
</table>

<center><p style="margin:100px 0 0 0;color:#e3e3e3;font:47px bold Verdana;">{projectName}</p></center>
<tpl footer>
