<tpl header>
<tpl header.login.true>

{help.module}

<h2>Список пользователей</h2>
<h4>Для редактирования/удаления/изменения доступа пользователя, воспользуйтесь нужной опцией.</h4>

{error}

{blockPaginator}
<img src="{strAdminImg}break.gif" width="1" height="5"><br>

<table cellpadding="3" cellspacing="1" border="0">
	<tr bgcolor="{cFirstColor}">
		<td width="300"><span class="tab-w" style="font-size: 10px;"><b>ФИО пользователя</b></span></td>
		<td width="150"><span class="tab-w" style="font-size: 10px;"><b>Логин</b></span></td>
		<td width="150"><span class="tab-w" style="font-size: 10px;"><b>Тип доступа</b></span></td>
		<td width="170"><span class="tab-w" style="font-size: 10px;"><b>Последний вход</b></span></td>
		<td width="80"><span class="tab-w" style="font-size: 10px;"><b>Опции</b></span></td>
	</tr>
	<loop users>
		<tr {bg}>
		<td {bgRow}><a href="{module.name.child}?idManager={intIdManager}&stPage={stPage}" class="l" title="ID:{intIdManager}">{strFIOManager}</a></td>
		<td {bgRow}><span class="base-10-s">{strLoginManager}</span></td>
		<td {bgRow}><span class="tab-gb" style="font-size:9px;">{strTypeAccess}</span></td>
		<td {bgRow}><span class="tab-gb" style="font-size: 9px;">{strLastEnter}</span></td>
		<td {bgRow} align="center">
		<a href="{module.name.child}?idManager={intIdManager}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" width="25" height="14" border="0" alt="Редактировать" vspace="3"></a>&nbsp;
		<a href="#" onClick="confirmDelete('{module.name}?id={intIdManager}&action=delete&stPage={stPage}', 'Запись будет удалена безвозвратно,\nтакже будут удалены все связи и права доступа!');"><img src="{strAdminImg}icon_delete.gif" border="0" alt="Удалить" vspace="3"></a>&nbsp;
		</td>
		</tr>
	</loop users>
</table>

<br>
{blockPaginator}
<br>
<table>
	<tr>
		<td bgcolor="#{clrInActiveUser}">&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><span> - отключённые пользователи</span></td>
	</tr>
	<tr>
		<td bgcolor="#{clrActiveUser}">&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><span> - текущий пользователь</span></td>
	</tr>
</table>

<tpl footer>
