<tpl header>
<tpl header.login.true>

{help.module}

<script language="JavaScript" type="text/javascript">
	var winLocURL = '';
	function sortMethods ( sort ) {
		objHrefReload = '{urlReload}' + '&sort='+sort+'#sort';
		window.location.replace(objHrefReload);
	}
</script>

<h2>Редактирование аттрибутов пользователя <span style="font-size:9px;">{strEditUserName}</span></h2>
<h4>Измените свойства пользователя, его доступ к модулям администрирования.</h4>

{error}

<span class="tab-r" style="font-size: 10px;">* - поля обязательны для заполнения.</span><br>
<span class="tab-r" style="font-size: 10px;">1 - если добавляется новый пользователь, то необходимо указать пароль</span>

<br><img src="{strAdminImg}break.gif" width="1" height="5"><br>

<table cellpadding="0" cellspacing="0" width="100%">
	<form method="post" name="editUser">
		<input type="hidden" name="frmUserAddEdit" value="true">
		<input type="hidden" name="intIdUser" value="{intIdEditUser}">
		<tr>
			<td>

				<table cellpadding="2" cellspacing="0" width="650">
					<tr>
						<td class="tdL" align="right" width="190"><span>Фамилия:<span class="tab-r">*</span>&nbsp;</span></td>
						<td class="tdR"><input type="text" name="strLNameUser" value="{strLNameUser}" class="plane" style="width:200px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>Имя:<span class="tab-r">*</span>&nbsp;</span></td>
						<td class="tdR"><input type="text" name="strFNameUser" value="{strFNameUser}" class="plane" style="width:200px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>Отчество:&nbsp;</span></td>
						<td class="tdR"><input type="text" name="strPNameUser" value="{strPNameUser}" class="plane" style="width:200px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>Логин:<span class="tab-r">*</span>&nbsp;</span></td>
						<td class="tdR"><input type="text" name="strLoginUser" value="{strLoginUser}" class="plane" style="width:200px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>Пароль:<sup class="tab-r">1</sup>&nbsp;</span></td>
						<td class="tdR"><input type="text" name="strPassUser" value="{strPassUser}" class="plane" style="width:200px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>E-mail:&nbsp;</span></td>
						<td class="tdR"><input type="text" name="strEmailUser" value="{strEmailUser}" class="plane" style="width:200px;"></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>Пол:<span class="tab-r">*</span>&nbsp;</span></td>
						<td class="tdR">

							<table cellpadding="0" cellspacing="0">
								<tr>
									<td><input type="radio" name="bolSexUser" value="m"{bolSexUser_m}></td>
									<td><span style="font-size:9px;">- муж&nbsp;</span></td>
									<td><input type="radio" name="bolSexUser" value="f"{bolSexUser_f}></td>
									<td><span style="font-size:9px;">- жен</span></td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>Статус:&nbsp;</span></td>
						<td class="tdR"><input type="checkbox" name="chUserStatus"{chUserStatus}></td>
					</tr>
					<tr>
						<td class="tdL" align="right" width="190"><span>Группа:&nbsp;</span></td>
						<td class="tdR">
							<select name="intGroupID" class="plane">
								<loop list.user.groups>
									<option value="{intGroupID}"{intGroupID_sel}>{strGroupName}</option>
								</loop list.user.groups>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="right">
							<input type="submit" name="saveUserInfo" value="сохранить" class="plane-save"/>
						</td>
					</tr>
				</table>

			<td>
		</tr>
</table>

<if access.prj>
	<div style="padding:2px 0 10px 0">
		<img src="{strAdminImg}li_item_page_{cId}.gif" width=4 height=11>&nbsp;<a href="{module.name.parent}?stPage={stPage}" class="link-red">Вернуться к списку пользователей</a>
	</div>

	<table cellpadding="0" cellspacing="0" width="90%">
		<tr><td><span class="txt-page-ob"><b>Параметры доступа пользователя к проектам</b></span><br />
			<span class=txt-page-ob-desc>Измените доступ к администрированию проектов.</span>{dot1px}</td></tr>
	</table>
	{error_project}

	<table cellpadding="2" cellspacing="0" width="650">
		<loop lst.projects>
			<tr>
				<td class="tdL" align="center" width="20"><input type="checkbox" name="arrAccessProject[{fp_id}]"{arrAccessProjectChecked}></td>
				<td class="tdR"><span>{fp_name}</td>
			</tr>
		</loop lst.projects>
		<tr>
			<td colspan="2" align="right"><input type="submit" name="saveUserProjects" value="сохранить" class="plane-save"></td>
		</tr>
	</table>
</if access.prj>


<if is.modules>
	<table cellpadding="0" cellspacing="0" width="90%" style="margin:5px 0 0 0">
		<tr>
			<td><span class="txt-page-ob"><b>Параметры доступа пользователя к модулям администрирования</b></span><br>
				<span class=txt-page-ob-desc>Измените доступ к модулям администрирования.</span>{dot1px}</td>
		</tr>
	</table>
	{error_modules}

	<if jimmy>
		<script>
			var selected = false;

			function checkboxSelect() {
				if (!selected) {
					var checkBoxes = document.getElementsByName("arrModule");

					for(var i = 0 ; i < checkBoxes.length; i++) {
						alert(checkBoxes[i]);
						checkBoxes[i].checked = "checked";
					}

					var checkAllButton = document.getElementById("checkAll");
					checkAllButton.value = "Deselect All";
					selected = true;
				} else {

					var checkBoxes = document.getElementsByName("arrModule");

					for(var i = 0 ; i < checkBoxes.length; i++) {
						checkBoxes[i].checked = null;
					}

					var checkAllButton = document.getElementById("checkAll");
					checkAllButton.value = "Select All";
					selected = false;
				}
			}
		</script>
	</if jimmy>


	<table width="100%">
		<if jimmy>
			<loop lst.projects.module.access>
				<tr>
					<td><img src="{strAdminImg}li_menu_item_1.gif" width="4" height="6">&nbsp;<a href="#" onClick="if (tabAccessProject{fp_id}.style.display == 'none') {tabAccessProject{fp_id}.style.display = 'block'; } else {tabAccessProject{fp_id}.style.display = 'none'}; return false;" class="link-green">{fp_name}</a></td>
				</tr>
				<tr>
					<td>
						<table id="tabAccessProject{fp_id}" style="display: none;">
							<tr>
								<td>111</td>
							</tr>
						</table>
					</td>
				</tr>
			</loop lst.projects.module.access>
			<tr>
				<td colspan="2">
					<input id="checkAll" type="button" value="Select All" onClick="checkboxSelect();">
				</td>
			</tr>
		</if jimmy>


		<tr>
			<td colspan="2"><a name="sort"></a>
				<b class="tab-gb">Сортировать модули по</b>:
				<select name="sbxSortModules" class="plane" style="width:200px" onChange="sortMethods(this.options[this.selectedIndex].value)">
					<option value="id"{id_sel}>ID</option>
					<option value="alias"{alias_sel}>альясу</option>
					<option value="name"{name_sel}>названию</option>
				</select>
			</td>
		</tr>



		<tr>
			<loop list.user.modules.access>
				<td colspan="2" valign="top">
					<table border="0" cellpadding="2" cellspacing="0" width="100%">
						<loop list.sub.modules.{keyArr}>
						<tr>
							<td><input type="checkbox" name="arrModule[{moduleID}]"{moduleChecked}></td>
							<td> <span class="{moduleCssClass}">{moduleName}</span> <span class="txt-9-b">[ID:{moduleID}]</span><br>
								<span class="txt-page-ob-desc"> {moduleAlias}</span></td>
						</tr>
			</loop list.sub.modules.{keyArr}>
	</table>
	</td>
	</loop list.user.modules.access>
	</tr>

	<tr>
		<td colspan="2" align="right">
			<input type="submit" name="saveUserPermissions" value="сохранить" class="plane-save">
		</td>
	</tr>
	</table>
</if is.modules>

</form>



<br><img src="{strAdminImg}li_item_page_{cId}.gif" width=4 height=11>&nbsp;<a href="{module.name.parent}?stPage={stPage}" class="link-red">Вернуться к списку пользователей</a>

<tpl footer>
