<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4></h4>

{error}

{blockPaginator}
<table cellpadding="3" cellspacing="1" width="98%">
	<tr bgcolor="{cFirstColor}">
		<td class="tab-head-w" width="5%">ID</td>
		<td class="tab-head-w">Заголовок</td>
		<td class="tab-head-w" width="9%">Дата созд.</td>
		<td class="tab-head-w" width="9%">Дата изм.</td>
		<td class="tab-head-w" width="6%">Статус</td>
		<td class="tab-head-w" width="6%">Видео</td>
		<td class="tab-head-w" width="54">Опции</td>
	</tr>
	<loop videos>
		<tr {bg}>
		<td><b>{sn_id}</b></td>
		<td>{sn_title}</td>
		<td>{strDateAdd}</td>
		<td>{strDateChange}</td>
		<td align="center"><input type="checkbox" name="cbxStatus" {cbxStatus} disabled /></td>
		<td align="center">
			<if attach.{sn_id}>
			<img src="{strAdminImg}attach.gif" border="0">
			</if attach.{sn_id}>
		</td>
		<td>
			<a href="{module.child}?id={sn_id}&stPage={stPage}"><img src="{strAdminImg}icon_edit.gif" border=0 hspace=3></a>
			<a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={sn_id}&act=del');"><img src="{strAdminImg}icon_delete.gif" border=0 hspace=3></a>
		</td>
		</tr>
	</loop videos>
</table>

<tpl footer>
