<tpl header>
<tpl header.login.true>

<h2>{module.title}</h2>
<h4></h4>

{error}

<script type="text/javascript">
	$(document).ready(function() {
		$("a#picMain").fancybox({
			'titleShow'		: true
			, 'titlePosition'	: 'over'
			, 'transitionIn'	: 'fade'
			,	'transitionOut'	: 'elastic'
		});

		<loop all.images.js>
		$("a#pic{si_id}").fancybox({
			'titleShow'		: true
			, 'titlePosition'	: 'over'
			, 'transitionIn'	: 'fade'
			,	'transitionOut'	: 'elastic'
		});
		</loop all.images.js>
	});
</script>

<form method="post" enctype="multipart/form-data">
	<input type="hidden" name="frmEditNews" value="true">
	<input type="hidden" name="intRecordId" value="{intRecordId}">
	<table class="cms-box">
		<tr>
			<td>
				<table cellpadding=2 cellspacing=1 width=600>
					<tr valign="bottom">
						<td colspan="2" class="tdL" height="25"><span class="txt-9-b"><b>ИНФОРМАЦИЯ О ВИДЕО-СЮЖЕТЕ</b></span></td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Заголовок:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<input type="text" name="strTitle" class="plane" value="{strTitle}" maxlength=255 style="width:400px">
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top"><span class="txt-9-b">Код видео:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<textarea name="strNewsBody" style="width:400px;height:80px;overflow-y:visible; word-wrap:break-word;" class="plane">{strNewsBody}</textarea>
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right"><span class="txt-9-b">Дата новости:&nbsp;</span><span class=tab-10-r>*</span></td>
						<td width="75%" class="tdR">
							<select name="intDay" class="plane">
								<loop days>
									<option value="{intDay}"{selDay}>{strDay}</option>
								</loop days>
							</select>
							<select name="intMonth" class="plane">
								<loop months>
									<option value="{intMonth}"{selMonth}>{strMonth}</option>
								</loop months>
							</select>
							<select name="intYear" class="plane">
								<loop years>
									<option value="{intYear}"{selYear}>{strYear}</option>
								</loop years>
							</select>
						</td>
					</tr>
					<tr>
						<td width="25%" class="tdL" align="right" valign="top" style="padding-top:6px"><span class="txt-9-b">Изображение:&nbsp;</span><br>
							<span class="txt-page-ob-desc">в формате JPEG (JPG)</span><br /><br /><span class="txt-9-b">Краткое описание фото:&nbsp;</span><br>
							<span class="txt-page-ob-desc">max 256 симв.</span></td>
						<td width="75%" class="tdR">
							<table cellPadding="1" cellSpacing="1">
								<tr>
									<if is.main.image>
										<td>
											<input type="hidden" name="loadMorePics" value="1"/>
											<a href="{cfgAllImg}news/news.photo.{intRecordId}.b.jpg" id="picMain"><img src="{cfgAllImg}news/news.photo.{intRecordId}.jpg" border="0" alt="{strMainPicDesc}" width="100" style="border: 1px solid #ffeeff;"></a> <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=del');" onMouseOver="Tip('Удалить фото')" onMouseOut="UnTip()" style="color:red">x</a></td>
									</if is.main.image>
									<loop all.images>
										<td>
											<a href="{cfgAllImg}news/news.photo.{intRecordId}.{si_id}.b.jpg" id="pic{si_id}"><img src="{cfgAllImg}news/news.photo.{intRecordId}.{si_id}.jpg" border="0" alt="{si_desc}"></a> <a href="#" onClick="confirmDelete('{module.name}?stPage={stPage}&id={intRecordId}&act=delimg&pic={si_id}');" onMouseOver="Tip('Удалить фото')" onMouseOut="UnTip()" style="color:red">x</a></td>{strTableRows}
									</loop all.images>
								</tr>
							</table>
							<if can.upload>
								<input type="file" name="flPhoto" class="plane" style="width:400px;margin:5px 0 3px 0"><br>
								<textarea id="strImgDesc" name="strImgDesc" style="width:400px;height:50px;overflow-y:visible;word-wrap:break-word;" class="plane">{strImgDesc}</textarea>
							</if can.upload>
							<ifelse can.upload>
								Загружать больше нельзя.. :(
							</ifelse can.upload>
						</td>
					</tr>
					<tr>
						<td colspan=2 class="tdL">

							<table cellpadding=0 cellspacing=0>
								<tr>
									<td><input type="checkbox" id="cbxStatus" name="cbxStatus"{cbxStatus}></td>
									<td><label for="cbxStatus" class="tab-gb finger" style="font:9px">- статус активности</label></td>
								</tr>
								<tr>
									<td><input type="checkbox" id="cbxReturn" name="cbxReturn"{cbxReturn}></td>
									<td><label for="cbxReturn" class="tab-gb finger" style="font:9px">- вернуться к редактированию после сохранения</label></td>
								</tr>
							</table>

						</td>
					</tr>
					<tr>
						<td colspan="2" align="right" height="40">
							<input type="submit" name="submit" value="сохранить" class="plane-save">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>

<br>

<img src="{strAdminImg}li_menu_item_{cId}.gif" border=0 hspace=3><a href="{module.parent}?stPage={stPage}" class="link-blue">вернуться</a>

<br>
<br>


<tpl footer>
