<frg page.header>
<frg top.counters>
<div id="main_win">
<frg general.top.plashka>

<table cellPadding="0" cellSpacing="0">
  <tr>
    <td width="17"><img src="{cfgSiteImg}space.gif" border="0" width="17" height="1"></td>
    <td width="168" id="leftMenu" valign="top" bgcolor="#D2D5E4" style="border-left:solid 1px black; border-right:solid 1px black;">
      <div style="width:168px;">
        <frg general.left.menu>
      </div>
    </td>
    <td id="generalContent" valign="top">
      <table cellPadding="0" cellSpacing="0" width="100%">
        <tr>
          <td valign="top" style="padding:7px;">
            <tpl page.contents>
          </td>
        </tr>
      </table>
    </td>
    <td width="167" id="rightAnonsBlock" valign="top">
      <frg right.menu>
    </td>
    <td width="4"><img src="{cfgSiteImg}space.gif" border="0" width="4" height="1"></td>
  </tr>
</table>

<frg general.bottom>
</div>

<frg page.footer>