<p><span class="txt-bb">Подтверждение регистрации</span></p>

<if success>
<p>Подтверждение Вашей регистрации прошло <b class="success">успешно</b>,
теперь Вы можете воспользоваться указанными в email логином и паролем для авторизации на сайте.</p>
</if success>


<if no.such.user>
<p><b class="err">Нет пользователя для подтверждения регистрации</b></p>
<p class="err">Вероятно Вы воспользовались ссылкой слишком поздно.<br>
Период хранения неподтверждённых данных в базе - 7 дней.</p>
<p class="err">Вероятно Вы или кто-то другой уже подтвердили регистрацию на сайте.<br>
Проверьте, возможно Вы можете авторизоваться.</p>

<p>По всем интересующим Вас вопросам обращайтесь по адресу <a href="mailto:info@petrostroybaza.ru">info@petrostroybaza.ru</a></p>

</if no.such.user>


<if no.such.code>
<p><b class="err">Код регистрации указан неверно</b></p>
</if no.such.code>