<p style="margin:2px 5px 10px 0"><span class="txt-bb" style="font-size:14px;">Скачать номер</span></p>
<p style="margin:10px 5px 10px 0"><b>www.PetroStroyBaza.ru</b> - полный структурированный обзор инвестиционно-строительного комплекса Санкт-Петербурга и Ленинградской области</p>

<if access>
    <div id="box-releases" class="cols{cols}">
    <loop access.types>
        <if releases.{srat_id}>
            <div class="col">
                <h3>{srat_name}</h3>
            <loop releases.{srat_id}>
                <div class="row"><img src="{cfgSiteImg}content/item.long.arrow.gif" border="0" style="margin:6px 7px 0 0;">
                    <a href="javascript:void(0)" onClick="jsShowModal('{cfgSiteUrl}download/{sr_id}', 780, 600, 'yes', 'yes', 'winDoc')">{sr_title}</a>
                </div>
            </loop releases.{srat_id}>
            </div>
        </if releases.{srat_id}>
    </loop access.types>
    <div class="clearer"></div>
    </div>
</if access>

<if no.permissions>
    <p class="err"><b>Доступ к файлам выпусков с объектами Санкт-Петербурга и Северо-Запада открыт подписчикам электронного журнала "Строительного еженедельника "ПЕТРОСТРОЙ".</b></p>
</if no.permissions>

<if no.access>
    <p class="err"><b>Доступ к файлам номера - платная услуга, и доступна только для зарегистрированных пользователей и подписчиков электронного журнала "Строительный еженедельник "ПЕТРОСТРОЙ".</b></p>
    <p>Если Вы уже зарегистрированы, введите свой Логин и Пароль в соответствующие поля в левом столбце страницы сайта!</p>
    <p>Если у Вас нет Логина и Пароля, <a href="{cfgSiteUrl}register">зарегистрируйтесь</a> на сайте.</p>
</if no.access>
</if access>

<p>ВНИМАНИЕ! Вся информация, размещенная в журнале «Строительный еженедельник «ПЕТРОСТРОЙ» и на веб-сайте petrostroybaza.ru, охраняется в соответствии с законодательством РФ, в том числе, Законом РФ "Об авторском праве и смежных правах" и не подлежит использованию кем-либо в какой бы то ни было форме, в том числе воспроизведению, распространению, переработке иначе как с письменного разрешения редакции.</p>
<p>Фотоизображения, размещенные в журнале «Строительный еженедельник «ПЕТРОСТРОЙ», являются исключительной собственностью владельца (если явно не указано другое) и защищены законом РФ об авторском праве и международными соглашениями. Полное или частичное воспроизведение фотоизображений без письменного разрешения владельца журнала «Строительный еженедельник «ПЕТРОСТРОЙ» запрещается.</p>
