<!-- Copyright by Shirokovskiy Dmitry, 2007 <shirokovskij@mail.ru> -->
<div style="border:1px dashed red; padding:30px; margin:3px;" align="center">
<span class="Err" style="font-size:12px;"><b>{strMessage}</b></span>
</div>