<div id="pageContent">
	<h3 class="title">{sig_name}</h3>

	<div class="box-list">
		<ul>
			<loop photolist>
				<li class="{strClass}">
					<p><a href="{cfgSiteUrl}foto/fotobank/{strDateUrl}/{strFilename}/{sig_id}"><img src="{cfgAllImg}fotobank/groups/{sig_id}/t_h_u_m_b_{si_filename}" alt="{si_title}" title="{si_title}" /></a></p>
					<p>{si_desc}</p>
					<p>{strDate}</p>
					<p><a href="{cfgSiteUrl}foto/fotobank/{strDateUrl}/{strFilename}/{sig_id}">www.petrostroybaza.ru</a></p>
					<p>фотограф {si_author}</p>
				</li>
			</loop photolist>
		</ul>
	</div>
</div>


<frg fotobaza>
