<p style="margin:2px 5px 10px 0"><span class="txt-bb" style="font-size:14px;">Скачайте файл раздела "Генплан"</span></p>

<loop genplan>
<div style="margin-left:-7px;"><img src="{cfgSiteImg}content/item.long.arrow.gif" border="0" style="margin:6px 7px 0 0;">

<a href="javascript:void(0)" onClick="jsShowModal('{cfgSiteUrl}genplan/{pg_id}', 780, 580, 'yes', 'yes', 'GenPlan{pg_id}')">{pg_title}</a>

</div>
</loop genplan>

<if no.genplan.files>
<p class="err"><b>На данный момент на сайте нет файлов раздела "Генплан"</b></p>
</if no.genplan.files>