<p><font face="Arial"><if article.archive><br />
<div class="cnt"><br />
<span class="txt-bb" style="margin-left:10px; font-size:14px;">Все статьи раздела "Тендеры"</span><br />
{blockPaginator}<br />
</div></font></p>
<p><font face="Arial"><table cellPadding="0" cellSpacing="0" width="100%" class="vtop" style="margin-top:10px"><br />
<loop last.articles><br />
  <tr><br />
    <td width="25"><img src="{cfgSiteImg}content/item.long.arrow.gif" border="0" style="margin:6px 7px 3px 0;"></td><br />
    <td style="border-bottom:1px solid #EEEEEE"><br />
      <table cellPadding="0" cellSpacing="0" width="100%" style="margin:3px 0 3px 0"><br />
        <tr><br />
          <td><br />
            <a href="{cfgUrlSite}analitika/{pa_id}" class="link-blue"><span class="txt-bb" style="font-family:Tahoma;color:#9E9E9E">{strDatePublicArticle}</span> <span class="txt-bb" style="font-family:Tahoma;">{pa_title}</span> </a><br />
            <p class="txt-block">{pa_anons} <a href="{cfgUrlSite}analitika/{pa_id}" class="link-blue">Подробнее...</a></p><br />
          </td><br />
<!-- if article.picture.{sn_id}><br />
          <td width="110" align="left"><a href="{cfgUrlSite}news/{sn_id}"><img src="{cfgAllImg}news/news.photo.{sn_id}.jpg" border="0"></a></td><br />
</i f article.picture.{sn_id} --><br />
        </tr><br />
      </table></font></p>
<p><font face="Arial">    </td><br />
  </tr><br />
</loop last.articles><br />
</table></font></p>
<p><font face="Arial"><div class="cnt"><br />
{blockPaginator}<br />
</div><br />
</if article.archive></font></p>
<p><font face="Arial"><if one.article><br />
<div class="cnt"><br />
<!-- i f picture><br />
<a href="#" onClick="window.open('{cfgAllImg}analitic/article.photo.{sn_id}.b.jpg', 'photoNews{sn_id}', 'width=430, height=300')"><br />
<img src="{cfgAllImg}analitic/article.photo.{sn_id}.b.jpg" width="200" border="0" align="right" style="margin:0 0 5px 10px"></a><br />
</i f picture --><br />
<span class="sm-gyl">{strDatePublArticle}</span><br />
<p class="title1" style="margin-top:15px">{pa_title}</p><br />
<p style="margin:12px 0 4px 0"><b>{strAnonsBody}</b></p><br />
<p style="margin:12px 0 4px 0">{strArticleBody}</p></font></p>
<p><font face="Arial"><p><a href="{cfgUrlSite}analitika?stPage={stPage}">к списку статей</a></p><br />
</div><br />
</if one.article></font></p>