<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Новый комментарий - Петростройбаза</title>
</head>
<body>
<table style="width: 100%; background-color: #c7c7c7; background-repeat: repeat; min-height: 340px" background="email-bg.jpg">
    <tr>
        <td style="padding: 20px 0" align="center">

            <table style="width: 600px;border: 1px solid #777777;border-collapse: collapse">
                <tr>
                    <td style="padding: 20px; background-color: #27277C; font-size: 18px; color: #FFFFFF">
                        Петростройбаза | Новый комментарий на сайте
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #feffe9; font-size: 15px">
                        Уважаемый администратор сайта PetroStroyBaza.ru!<br />
                        На сайте появился новый комментарий к объекту (<a href="{%LINK_COMMENT%}" target="_blank">ID: {%ID%}</a>).<br />
                        [<a href="{%LINK_COMMENT%}" target="_blank">{%LINK_COMMENT%}</a>]<br /><br />
                        <blockquote style="color: #27277C; background-color: #F9C36D; padding: 5px">&laquo; {%COMMENT%} &raquo;</blockquote><br />
                        <br />
                        Перейдите по ссылке для просмотра комментария и ответа<br><a href="{%LINK_EDIT%}">{%LINK_EDIT%}</a>.<br />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #F9C36D; font-size: 12px; color: #727272; text-align: center">
                        <i>Не отвечайте на данное письмо!<br>Текст сформирован автоматически почтовым роботом.</i>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
