<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Новости - Петростройбаза</title>
</head>
<body>
<table style="width: 100%; background-color: #c7c7c7; background-repeat: repeat; min-height: 340px" background="email-bg.jpg">
    <tr>
        <td style="padding: 20px 0" align="center">

            <table style="width: 680px;border: 1px solid #777777;border-collapse: collapse">
                <tr>
                    <td style="padding: 20px; background-color: #27277C; font-size: 18px; color: #FFFFFF">
                        Петростройбаза | {%MAIL_SUBJECT%}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 20px 40px; background-color: #feffe9; font-size: 15px">
                        {%MAIL_BODY_CONTENT%}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; background-color: #F9C36D; font-size: 12px; color: #727272; text-align: center">
                        {%MAIL_BODY_FOOTER_CONTENT%}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
