<table cellpadding="0" cellspacing="0" width="100%" height="92%">
	<tr valign="top">

		<td width="200" id="wmbm_leftmenu_box"><tpl user.menu></td>
		<td width="14"><table height="100%"><tr><td width="9" background="{strAdminImg}bg_dotted_vert.gif"></td></tr></table></td>
		<td id="wmbm_content">
			<table cellpadding="0" cellspacing="0" width="100%" height="20" bgcolor="#{cSecondColor}">
				<tr>
					<td>&nbsp;<span class="tab-w" style="font-size: 10px;">Добро пожаловать, <b>{strUserName}</b></td>
					<td align="right"><span class="tab-w">Сегодня: <b>{strCurrentDate}</b>&nbsp;&nbsp;</td>
				</tr>
			</table>

<if title.moduleREM>
			<table cellpadding="3" cellspacing="0" width="100%">
				<tr>
					<td colspan="2" height="15"></td>
				</tr>
				<tr>
					<td width="100%">&nbsp;</td>
					<td align="right" bgcolor="#{cSecondColor}" nowrap><span class="tab-w"><b>{module.title}</b>&nbsp;&nbsp;</td>
				</tr>
			</table>
</if title.moduleREM>

