<tpl header>

<if block.error.login>
<table cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="22"><img src="{strAdminImg}error.gif" width="18" height="18"></td>
    <td><span class="tab-r"><b>{strLoginError}</b></span></td>
  </tr>
</table>
</if block.error.login>

<center style="margin-top:35px">
<fieldset id="loginField" style="width:250px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
<legend style="color:#214653;font-size:12px"><b>Авторизация</b></legend>
<table cellpadding="0" cellspacing="0" align="center">
<tr>
<form name="login" method="post">
<input type="hidden" name="submit_login" value="yes">
  <td>&nbsp;</td>
  <td>

    <table cellpadding="0" cellspacing="0" style="margin-top:7px">
      <tr height="24">
        <td><input class="plane" type="text" name="bss_username" style="color:#214653; text-align: center"></td>
      </tr>
      <tr height="24">
        <td><input class="plane" type="password" name="bss_password" style="color:#214653; text-align: center"></td>
      </tr>
      <tr height="24">
        <td align="right"><input type="submit" value="войти" class="plane-enter" name="submitLogin"></td>
      </tr>
    </table>

  </td>
</tr>
</form>
</table>
</fieldset>
</center>

<img src="{strAdminImg}break.gif" width="1" height="5">

<script language="JavaScript">
<!--
login_focus();
//-->
</script>

<tpl footer>
