<if block.login.true>
<!--For the header.login.true module-->
      		</td>
      	</tr>
    	</table>
</if block.login.true>
    </td>
  </tr>
<if block.login.false>
  <tr height="44">
    <td colspan="3">

      <table cellpadding="0" cellspacing="0" width="100%" border="4" height="14">
        <tr bgcolor="#CCCCCC">
          <td style="padding-left:7px"><span style="font-size:10px;color:#333333"><b>The best internet development solutions <a href="http://www.jimmy.jino-net.ru" target="_blank" class="link-gray" style="text-decoration: none">(!)</a></b></td>
          <td height="20"><p style="font-size:10px;color:#333333" align="right"><a href="http://www.jimmy.jino-net.ru" target="_blank" class="link-orange"><b>Jimmy Web Studio</b>&trade;</a> (CMS-version {strNumVersion})&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</if block.login.false>

<if block.login.true>
  <tr height="36">
    <td colspan="3">

      <table cellpadding="0" cellspacing="0" width="100%" height="14">
        <tr bgcolor="#{cFirstColor}">
          <td style="padding-left:7px"><span style="font-size:10px" class="tab-w"><b>The best internet development solutions</b></td>
          <td height="20"><p style="font-size:10px" class="tab-w" align="right"><a href="http://www.jimmy.jino-net.ru" target="_blank" class="link-w">Jimmy Web Studio&trade;</a> (CMS-version {strNumVersion})&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</if block.login.true>
</table>

</body>
</html>