<table id="block_menu_head" bgcolor="#{cFirstColor}">
	<tr><td><span class="tab-w">Имя проекта</span></td></tr>
	<if block.lst.projects>
	<tr><form method="post">
		<input type="hidden" name="frmSelectProject" value="true" />
		<td bgcolor="#{cThirdColor}" height="30"><img src="{strAdminImg}break.gif" width="1" height="2">
			<select name="enumProjects" class="plane" style="font-size: 9px; width: 120px;">
				<loop lst.projects>
					<option value="{intIdProject}"{intIdProjectSelected}>{strNameProject}</option>
				</loop lst.projects>
			</select>&nbsp;<input type="submit" value="Ok" style="width: 30px;" class="plane-enter">
		</td>
		</form>
	</tr>
	</if block.lst.projects>
	<if block.project>
		<tr>
			<td bgcolor="#{cThirdColor}" height="30" align="center">&nbsp;<span style="font-size: 12px;color:{cFirstColor}"><b>{strCurrentProject}</b></span></td>
		</tr>
	</if block.project>
</table>

<if block.subitem.menu>
	<table id="block-chapter-maintaince">
		<tr><td bgcolor="#{cFirstColor}"><span class="tab-w">Управление разделом</span></td></tr>
		<tr>
			<td class="menu-items" bgcolor="#{cThirdColor}">
				<loop menu.insert.item>
					<img class="arrow-pic" src="{strAdminImg}li_menu_item_{cId}.gif" /><a href="{strLink}{strLinkAtrib}" class="link-b"><b>{strModuleName}</b></a><br />
					{dotSeparator}
				</loop menu.insert.item>
			</td>
		</tr>
	</table>
</if block.subitem.menu>

<table id="block-site-maintaince">
	<tr bgcolor="#{cFirstColor}"><td><span class="tab-w">Управление сайтом</span></td></tr>
	<tr>
		<td class="menu-items" bgcolor="#{cThirdColor}">
			<loop menu.item>
				<img class="arrow-pic" src="{strAdminImg}li_menu_item_{cId}.gif" /><a href="{strLink}{strLinkAtrib}" class="link-b"><b>{strModuleName}</b></a><br />
				<loop menu.sub.{intIdModule}>
					<img class="sub-arrow-pic" src="{strAdminImg}li_menu_item_{cId}.gif" /><a href="{strSubLink}{strSubLinkAtrib}" class="link-b"><b>{strSubModuleName}</b></a><br />
				</loop menu.sub.{intIdModule}>
			</loop menu.item>
		</td>
	</tr>
</table>

<!--<iframe align="center" width="170" height="170" src="{strAdminUrl}frame.php" noresize frameborder="0" scrolling="no"></iframe>-->
