.standart {
  cursor: pointer;
}

#main_top_menu_block #item_menu { /* Item of menu line = block of menu */
  height: 24px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  padding-top: 4px;
}

