.standart {
  cursor: hand;
}

#main_top_menu_block #item_menu { /* Item of menu line = block of menu */
  height: 24px;
  width: 24%;
  float: left;
  position: relative;
  text-align: center;
  padding-top: 4px;
}

/*#generalContent {
  width:expression(
    document.body.clientWidth < 996 ? "640px" : ( document.body.clientWidth - 356 )
  );
  min-width: 640px;
}*/