html {font-family:Arial,Tahoma,Verdana, sans-serif}
body {font-family:Arial,Tahoma,Verdana;font-size:10px}

/* HTML Tags */
form {margin:0}
h1.title {font-size:15px;color:#001a85;text-shadow:1px 1px 1px #DCDCDC}
h4 {margin:10px 0 4px}
td {font-family:Arial,Tahoma,Verdana,sans-serif;font-size:12px;color:#696969;padding:0;margin:0}
a img {border:0}
p {font-size:13px}
ul, li {margin:0;padding:0}
textarea {width:400px;min-height:90px}
/* ~~~ */


.finger {cursor:pointer}
.help {cursor:help}
.paginator {width:99%}
.hidden {display:none}
.transparent {color:transparent}
.redtext {color:#FF3333}
.fl {float:left}
.fr {float:right}
.half {width:50%}

#generalContent {width:90%;min-width:640px}
#pageContent {width:99%;min-width:640px;margin:0 auto}
#main_win {min-width:996px}

div.cnt {padding:5px;width:98%}
div.cnt li {color:red}

/* Tables */
table.vtop td, td.vtop {vertical-align:top}
table.t-format-1 {border-top:2px solid #F9C36D;border-bottom:1px solid #F9C36D}
table.t-format-1 td {height:29px;border-bottom:1px solid #F9C36D}
.tdL1 {border-bottom:1px solid #f9c36d;border-right:1px solid #f9c36d;padding:3px 5px}
.tdR1 {border-bottom:1px solid #f9c36d;padding:3px 5px}
.tdR1 a {color:#27277C}

/* Images */
img.grayBrd {border:1px solid gray}
img.yellBrd {border:1px solid #f9c36d}
img.object-img {margin-bottom:10px}
img.object-img.preview {width:100px;vertical-align:top}

.col-news {}
.col-news .news-list {width:50%;min-width:640px;margin-top:10px;/* required settings for Scrollable Tool ==> */ position:relative;overflow:hidden;border-bottom:1px solid #EEE}
.col-news .news-list .items {position:absolute;/* this time we have very large space for height */ height:7000em;margin:0}
.col-news .news-arr {width:25px}
.col-news .news-arr img {margin:6px 7px 3px 0}
.col-news .news-cell {width:94%;border-bottom:1px solid #EEEEEE}
.col-news .news-box {width:100%;margin:3px 0 3px 0;padding-left:22px;background:url("/storage/siteimg/content/item.long.arrow.gif") no-repeat scroll 1px 3px transparent}
.col-news .news-box.pictured {height:122px}
.col-news .news-box .news-image {text-align:left}
.col-news .news-box .news-text {text-align:left;width:94%}
.col-news .news-box .news-text .txt-bb {font-family:Tahoma}

.col-videos {width:49%}
.col-videos .videos-title {font-size:25px;color:black;margin-top:12px;padding-bottom:8px}
.col-videos .videos-title span {background:#27277C;color:#F9C36D;padding:2px 4px;font-weight:bold}
.col-videos .video-box {width:98%;border-bottom:1px solid #EEEEEE;margin:10px 0 0;padding:4px 0 8px}
.col-videos .video-box img.thumb {margin:0 10px 4px 0;width:200px}
.col-videos .video-box .video-title {font-weight:bold;color:black}
.col-videos .video-box .video-descr {margin-top:4px}
.col-videos .video-box .video-date img {margin:0 7px 0 0}
.col-videos .video-box p {margin:0 0 4px 0}
.col-videos .video-box .popup {width:600px;height:700px}

.cnt #video,
.cnt #video .date {text-align:center}
.cnt .video-descr {text-align:justify;width:96%}

.cnt .object-features {margin-top:20px;border-top:1px solid #F9C36D;width:100%}
.cnt .object-features .tdL1 {width:25%;background-color:#EFEFEF}
.cnt .object-features .tdL1,
.cnt .object-features .tdR1 {padding:7px}

.ad-info-box span.title1 {font-family:Tahoma}
.ad-info-box .link-gro {font-size:14px;font-weight:bold}

.border-radius-10 {/* For good browsers */ -moz-border-radius:10px;/* Firefox */ -webkit-border-radius:10px;/* Safari, Chrome */ -khtml-border-radius:10px;/* KHTML */ border-radius:10px;/* CSS3 */ }
.border-radius-5 {/* For good browsers */ -moz-border-radius:5px;/* Firefox */ -webkit-border-radius:5px;/* Safari, Chrome */ -khtml-border-radius:5px;/* KHTML */ border-radius:5px;/* CSS3 */ }


/* ToolTips */
.tooltip-wrapper {position:relative}
.tooltip {width:200px;min-height:100px;border:1px solid #575757;background:#cfcfcf;position:absolute !important;left:60px;margin-top:-10px;z-index:888;padding:10px 7px;text-align:center}
#pnevmotech_tooltip.tooltip,
#kran_tooltip.tooltip {left:30px;margin-top:-40px}
#naves_tooltip.tooltip {left:5px}
#ad_add.tooltip {top:60px;right:10px;left:auto;width:260px}
#ad_add.tooltip .ads-link {margin-top:60px}
.tooltip h3 {margin-top:0;margin-bottom:5px;color:#343434;text-transform:uppercase}
.tooltip p {margin-top:2px;margin-bottom:0}
.tooltip p a:hover {color:#303030}
.tooltip p.ads-link a {color:#db3333}
.tooltip p.ads-link a:hover {color:#ff0000;text-decoration:none}
.icons-block div {position:relative}
/***/

/* Links */
a {text-decoration:none;font-size:12px}

a.linkH {color:#FFFFFF;font-family:Arial}
a.linkH:hover {text-decoration:none}

a.linkHu {color:#a4c4e7;font-family:Arial}
a.linkHu:hover {text-decoration:none}

a.linkYl {text-decoration:underline;color:#ffcc00}

a.link-blue {color:#3c6699}
a.link-blue:hover {text-decoration:underline}

a.link-darkblue {color:#022652}
a.link-darkblue:hover {text-decoration:underline}

a.link-blue-over {text-decoration:underline;color:#3c6699}

a.link-gr {text-decoration:underline;color:#b2b2a8}

a.link-gro {text-decoration:underline;color:#b2b2a8}
a.link-gro:hover {color:#696969}

a.link-topmenu {color:#f9c36d;font-weight:bold}
a.link-topmenu:hover {text-decoration:none}

a.link-topmenu-u {color:#f9c36d;font-weight:bold}
a.link-topmenu-u:hover {text-decoration:underline}

a.link-topmenu-l {color:#E68E08;font-weight:bold}
a.link-topmenu-l:hover {text-decoration:none}

a.link-dy {color:#E68E08;font-weight:bold}
a.link-dy:hover {text-decoration:underline}

a.wl {font-weight:bold;font-size:14px;color:white;font-family:Arial}
a.wl:hover {text-decoration:underline}

.breadcrumbs a {font-size:14px;color:#001A85;font-family:Arial;font-weight:bold}
.cnt p a {text-decoration:underline;color:#001A85}
a.roll_back_link {display:block;background:#EFEFEF;width:147px;border-radius:5px;border:2px solid #F9C36D;padding:5px;margin-right:10px;text-transform:uppercase;text-align:center}
a.roll_back_link:hover {background:#d8d8d8;color:black}
/*****/

/* Text */
.sm-gr {color:#b7b7ae}
.sm-gyl {color:#b8b89a;font:normal 12px Tahoma}
.sm-dgr {color:#93938c;font:normal 10px Tahoma}
.err {color:#e30e27}
.success {color:#3CB371}
h3.title {text-align:center;color:#001a85}
.title-small {font-weight:bold;color:#ffd403}
.title1 {color:#001a85;font-size:14px;font-family:Arial;font-weight:bold;margin:2px 0 7px 0}
.txt-b {color:#001a85}
.object-short-info {width:100%;margin:3px 0 3px 0}
.txt-bb {color:#001a85;font-weight:bold;font-family:Arial;font-size:12px}
.obj-count {color:#9E9E9E;font-weight:normal;font-size:12px}
.cnt h1.info-title {margin-left:10px;font-size:14px}
.txt-block {color:#2e2e2e;font-family:Arial;font-size:13px;margin:2px 0 10px 0}
.txt-page-ob-desc {font-size:10px;color:#9E9E9E}
.txt-bold-gray {color:Gray;font-weight:bold}
.title2 {color:#F9C36D;font-size:12px;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif}
.title3 {color:#FB8C03;font-size:14px;font-style:italic;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif}
.col-news .cnt h1.title3 {margin:6px 0 5px 25px;font-weight:bold;font-size:18px}

#search_objects_form {}
#search_objects_form table {width:100%;border:0px;/* border="0" * / border-collapse:collapse;/* cellspacing="0" */}
#search_objects_form #form_table {border:solid 1px #001A85;border-collapse:collapse;margin-top:5px;background-color:#D2D5E4}
#search_objects_form #form_table td {padding:0px;/* cellpadding="0" */}
#search_objects_form #form_table td.title {text-align:center;padding:2px}
#search_objects_form #form_table td input[type=text].flat,
#search_objects_form #form_table td select.flat {width:150px}
#search_objects_form #form_table td #intObjID {width:70px;text-align:right;padding-right:3px}
#search_objects_form #form_table td #moreSearchFields {display:none}
#search_objects_form #form_table td #listOfSearchLinks td:odd {width:5%;vertical-align:top}
#search_objects_form #form_table td #listOfSearchLinks td img {margin:4px 7px 3px 11px;border:0}
#search_objects_form #form_table td #listOfSearchLinks td a {font-size:14px;font-weight:bold}
#search_objects_form #moreSearchFields .cbx-search-label {position:relative;top:-2px}

.search-block-etap {position:relative}
.search-block-etap .search-popup-block-etap {position:absolute;z-index:10;top:17px;left:0;border:1px solid;display:none}
.search-block-etap .search-popup-block-etap ul {list-style-type:none}
.search-block-etap .search-popup-block-etap ul li {background:#F2F1F0;padding:0 3px}
.search-block-etap .search-popup-block-etap ul li:hover {background:#FFAE02;color:black;cursor:pointer}

.box-list {}
.box-list ul {display:inline-block;list-style:none outside none}
.box-list ul li {width:180px;margin-right:20px;padding:0 12px 20px;display:inline-block;vertical-align:top}
.box-list ul li.last {margin-right:0}
.box-list ul li p {margin:0 0 4px;padding:0;font-size:12px}
.box-list ul li p img {width:178px}
.box-list ul li p:first-child {margin:0 0 8px;padding-bottom:10px;border-bottom:1px solid #d0d0d0;text-align:center}
/*****/


/* Input Fields */
input.flat,
input.flat-y,
select.flat,
select.flat-y,
textarea.flat,
textarea.flat-y {font-size:10px;border:1px solid #737685}

input.flat-y,
select.flat-y,
textarea.flat-y {border-color:#1d4374}
input.standart {border:1px solid #9d9d9d;font-size:11px;background-color:#cfcfcf;color:#4E4E4E}

.button-set button {background-color:#d1d5e3;border:none;padding:4px 17px;cursor:pointer}
.button-set button:hover {box-shadow:0 0 2px #333333}
.btn-orange {border:1px solid #aa7766;background-color:#ffcf5e;font-size:14px}

.flat.search-field {width:270px;height:19px;font-size:14px}
/*****/


/* START:For the Workshop Menu */
#main_top_menu_block {height:24px;background-color:#27277C;margin-top:5px;margin-left:5px;margin-right:5px}
#sm {position:absolute;background-color:#27277c;display:none;z-index:2;top:22px;left:0;border-left:solid 1px #F9C36D;border-bottom:solid 1px #F9C36D;border-right:solid 1px #F9C36D;width:100%}
#sm div {padding-top:3px;padding-bottom:3px}
#sm div .linkH:hover {text-decoration:underline;color:#F9C36D}

#main_top_menu_block div:hover div, #main_top_menu_block div.over div {display:block}
/* END:For the Workshop Menu */

.news-attachments {margin:4px 0 30px 30px;list-style-type:none}
.news-attachments li {}
.news-attachments li a {}

/* FotoBaza */
#fotobasa {padding:30px 18px 50px}
#fotobasa .block-left,
#fotobasa .block-right {width:48%;text-align:center;margin-bottom:20px;padding:5px}
#fotobasa .block-left {float:left}
#fotobasa .block-right {float:right}
#fotobasa .box-cartoons,
#fotobasa .box-fotobank {width:300px;min-height:400px;border:1px solid #CCCCCC;margin:0 auto;padding:5px}
#fotobasa .head-box {position:relative;color:white;background:#a1a08c;height:56px}
#fotobasa .block-right .head-box {background:#f9860e}
#fotobasa .head-box h1 {font-size:23px;margin:0 0 0 5px;position:relative;text-align:left;text-transform:uppercase;top:15px}
#fotobasa .head-box h1 span {color:#1D0E76}
#fotobasa .head-box p {font-size:14px;margin:0;position:absolute;right:5px}
#fotobasa .head-box .p1 {top:2px}
#fotobasa .head-box .p2 {top:21px}
#fotobasa .head-box .p3 {top:38px}
#fotobasa .search-box {margin-top:7px}
#fotobasa .search-box label {color:#fc8800;float:left;margin-right:5px;font-size:11px}
#fotobasa .search-box input {border-right:0 none;height:13px;margin:0;padding:0;width:180px;position:relative;top:0;float:left}
#fotobasa .search-box img {left:-3px;margin:0;padding:0;position:relative;top:0;float:left;cursor:pointer}

#fotobasa .vertical-scrollable {margin:12px 0 4px;width:300px;height:300px;/* required settings for Scrollable Tool ==> */ position:relative;overflow:hidden}
/* root element for scrollable items */
#fotobasa .vertical-scrollable .items {position:absolute;width:300px;/* this time we have very large space for height */ height:7000em;margin:0px}

#fotobasa #fotolenta .fotorecord {margin:0 0 10px;width:300px;height:90px;text-align:left}
#fotobasa #fotolenta .fotorecord img {float:left;margin:2px 7px 1px 0;width:115px;max-height:90px;border:1px solid #484848}
#fotobasa #fotolenta .fotorecord p {margin:1px 0;padding:0;color:#484848;font-size:11px;display:block}
#fotobasa #fotolenta .fotorecord a {color:#333333;text-decoration:none;font-size:13px}
#fotobasa #fotolenta .fotorecord a:hover {text-decoration:underline}
#fotobasa #fotolenta .fotorecord .date {color:#333333;font-weight:bold}

#fotobasa .disabled {visibility:hidden}
#fotobasa .actions a {cursor:pointer;-moz-transition:color 2.5s ease 0s}
#fotobasa .actions a:hover {color:red}
#fotobasa .actions .prev {margin-right:40px}

#fotobasa #cartoonlenta {height:400px}
#fotobasa #cartoonlenta .fotorecord {width:300px;height:200px;margin-bottom:10px}
#fotobasa #cartoonlenta .fotorecord img {width:240px;border:1px solid #484848}

#box_main_photo {width:600px;float:left;margin-right:20px}
#box_main_photo .main-photo {width:600px}
#box_control_photo {}
#box_control_photo #box_arrows {margin-bottom:30px}
#box_control_photo #box_arrows img {cursor:pointer}
#box_control_photo #box_arrows img:first-child {}
#box_control_photo #box_info {}
#box_control_photo #box_info p {}

.foto-page table {margin-top:30px;width:600px}
.foto-page table tr td:first-child {text-align:right;color:#9d9d9d;width:24%}
.foto-page table tr td {border-bottom:1px solid #CFCFCF;padding:3px 2px}
.foto-page table tr:last-child td {border-bottom:0}

#mainNovelty {margin:10px auto 20px;width:92%;border-bottom:1px solid #dfdfdf;padding-bottom:20px;padding-right:20px}
#mainNovelty h1 {color:#303030}
#mainNovelty div.main-photo-block {width:460px;margin-right:30px;float:left}
#mainNovelty img {width:460px}
#mainNovelty .date {font-weight:bold}
#mainNovelty p {margin:2px 0 4px;text-align:justify}



/* position and dimensions of the navigator */
.navi {margin-left:200px;width:200px;height:20px;margin-top:8px}
/* items inside navigator */
.navi a {width:8px;height:8px;float:left;margin:3px;background:url(/storage/siteimg/content/navi/navigator.png) 0 0 no-repeat;display:block;font-size:1px}
/* mouseover state */
.navi a:hover {background-position:0 -8px}
/* active state (current page state) */
.navi a.active {background-position:0 -16px}


.dropdown-box {min-height:20px;min-width:140px;background:#D2D5E4;position:absolute;right:15%;border-radius:0 0 5px 5px;border:1px solid black;border-top:none;margin-top:-7px}
.dropdown-box .arrows {background:url("/storage/siteimg/darr_down.gif") no-repeat scroll 98% 0 transparent;bottom:4px;height:12px;left:8px;position:absolute;width:96%}
.dropdown-box ul {list-style:none outside none;margin:6px 4px 0}
.dropdown-box ul li label {cursor:pointer;position:relative;top:-3px}
.dropdown-box .selector {display:none}
.dropdown-box .note {margin:0 0 0 8px;position:relative;top:3px}

.blinked {background:#DB2828 !important}

#dropdown-region {width:150px}
#dropdown-est-type {width:210px;right:35%}

#box-releases {width:100%}
#box-releases.cols1 .col {width:100%;float:none !important}
#box-releases.cols2 .col {width:50%}
#box-releases.cols3 .col {width:33%}
#box-releases.cols4 .col {width:25%}
#box-releases .col {float:left}
#box-releases .col .row {}

.clearer:after {display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden}

.parallax {perspective:1px;height:115px;overflow:hidden;padding-top:45px}
.parallax .top-image {position:absolute;top:0;left:160px}
.parallax .top-icons {position:absolute;top:10px;left:20px}
.parallax .top-icons ul {}
.parallax .top-icons ul li {display: inline-block;padding:5px}
.parallax__layer {position:absolute;top:0;right:0;bottom:0;left:0}
.parallax__layer--back {/*transform: translateZ(-1px) scale(2);*/background: url("/storage/siteimg/top/menu.bg-ny.jpg") 0 100% no-repeat;background-attachment:fixed}
.parallax__layer--back > a {text-shadow: 1px 1px 2px grey;line-height:2.3;vertical-align:middle;display:block;height:115px;color:white;text-align:center;font-size:40pt;font-weight:bold}
.parallax__group {position:relative;height:115px;/*transform-style:preserve-3d*/}
.parallax__group .menu-box {border-left: 1px solid black;border-right: 1px solid black;width: 168px;left:17px;background-color: #00005A;opacity:0.8;height:115px;position:absolute}
.parallax__group .auth-box {width:320px;right:0;height:115px;position:absolute}
.parallax__group .title-box {width:410px;height:115px;position:relative}

@media screen and (max-width: 1466px) {
    .parallax__layer--back > a {font-size: 34pt;line-height:2.5;text-indent:20px}
}
@media screen and (max-width: 1324px) {
    .parallax__layer--back > a {font-size: 28pt;line-height:3.1;text-indent:80px}
}
@media screen and (max-width: 1260px) {
    .parallax__layer--back > a {font-size: 24pt;line-height:3.6;text-indent:110px}
}
@media screen and (max-width: 1124px) {
	.parallax__layer--back > a {font-size: 22pt;line-height:4.2;text-indent:190px}
}

.auth-block::before {width:198px;height:100px;background-color:#FFFFCD;content:" ";position:absolute;opacity:0.4}
.auth-block {width:198px;padding:5px;margin-top:4px;position:relative;left:110px}
.auth-block #account_info_box {position:relative;padding:3px 5px}
.auth-block #account_info_box table td {text-align:left}
.auth-block #account_info_box #blocknote {position:absolute;right:0;top:0}
.auth-block #account_info_box .welcome {padding:0;display:inline-block;font-size:13px;color:#001a85;font-weight:bold}
.auth-block #account_info_box .subs {color:darkred}
.auth-block #account_info_box h3 {margin:3px 0;font-size:14px;text-transform:uppercase}
.auth-block > form {position:relative}
.auth-block > form table {margin-top:4px}
.auth-block > form table td {padding:1px 4px}
.auth-block > form input.flat {width:128px}
.auth-block.authed-success {width:304px;left:0}
.auth-block.authed-success::before {width:214px}
.cnt a#zoomer img,
.cnt a[rel=fotobank_group] img {margin-right:10px}
.box-object-photos {clear:both;overflow:hidden}
.box-object-photos #zoomer,
.box-object-photos a.roll_back_link {float:left}
.add_to_notebook {float:right;margin-right:20px}

.bottom-buttons {color:red}
.tbl-buttons {border-collapse:collapse}
.tbl-buttons td {padding:10px;margin:0;width:100px}
.tbl-buttons td img {border:0;cursor:pointer;margin-bottom:7px}
.tbl-buttons td:hover label {color:black}

#comment_agreement {width:77%}
#comment_agreement ul {padding-left:40px}
.comments_block {margin:10px 0 40px}
.comment-record {margin:0 0 18px;padding-left:20px;background:url(/storage/siteimg/content/item.long.arrow.gif) 0 3px no-repeat}
.comment-record b {color:#97678d}
.comment-record p {padding:3px 0 0;margin:0}
.comment-record a.write:hover {color:#000066}

.blink_me {
	-webkit-animation-name:blinker;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;

	-moz-animation-name:blinker;
	-moz-animation-duration:1s;
	-moz-animation-timing-function:linear;
	-moz-animation-iteration-count:infinite;

	animation-name:blinker;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}

@-moz-keyframes blinker {
	0% { opacity:1.0}
	50% { opacity:0.0}
	100% { opacity:1.0}
}

@-webkit-keyframes blinker {
	0% { opacity:1.0}
	50% { opacity:0.0}
	100% { opacity:1.0}
}

@keyframes blinker {
	0% { opacity:1.0}
	50% { opacity:0.0}
	100% { opacity:1.0}
}

div.row {margin:5px 0}
div.box_dop_info {background-color:#f4f6fa;padding:10px 20px}
div.row_dop_info_hidden {font-size:14px;line-height:1.4}
div.row_dop_info {border-bottom:1px blue solid;padding-bottom:10px;margin-bottom:10px;text-indent:22px;background:url("/storage/siteimg/content/item.long.arrow.gif") no-repeat scroll 1px 3px transparent}

a.maps {padding:4px 0 0 17px;margin:0 0 0 30px;background:url(/storage/siteimg/map3.png) 0 0 no-repeat;display:none}
a.map-sign {padding:4px 0 0 17px;background:url(/storage/siteimg/map3.png) 0 0 no-repeat}
#mapBox {
	width:600px;
	height:417px;
	margin:0 0 0 -300px;
	padding:0;
	border:3px solid #01737B;
	background-color:#01737B;
	position:fixed;
	top:100px;
	display:none;
	left:50%;
}
#map {height:400px;width:600px;position:relative;bottom:0;display:block;background-color:white}
#mapBox .close {text-align:right;display:block;color:#FFFFFF;font-weight:bold;padding:0 7px 3px 0;text-decoration:none}

.chapter_type {margin-left:10px}
form #resetSearch {display:none}
#cell-estate-type {background-color: #EFEFEF; padding: 2px}
#cell-estate-type table {}
#cell-estate-type table tr {}
#cell-estate-type table tr td {border-bottom:1px solid #AFAFAF;padding:3px 0 !important;font-size:11px}
#cell-estate-type table tr:last-child td {border-bottom:0}

.search-table-list .link-blue:visited .title1 {color:#497352}
