/* Global */
html {height: 100%}
body {margin: 0px 0px 0px 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; height: 100%}

/* Fonts */
.tab-10-green {color: #4AAE10; font-size: 10px}
.tab-10-r, .txt-10-red {color: #CC0000; font-size: 10px}
.txt-9-b {font-size: 9px;  color: #000000}
.txt-9-r {font-size: 9px;  color: #CC0000}
.txt-10-b {font-size: 10px;  color: #000000}
.txt-10-gray {font-size: 10px; color: #5F5F5F}
.txt-10-g {font-size: 10px; color: #4D729A}
.field-label {font-size: 11px; color: #5F5F5F}

.tab-w {color: #FFFFFF} /* base-w in OLD man */
.tab-r, .err {color: #CC0000}
.tab-g {color: #CCCCCC}
.tab-gb {color: #727272}
.tab-o {color: #FF7707}
.tab-gr {color: #669933}
.tab-bl {color: #4D729A}
.tab-bl-b {color: #4D729A; font-weight: bold}
.txt-page-ob {font-size: 12px; color: #1A7071}
.txt-page-ob-desc {font-size: 10px; color: #999999}
span.over-layer {font-weight: bold; position: absolute; left: 10px}
span.italic-url-title {font-style: italic; color: #9d9d9d; line-height: 1.7}
span.italic-url-title a {color: inherit; text-decoration: none}
span.italic-url-title a:hover {text-decoration: underline}
h2 {color: #1A7071; margin: 7px 0; text-shadow: 1px 1px 3px #808080 }
h4 {margin: 0 0 5px}

#wmbm_content h4 { color: #808080; font-weight: normal}
#wmbm_content input[type=button],
#wmbm_content input[type=submit]
{-moz-transition: background 0.5s ease 0s; -webkit-transition: background 0.5s ease 0s; -o-transition: background 0.5s ease 0s; transition: background 0.5s ease 0s}

.chapterTitle { background: #CECECE; line-height: 1.8; padding-left: 7px !important}
.chapterTitle .txt-9-b { text-shadow: 1px 1px 0 #fff }
td.tdL.chapterTitle {text-align:left}

/* Links */
.link-w {color: #FFFFFF; font-size: 11px; text-decoration: none}
.link-w:hover {text-decoration: underline}
.link-b {color: #000000; font-size: 10px; text-decoration: none; -moz-transition: color 0.5s ease 0s; -webkit-transition: color 0.5s ease 0s; -o-transition: color 0.5s ease 0s; transition: color 0.5s ease 0s}
.link-b:hover {text-decoration: underline; color: #4D729A}
.link-green {color: #025920; font-size: 10px; text-decoration: none}
.link-green:hover {text-decoration: underline}
.link-red {color: #CC0000; font-size: 10px; text-decoration: none}
.link-red:hover {text-decoration: underline}
.link-orange {color: #FF7707; font-size: 10px; text-decoration: none}
.link-orange:hover {text-decoration: underline}
.link-gray {color: #CCCCCC; font-size: 10px; text-decoration: none}
.link-gray:hover {text-decoration: underline}
.link-blue {color: #4D729A; font-size: 10px; text-decoration: none}
.link-blue:hover {text-decoration: underline}
.l {text-decoration: none; color: #030303}
.l:hover {	text-decoration: underline}
.go-out {color:#FF7707;text-decoration: none; font-size:12px}
a.l1 {color: #3565a5}
a.b {font-weight: bold}

div.block-go-out {margin: 5px 0 0}
label {cursor: pointer}
.fr {float: right}
.fl {float: left}

/* Table head cells */
/*table {border: 0; border-collapse: collapse; width: 100%}*/
table, td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000}
td {border: none}
.tdL {border-style: solid; border-width: 0px 0px 1px 0px; border-color: #DDDDDD; padding-top: 2px !important; vertical-align: top; text-align: right}
.tdR {border: solid; border-width: 0px 0px 1px 1px; border-color: #DDDDDD}
.tdC {border: solid; border-width: 0px 0px 0px 1px; border-color: #DDDDDD}
.tdLT {border: solid; border-width: 1px 0px 1px 0px; border-color: #DDDDDD}
.tdRT {border: solid; border-width: 1px 0px 1px 1px; border-color: #DDDDDD}
.tab-head-w {color: #FFFFFF; font-weight: bold; padding: 2px 5px 1px 5px}
.caption {text-align: right; width: 25%; vertical-align: top; padding-top: 2px !important}
td.tab_out {background-color: White}
td.tab {background-color: #FFE4E1}

.tdL.list-functions {line-height: 1.5}

table.list-rel-companies {}
table.list-rel-companies input[type=checkbox][disabled]:checked {display: inline}
table.list-rel-companies td {line-height: 1.3; padding: 1px 11px}

table.base-info {width: 90%}
table.rel td {position: relative}

thead th {background: none repeat scroll 0 0 #0E467F; color: #FFFFFF; font-family: 'Ubuntu'; font-size: 11px; font-weight: normal; height: 20px; padding: 2px 5px 1px}

/* Forms elements */
form {margin:0}
form input[type=text] {width: 400px}
form textarea {width: 400px; height:50px;overflow-y:auto;word-wrap:break-word}
select.plane, textarea.plane, input.plane, select.error, textarea.error, input.error, textarea.code {font-family: Verdana, Arial, Helvetica, sans-serif; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-color : #999999; font-size: 11px; height: 17px}
.plane-b {font-family: Verdana, Arial, Helvetica, sans-serif; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-color : #999999; font-size: 11px; height: 17px; background-color:#EEEEEE}
textarea.plane, textarea.error, textarea.code {height: auto; min-height: 50px}
input.plane-enter {color: #FFFFFF; background-color: #9E9E9E}
input.plane-enter:hover {color: #FFFFFF; background-color: #01737B}
input.plane-save {color: #FFFFFF; background-color: #999}
input.plane-save:hover { background-color: #6682CC}
input.plane-reset {color: #000000; background-color: #CCCCCC}
input.plane.small {width: 60px !important}
input.file {font-family: Arial; height: 17px; background-color:#EEEEEE; font-size: 8px}
table input[type=checkbox][disabled]:checked {display: none}
table input[type=checkbox][disabled]:checked + label {background: url("../images/checkbox.png") no-repeat scroll 0 0 transparent; display: block; height: 22px; position: relative; top: -4px; width: 25px}

.hidden {display: none}
.cms-box {border: 0; border-collapse: collapse; width: 90%}
/*.cms-box td {padding: 0}*/
.box-page-title {margin-top: -24px}

/* Drag & Drop field */
#dropZone {color: #555; font-size: 14px; text-align: center; width: 320px; padding: 30px 40px; margin: 20px 0 3px; background: #eee; border: 1px solid #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: none}
#dropZone.hover {background: #ddd; border-color: #aaa}
#dropZone.error {background: #faa; border-color: #f00}
#dropZone.drop {background: #afa; border-color: #0f0}
#attachedFiles {display: none}

#wmbm_leftmenu_box table {border: 0; border-collapse: collapse; width: 100%}
#wmbm_leftmenu_box table td {padding: 0}
#wmbm_leftmenu_box td.menu-items {line-height: 1.7; vertical-align: top; padding: 5px 0}
#wmbm_leftmenu_box td.menu-items .arrow-pic {margin: 0 4px 1px}
#wmbm_leftmenu_box td.menu-items .sub-arrow-pic {margin-left: 14px;margin-right: 5px}
#wmbm_leftmenu_box table .tab-w {font-size: 10px; font-weight: bold}

#block_menu_head {margin-bottom:7px}

#block-site-maintaince,
#block-chapter-maintaince {margin:7px 0}
#block_menu_head tr:first-child td,
#block-site-maintaince tr:first-child td,
#block-chapter-maintaince tr:first-child td {padding: 5px; text-align: right}


.fotobank-thumbs {list-style-type: none; margin: 0; padding: 0; width: 638px}
.fotobank-thumbs li {display: inline-block; vertical-align: top; width: 150px; margin:0 4px 6px 0; padding-top: 3px; border: 1px solid #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px}
.fotobank-thumbs li.main {background: rgba(178, 248, 176, 0.31)}
.fotobank-thumbs li.active {border: 1px solid #a5eda8}
.fotobank-thumbs li>div {min-height: 80px; text-align: center; width: 148px}
.fotobank-thumbs .control-fotodata {list-style-type: none; margin: 4px auto 0; padding: 0; width: 82px}
.fotobank-thumbs .control-fotodata li {width: 40px; text-align: center; padding: 0; margin: 0; border: 0}
.fotobank-thumbs .control-fotodata li a {margin: 0}
.fotobank-thumbs .thumb {width: 138px}
.fotobank-thumbs .form-properties {display: none}

div.ok {background: #afa; border-color: #0f0; padding: 2px 7px}
div.error {background: #faa; border-color: #f00; display: none; padding: 2px 7px}

#propertiesZone {display: none}
#save_property table {}
#save_property table tr td:first-child {width: 180px; text-align: right; padding-right: 5px; vertical-align: top}
#save_property textarea {height:50px; overflow-y:auto; word-wrap:break-word}
#save_property textarea,
#save_property input[type=text] {width:333px}

#intImgValueShow {font-weight: bold; font-style: italic; color: #353F73}
.paginator {width: 98%}

.popup_block {width: 340px}
.popup_block table {width: 99%}
.popup_block input[type=text] {width: 220px}
.popup_block textarea.plane {width: 220px; height: 77px}

.box-link-add {margin: 0 0 10px}
.box-link-add img {position: relative; top: 3px}


/* jQuery UI Datepicker */
.ui-datepicker-buttonpane .ui-priority-secondary {opacity: 1}
.ui-datepicker-buttonpane .ui-priority-primary {font-weight: normal}

/* Spamer */
.list-items {margin:0; width:99%}
.list-items td {font-size: 13px}
.list-items tbody tr:nth-child(even) td {background-color: #F5F8FA}

.list-items.companies td {font-size: 12px; padding: 3px 7px}

#select_subscribers_form p {font-size: 14px}
#select_subscribers_form select {font-size: 12px; height: 20px}
