td.tab_on {
  background-color: #EDEDED;
  cursor: hand;
}

/* Forms elements */
input.plane-enter, input.plane-save, input.plane-reset {
	border-style: solid;
	font-size: 11px;
	/*background-color: #01737B;*/
	/*color: #FFFFFF;*/
	font-weight: bold;
	letter-spacing: 1px;
	height: 20px;
	cursor: hand;
	padding: 0 6px;
}

input.plane-reset {
  color: #000000;
  background-color: #CFC0C0;
}

.finger {
  cursor: hand;
}
