td.tab_on { background-color: #EDEDED; cursor: pointer; }

/* Forms elements */
input.plane-enter, input.plane-save, input.plane-reset { background-color: #01737B; border-radius: 7px 7px 7px 7px; -webkit-border-radius: 7px; border-style: solid; color: #FFFFFF; cursor: pointer; font-size: 11px; font-weight: bold; letter-spacing: 1px; padding: 2px 4px; }
input.plane-reset { color: #000000; background-color: #CFC0C0; }
.finger { cursor: pointer; }
